// 首页和平台接入页使用
div.container.flex
  div.figure
    img(src="./images/index-guide-04@2x.png").figure-img
    div.figure-text
      div.figure-title 客户全生命周期管理
      span 客户全生命周期营销和管理，深度挖掘客户价值
  div.figure
    img(src="./images/index-guide-03@2x.png").figure-img
    div.figure-text
      div.figure-title 新零售战略部署
      span 新零售全套解决方案，即刻转型，快速部署
  div.figure
    img(src="./images/index-guide-02@2x.png").figure-img
    div.figure-text
      div.figure-title 引领企业数字化转型
      span 领先的互联网架构，满足快速开发，降本增效
  div.figure
    img(src="./images/index-guide-01@2x.png").figure-img
    div.figure-text
      div.figure-title 第三代融合云服务
      span 提供敏捷开发，高效运维，精准运营的整体交付云服务
