div.component-tabs-wrap
  div.component-tabs
    div.component-tab
      i.font_family.icon-jiaoyupeixun_fuzhi
      div.word-block 用户全生命周期管理
    div.component-tab.active
      i.font_family
      div.word-block 客户线上分析
    div.component-tab
      i.font_family
      div.word-block 线下门店分析
    div.component-tab
      i.font_family
      div.word-block 广告投放分析
  div.component-tab-content
    div.left-side
      img(src="../../images/product-s1-kehuxianshang.jpg")
    div.right-side
      div.title 客户线上分析
      div.content.
          根据不同的企业需求，灵活组合产品形态。针对电商场景，提供用户的营销触达、埋点分析、会员信息管理服务，<!--
          -->记录下客户的点滴行为。根据不同的企业需求，灵活组合产品形态。针对电商场景，<!--
          -->提供用户的营销触达、埋点分析、会员信息管理服务针对电商场景，提供用户的营销触达、埋点分析、会员信息管理服务，记录下客户的点滴行为。
