-
  //营销智能菜单
  var iMarketing = [
  {title: '客户管理 CRM', desc: '商客关系应用管理', labelClass: ['green'], label: '免费体验', href: 'product-crm.html'},
  {title: '广告投放管理 SmartAd', desc: '营销实时投放、集中管理', href: 'product-smartad.html' },
  {title: '营销管理 DMM', desc: '市场营销收集', href: 'product-dmm.html' },
  {title: '营销数据分析 SmartDA', desc: '数据智能化分析', href: 'product-smartda.html' }
  ]

  //全渠道销售菜单
  var iSales = [
  {title: '数字商城 DMall', desc: '供、销、售商业闭环应用', href: 'product-dmall.html' },
  {title: '数字门店 Dstore', desc: '提供智能化门店', href: 'product-dstore.html'},
  {title: '社会化分销 SDP', desc: '提供智能化分销', href: 'product-sdp.html'},
  {title: '智能客服CSC', desc: '提供智能化客服'},
  {title: '收银&POS DCC', desc: '零售收银、POS应用等'},
  {title: '智慧订货 SCM', desc: '提供智能化订货'},
  {title: '电商ERP DERP', desc: '电商在线一体化管理', href: 'product-erp.html'}
  ]

  //企业数字化菜单
  var iDigitalPlatform = [
  {title: '开发平台 Stonehenge', desc: '提供对外开发接口', href: 'product-stonehenge.html' },
  {title: '运营平台 Tourbillon', desc: '让用户轻松便捷管理企业', href: 'product-tourbillon.html'},
  {title: '运维平台 Colosseum', desc: '让用户轻松便捷管理企业', href: 'product-colosseum.html'},
  {title: '组件市场 Pyramid', desc: '自由构建业务系统', href: 'product-pyramid.html'},
  {title: 'API网关 Greatwall', desc: '统一管理API请求', href: 'product-greatwall.html'},
  {title: '易开发 EasyDev', desc: '帮助企业快速开发', },
  {title: '微服务治理 Baton', desc: '提供微服务治理服务', href: 'product-baton.html'},
  {title: '主数据管理 IMDM', desc: '提供数据管理服务'}
  ]

  //云管平台菜单
  var iCloudPlatform = [
  {title: '云管平台 ICP', desc: '供、销、售商业闭环应用', href: 'product-icp.html' }
  ]
