-
  //营销智能菜单
  var iMarketing = [
  {title: '客户管理 CRM', desc: '客户全生命周期管理', labelClass: ['red'], label: '免费体验', href: 'product-crm.html'},
  {title: '广告投放管理 SmartAd', desc: '广告投放智能分析与优化', href: 'product-smartad.html' },
  {title: '营销管理 DMM', desc: '营销全流程灵活配置', href: 'product-dmm.html' },
  {title: '营销数据分析 SmartDA', desc: '营销数据挖掘及管理', href: 'product-smartda.html' }
  ]

  //全渠道销售菜单
  var iSales = [
  {title: '数字商城 DMall', desc: '多租户多渠道多店铺', href: 'product-dmall.html' },
  {title: '数字门店 Dstore', desc: '门店新技术新顾客体验', href: 'product-dstore.html'},
  {title: '社会化分销 SDP', desc: '智能新零售社会化分销平台', href: 'product-sdp.html'},
  {title: '智能客服CSC', desc: ''},
  {title: '收银&POS DCC', desc: '零售收银、POS应用等'},
  {title: '智慧订货 SCM', desc: '提供智能化订货'},
  {title: '电商ERP DERP', desc: '全渠道跨平台ERP', href: 'product-erp.html'}
  ]

  //企业数字化菜单
  var iDigitalPlatform = [
  {title: '开发平台 Stonehenge', desc: '最新技术栈快速开发方案 ', href: 'product-stonehenge.html' },
  {title: '运营平台 Tourbillon', desc: 'API接口快速提供中台服务', href: 'product-tourbillon.html'},
  {title: '运维平台 Colosseum', desc: '贯穿产品生命周期', href: 'product-colosseum.html'},
  {title: '组件市场 Pyramid', desc: '降低开发成本及风险', href: 'product-pyramid.html'},
  {title: 'API网关 Greatwall', desc: 'API全生命周期托管', href: 'product-greatwall.html'},
  {title: '易开发 EasyDev', desc: '帮助企业快速开发', },
  {title: '微服务治理 Baton', desc: '微服务管理及全链路追踪', href: 'product-baton.html'},
  {title: '主数据管理 IMDM', desc: '提供数据管理服务'}
  ]

  //云管平台菜单
  var iCloudPlatform = [
  {title: '云管平台 ICP', desc: '敏捷开发高效运维精准运营', href: 'product-icp.html' }
  ]
