-
  var productLines = {
    iMarketing: {name: '营销智能', en: 'i－Marketing', href: 'i-marketing.html', img: './images/i-marketing.png'},
    iSales: {name: '全渠道销售', en: 'i－Sales', href: 'i-sales.html', img: './images/i-sale.png'},
    iDigitalPlatform: {name: '企业数字化平台', en: 'i－Digital Platform', href: 'i-digital-platform.html', img: './images/i-platform.png'},
    iCloudPlatform: {name: '云管平台', en: 'i－Cloud Platform', href: 'i-cloud-platform.html', img: './images/i-cloud.png'},
  }

