-
  //营销智能菜单
  var iMarketing = [
  {title: '客户管理 CRM', desc: '客户全生命周期管理', labelClass: ['red'], label: '免费体验', href: 'product-crm.html', icon: 'icon-icon_p19'},
  {title: '广告投放管理 SmartAd', desc: '广告投放智能分析与优化', href: 'product-smartad.html', icon: 'icon-icon_p3' },
  {title: '营销管理 DMM', desc: '营销全流程灵活配置', labelClass: ['red', 'label-length-3'], label: '邀测中', href: 'product-dmm.html', icon: 'icon-icon_p18' },
  {title: '智慧门店 SmartSd', desc: '智能门店管理与服务', icon: 'icon-icon_p2' },
  {title: '营销数据分析 SmartDA', desc: '营销数据挖掘及管理', href: 'product-smartda.html', icon: 'icon-icon_p4' },
  ]

  //全渠道销售菜单
  var iSales = [
  {title: '数字商城 DMall', desc: '多租户多渠道多店铺', labelClass: ['red'], label: '免费体验', href: 'product-dmall.html', icon: 'icon-icon_p4' },
  {title: '数字门店 Dstore', desc: '门店新技术新顾客体验', href: 'product-dstore.html', icon: 'icon-icon_p2'},
  {title: '社会化分销 SDP', desc: '智能新零售社会化分销平台', href: 'product-sdp.html', icon: 'icon-icon_p6'},
  {title: '智能客服CSC', desc: '提供智能化客服', icon: 'icon-icon_p10'},
  {title: '收银&POS DCC', desc: '零售收银、POS应用等', icon: 'icon-icon_p7'},
  {title: '智慧订货 SCM', desc: '提供智能化订货', labelClass: ['red'], label: '即将上线', icon: 'icon-icon_p11'},
  {title: '电商ERP DERP', desc: '全渠道跨平台ERP', href: 'product-erp.html', icon: 'icon-icon_p17'},
  {title: '销售数据分析 SDA', desc: '数据智能化分析', icon: 'icon-icon_p9'},
  ]

  //企业数字化菜单
  var iDigitalPlatform = [
  {title: '开发平台 Stonehenge', desc: '最新技术栈快速开发方案 ', href: 'product-stonehenge.html', icon: 'icon-icon_p12' },
  {title: '运营平台 Tourbillon', desc: 'API接口快速提供中台服务', href: 'product-tourbillon.html', icon: 'icon-icon_p14'},
  {title: '运维平台 Colosseum', desc: '贯穿产品生命周期', href: 'product-colosseum.html', icon: 'icon-icon_p'},
  {title: '组件市场 Pyramid', desc: '降低开发成本及风险', href: 'product-pyramid.html', icon: 'icon-icon_p8'},
  {title: 'API网关 Greatwall', desc: 'API全生命周期托管', labelClass: ['red'], label: '免费体验', href: 'product-greatwall.html', icon: 'icon-icon_p13'},
  {title: '易开发 EasyDev', desc: '帮助企业快速开发', icon: 'icon-icon_p1'},
  {title: '微服务治理 Baton', desc: '微服务管理及全链路追踪', href: 'product-baton.html', icon: 'icon-icon_p5'},
  {title: '主数据管理 IMDM', desc: '提供数据管理服务', icon: 'icon-icon_p3'}
  ]

  //云管平台菜单
  var iCloudPlatform = [
  {title: '云管平台 ICP', desc: '敏捷开发高效运维精准运营', href: 'product-icp.html', icon: 'icon-icon_p20' }
  ]
