-
  var productLines = {
    iMarketing: {name: '营销智能', en: 'i－Marketing', href: 'i-marketing.html'},
    iSales: {name: '全渠道销售', en: 'i－Sales', href: 'i-sales.html'},
    iDigitalPlatform: {name: '企业数字化平台', en: 'i－DigitalPlatform', href: 'i-digital-platform.html'},
    iCloudPlatform: {name: '云管平台', en: 'i－CloudPlatform', href: 'product-icp.html'},
  }

