include get-img-url.jade
-
  // 行业解决方案
  var pageName = 'indexfa_'
  var solutions = [
  {
  title: '地产', desc: '地产行业新营销新销售', href: 'solution-dichan.html', icon: 'icon-dichan',
  bgImg: getImgUrl(pageName, 1),
  relativeProducts: [
  {icon: 'icon-gong', desc: '数字门店'},
  {icon: 'icon-shop', desc: '客户管理'},
  {icon: 'icon-fang', desc: '营销管理'},
  ]
  },
  {
  title: '日化', desc: '数字营销生态用户新旅程', href: 'solution-rihua.html', icon: 'icon-kuaixiao',
  bgImg: getImgUrl(pageName, 2),
  relativeProducts: [
  {icon: 'icon-gong', desc: '数字商城'},
  {icon: 'icon-shop', desc: '数字门店'},
  {icon: 'icon-fang', desc: '客户管理'},
  ]
  },
  {
  title: '农牧', desc: '全产业链数字化创新升级', href: 'solution-nongye.html', icon: 'icon-nongye',
  bgImg: getImgUrl(pageName, 3),
  relativeProducts: [
  {icon: 'icon-gong', desc: '客户管理'},
  {icon: 'icon-fang', desc: '营销管理'},
  ]
  },
  {
  title: '汽车', desc: '汽车行业营销全域数字化', href: 'solution-qiche.html', icon: 'icon-qiche_fuzhi',
  bgImg: getImgUrl(pageName, 4),
  relativeProducts: [
  {icon: 'icon-gong', desc: '数字门店'},
  {icon: 'icon-shop', desc: '客户管理'},
  {icon: 'icon-fang', desc: '营销管理'},
  ]
  },
  {
  title: '医药', desc: '医药行业营销全域数字化', icon: 'icon-yiyaoxiang',
  bgImg: getImgUrl(pageName, 5),
  },
  {
  title: '3C', desc: '3C行业营销全域数字化', icon: 'icon-c_fuzhi_fuzhi',
  bgImg: getImgUrl(pageName, 6),
  },
  ]

