-
  // 行业解决方案
  var solutions = [
  {
  title: '地产行业数字化创新解决方案', desc: '地产行业新营销新销售', href: '', icon: 'icon-dichan',
  relativeProducts: [
  {icon: 'icon-gong', desc: '门店管家'},
  {icon: 'icon-shop', desc: 'BBC商城'},
  {icon: 'icon-fang', desc: '电商ERP'},
  {icon: 'icon-oth', desc: 'B2B智慧订货'},
  ]
  },
  {
  title: '日化行业数字化创新解决方案', desc: '数字营销生态用户新旅程', href: '', icon: 'icon-c_fuzhi_fuzhi'
  },
  {
  title: '农牧行业数字化创新解决方案', desc: '全产业链数字化创新升级', href: '', icon: 'icon-nongye'
  },
  {
  title: '汽车行业数字化创新解决方案', desc: '汽车行业营销全域数字化', href: '', icon: 'icon-qiche_fuzhi'
  },
  {
  title: '医药行业数字化创新解决方案', desc: '医药行业营销全域数字化', icon: 'icon-yiyaoxiang'
  },
  {
  title: '3C行业数字化创新解决方案', desc: '3C行业营销全域数字化', icon: 'icon-kuaixiao'
  },
  ]

