extends layout.jade
block title
  title 客户案例-长安汽车
block content
  include mixin/render-case-detail.jade
  -
    var data = {
    logo: './images/case-detail-changan.jpg',
    customerName: '长安汽车',
    // 简介
    abstract: '长安汽车是中国知名汽车制造企业,中国品牌汽车领导者,拥有CS75、睿骋、逸动、欧诺、悦翔、奔奔等众多知名汽车品牌,并与福特、铃木、马自达、标致雪铁龙建有合资公司。',
    // 背景故事
    background: '长安汽车希望借鉴阿里巴巴的互联网技术，借助阿里巴巴线上线下营销资源优势，针对年轻消费者、社交平台的巨量用户、车联网等技术、全业态整合集群协作、移动设别普及衍生更多消费场景来构建数字化营销战略，合力打造以客户为中心的汽车新营销平台，为长安汽车再次腾飞打好基础。',
    // 实现价值
    value: '提供全新的数据营销、微信营销、经销商营销活动所需资源；\n同时整合多角色、多端全渠道及内外部系统；\n以互联、互通、互求构建数字化营销平台',
    // 解决方案
    solution: '为车企打造官方商城、经销商云店结合的B2B2C电商平台；\n为车企提供粉丝互动、车主社交、品牌话题交流平台；\n为车企、经销商打造实时在线的售后尊享服务平台；\n为车企、经销商提供客户运营智能化平台',
    products: [
    {img: './images/i-sale.png', name: 'iSale', href: ''},
    {img: './images/i-platform.png', name: 'iDigitalPlatform', href: ''},
    {img: './images/i-cloud.png', name: 'iCloudPlatform', href: ''},
    ]
    }
  +renderCaseDetail(data)

