extends layout.jade
block title
  title 客户案例-长安汽车
block content
  include mixin/render-case-detail.jade
  -
    var data = {
    logo: './images/case-detail-changan.jpg',
    customerName: '长安汽车',
    // 简介
    abstract: '长安汽车是中国知名汽车制造企业,中国品牌汽车领导者,拥有CS75、睿骋、逸动、欧诺、悦翔、奔奔等众多知名汽车品牌,并与福特、铃木、马自达、标致雪铁龙建有合资公司。',
    // 背景故事
    background: '长安汽车希望借鉴阿里巴巴的互联网技术，借助阿里巴巴线上线下营销资源优势，针对年轻消费者、社交平台的巨量用户、车联网等技术、全业态整合集群协作、移动设别普及衍生更多消费场景来构建数字化营销战略，合力打造以客户为中心的汽车新营销平台，为长安汽车再次腾飞打好基础。',
    // 实现价值
    value: '实现将长安汽车品牌：官方网站、购车商城，车友论坛，经销商云店统一设计风格，提升用户体验满意度。建设智能数据中心，统一为客户全生命周期的业务运营提供服务。基于数据融通，实现精准化营销；实现汽车行业数字化营销全业态统一建设，沉淀成汽车企业能力中心。',
    // 解决方案
    solution: '',
    products: [
    {img: './images/i-sale.png', name: 'iSale', href: ''},
    {img: './images/i-platform.png', name: 'iDigitalPlatform', href: ''},
    {img: './images/i-cloud.png', name: 'iCloudPlatform', href: ''},
    ]
    }
  +renderCaseDetail(data)

