extends layout.jade
block title
  title 客户案例-茅台
block content
  div.case-detail.case-detail-maotai
    div.first-sight
      div.container
        h1.huge-text 客户案例
        div.msg 赋能企业转型，携手企业发展，引领企业创新，成功案例
        div.customer-logo
          img(src="./images/case-detail-maotai-logo.png" alt="茅台集团").block
          div.customer-title 茅台集团
    div.case-detail-main
      div.container
        h1.customer-name.large-text 茅台云商
        div.sub-detail
          span.filed 快消行业
          span.link https://www.cmaotai.com/
        div.f16.sub-title 客户简介
        p.desc 贵州茅台酒股份有限公司茅台酒年生产量四万吨；43°、38°、33°茅台酒拓展了茅台酒家族低度酒的发展空间；茅台王子酒、茅台迎宾酒满足了中低档消费者的需求；15年、30年、50年、80年陈年茅台酒填补了我国极品酒、年份酒、陈年老窖的空白；在国内独创年代梯级式的产品开发模式。
        div.f16.sub-title 成功故事
        div.caption 故事背景
        p.desc 形意上：三条曲线—寓意有机茅台、科技茅台、人文茅台；中部弧线—表现川流不息、源远流长的赤水河是企业的源泉，也寓意企业如同赤水河一浪推动一浪，一浪更比一浪高。色意上：黄色—是身份与地位的象征，是茅台特有的文化、特有的历史、特有的品质、特有的地位和“人文茅台”所特有的整合价值。绿色—是企业“绿色时代”造就的结晶体“绿色茅台”和“有机茅台”。银灰色—象征企业融合传统工艺与现代科技，不断探索、研究、开发、实施“科技茅台”战略。
        div.caption 解决方案
        p.desc 形意上：三条曲线—寓意有机茅台、科技茅台、人文茅台；中部弧线—表现川流不息、源远流长的赤水河是企业的源泉，也寓意企业如同赤水河一浪推动一浪，一浪更比一浪高。色意上：黄色—是身份与地位的象征，是茅台特有的文化、特有的历史、特有的地位和“人文茅台”所特有的整合价值。
        div.caption 实现价值
        p.desc 形意上：三条曲线—寓意有机茅台、科技茅台、人文茅台；中部弧线—表现川流不息、源远流长的赤水河是企业的源泉，也寓意企业如同赤水河一浪推动一浪，一浪更比一浪高。色意上：黄色—是身份与地位的象征，是茅台特有的文化、特有的历史、特有的品质、特有的地位和“人文茅台”所特有的整合价值。绿色—是企业“绿色时代”造就的结晶体“绿色茅台”和“有机茅台”。银灰色—象征企业融合传统工艺与现代科技，不断探索、研究、开发、实施“科技茅台”战略。
    div.use-product
      div.container
        div.sub-title 使用产品
        div.product-box
          div.card-with-link
            img(src="./images/i-sale.png")
            div.card-name 数据中台
            div.divider
            a().link-btn 查看详情 >
          div.card-with-link
            img(src="./images/i-platform.png")
            div.card-name 业务中台
            div.divider
            a().link-btn 查看详情 >
          div.card-with-link
            img(src="./images/i-cloud.png")
            div.card-name BBC商城
            div.divider
            a().link-btn 查看详情 >





