extends layout.jade
block title
  title 客户案例-茅台云商
block content
  include mixin/render-case-detail.jade
  -
    var data = {
      logo: './images/case-detail-maotai-logo.png',
      customerName: '茅台云商',
      // 简介
      abstract: '茅台酒是我国的国酒，因其独一无二的酿造工艺和深厚的历史底蕴，茅台在白酒行业是顶级的品牌了。作为中国十大奢侈品牌之首，茅台酒一直都是招待贵宾的名酒，在200年前作为朝贡圣品，现在也是招待国家级贵宾的国礼。作为世界三大名酒之一，茅台酒在世界上享有鼎鼎大名。',
      // 背景故事
      background: '大数据和互联网时代的到来，正悄然改变传统的消费场景、消费行为，正急剧颠覆传统的商业模式、营销模式。目前茅台酒的消费者结构转型已基本成功，实现了公务消费向大众消费的转变，但营销模式尚未进行有效的升级，还在依赖于传统营销手段、方式和思维，对新理念、新技术的应用尚不广泛，对消费者行为的研究尚不深入，对消费者画像的勾勒尚不清晰，对消费者购买心理的分析尚不精准，营销政策制定和实施滞后，被动的情况依然存在，市场管理和营销服务亟待转型和升级。',
      // 实现价值
      value: '提升消费者体验，如利用数字化技术推动线上线下交易的融合，更方便、快捷购买到放心的正品商品；\n为科学指导与调配经销商库存，实现库存最优化提供精细的决策支持；协助经销商更好的“做生意”；\n基于大数据分析，广告资源投放精准高效；\n基于互联网共享架构，增强业务创新能力。',
      solution: '建设新零售业务中台，提供15个共享服务中心和超过200个API支持前端全渠道应用的持续扩展创新；\n建设电商侧10个应用及营销侧8个应用共1000多个功能点；\n建设大数据驱动的精准营销、智慧营销，包括舆情分析价格检测、用户画像、产品画像、渠道画像、精准营销及大屏展现等。\n',
      products: [
        {img: './images/i-sale.png', name: 'iSale', href: ''},
        {img: './images/i-platform.png', name: 'iDigitalPlatform', href: ''},
        {img: './images/i-cloud.png', name: 'iCloudPlatform', href: ''},
      ]
    }
  +renderCaseDetail(data)
