extends layout.jade
block title
  title 客户案例-中国一汽
block content
  include mixin/render-case-detail.jade
  -
    var data = {
    logo: './images/case-detail-yiqi.jpg',
    customerName: '中国一汽',
    // 简介
    abstract: '中国第一汽车集团公司简称“中国一汽”或“一汽”，英文名称为FAW，央企成员，国有特大型汽车生产企业。一汽总部位于吉林省长春市，前身是第一汽车制造厂，毛泽东主席题写厂名。一汽1953年奠基兴建，1956年建成并投产，制造出新中国第一辆解放牌卡车。1958年制造出新中国第一辆东风牌小轿车和第一辆红旗牌高级轿车。一汽的建成，开创了中国汽车工业新的历史。经过五十多年的发展，一汽已经成为国内最大的汽车企业集团之一。',
    // 背景故事
    background: '在互联网与自媒体发展迅速日新月异的今天，随着汽车市场的变化，营销模式不断变化，急需在传统业务流程上创新营销，为公司的发展壮大和布局奠定基础。基于此，一汽启明为一汽汽车搭建车队服务运营平台，进行车队服务系统开发、管理和运营。一汽启明车队服务运营需要把公司业务以API的方式公开，供合作伙伴使用，以发掘业务模式、提高服务水平。简化合作伙伴工作，降低运维开发成本，帮助合作伙伴实现服务能力的互通。',
    // 实现价值
    value: '',
    // 解决方案
    solution: '',
    products: [
    {img: './images/i-sale.png', name: 'iSale', href: ''},
    {img: './images/i-platform.png', name: 'iDigitalPlatform', href: ''},
    {img: './images/i-cloud.png', name: 'iCloudPlatform', href: ''},
    ]
    }
  +renderCaseDetail(data)
