extends layout.jade
block title
  title 客户案例-广西扬翔
block content
  include mixin/render-case-detail.jade
  -
    var data = {
    logo: './images/case-detail-yangxiang.jpg',
    customerName: '广西扬翔',
    // 简介
    abstract: '广西扬翔股份有限公司成立于1998年，是农业产业化国家重点龙头企业，旗下32家子公司，员工5000余名。公司主营猪产业，拥有自养猪和服务养猪两大板块，是集种猪、肉猪、猪精、猪饲料、养猪设备、猪动保为一体的全产业链大型农牧企业，致力于打造“基因+产品+服务+互联网”的综合模式。',
    // 背景故事
    background: '为养殖产业链构建从原料到猪产品产出的整个产业链服务，提供从原料、饲料产品、猪精产品、技术服务、营养服务、猪场建设、环控、生物安全等产品服务。涉及到企业间的交易平台B2B，企业与用户的交易商城B2C，企业与农户的专业养猪服务猪场管理系统，及对企业营销市场开拓的CRM系统。',
    // 实现价值
    value: '1、构建养猪产业链综合服务平台，为产业链赋能\n2、重点构建养猪服务能力的共享，为农户提供专业养猪服务\n3、数据实时在线化，掌握生产与市场，提供优质的餐桌食材。',
    // 解决方案
    solution: '1、云徙提出供应链协同+互联网架构（微服务）+云平台方案 \n2、供应链协同为产业链上下游提供在线买卖交易服务，协同上下游业务，提升企业间的运营效率\n3、平台主要为猪场提供养猪赋能，提供生物安全、技术服务、猪基因、猪场建设服务\n4、互联网架构支持快速应用开发，数据和服务实时打通，适应业务变化的特征。',
    products: [
    {img: './images/i-sale.png', name: 'iSale', href: ''},
    {img: './images/i-platform.png', name: 'iDigitalPlatform', href: ''},
    {img: './images/i-cloud.png', name: 'iCloudPlatform', href: ''},
    ]
    }
  +renderCaseDetail(data)

