extends layout.jade
block title
  title 客户案例-富力地产
block content
  include mixin/render-case-detail.jade
  include var/get-img-url.jade
  -
    var data = {
    logo: './images/case-detail-fuli.jpg',
    banner: getImgUrl('case-detail', 1),
    customerName: '富力地产',
    // 简介
    abstract: '广州富力地产股份有限公司（香港联合交易所上市编号：2777）成立于1994年，注册资金8.06亿人民币，集房地产设计、开发、工程监理、销售、物业管理、房地产中介等业务为一体，拥有国家建设部颁发的一级开发资质、甲级设计资质、甲级工程监理资质、一级物业管理资质及一级房地产中介资质,是中国综合实力最强的房地产企业之一。',
    // 背景故事
    background: '在房产交易过程中，存在着以下痛点：\n1、优化提升数据采集和应用能力，线上投放广告未能准确触达用户；\n2、需完善客户画像，提供更精准优质的客户服务；\n3、如何触达客户，与客户建立有效的沟通机制。\n4、物业数据隔离，无法为客户提供优质管理服务。',
    // 实现价值
    value: '1、市场环境分析：针对项目或决策，并与此相关的一系列有关目标客群（消费者）做全面详尽的调查分析。\n2、广告渠道分析：获取各个广告渠道的投放效果，并进行实时监控，经分析投放数据，优化广告渠道和广告内容，丰富广告形式，从而达到最优广告效果。\n3、潜在客户分析：接入阿里的大数据能力提升房企的数据质量，再借助数据分析工具获得潜在客户群，为项目的营销策略和决策提供数据支持。\n4、技术能力积累：融入阿里成熟的技术的能力，一方面提升房企的技术基础，令一方面快速积累技术能力，健全企业的整体技术能力。',
    // 解决方案
    solution: '供应链协同+互联网架构（微服务）+云应用；供应链协同为产业链上下游提供在线买卖交易服务，协同上下游业务\n产品平台主要为猪场提供养猪赋能，提供生物安全、技术服务、猪基因、猪场建设服务。\n',
    products: [
    {img: './images/i-sale.png', name: 'iSale', href: ''},
    {img: './images/i-platform.png', name: 'iDigitalPlatform', href: ''},
    {img: './images/i-cloud.png', name: 'iCloudPlatform', href: ''},
    ]
    }
  +renderCaseDetail(data)
