extends layout.jade
block title
  title 客户案例-吉利汽车
block content
  include mixin/render-case-detail.jade
  include var/get-img-url.jade
  -
    var data = {
    logo: './images/case-detail-jili.jpg',
    banner: getImgUrl('case-detail', 1),
    customerName: '吉利汽车',
    // 简介
    abstract: '',
    // 背景故事
    background: '',
    // 实现价值
    value: '',
    // 解决方案
    solution: '',
    products: [
    {img: './images/i-sale.png', name: 'iSale', href: ''},
    {img: './images/i-platform.png', name: 'iDigitalPlatform', href: ''},
    {img: './images/i-cloud.png', name: 'iCloudPlatform', href: ''},
    ]
    }
  +renderCaseDetail(data)
