extends layout.jade
block title
  title 客户案例-如新中国
block content
  include mixin/render-case-detail.jade
  -
    var data = {
    logo: './images/case-detail-unkown.jpg',
    customerName: '如新中国',
    // 简介
    abstract: '如新集团于1984年创立，从最初以“荟萃优质 纯然无瑕”为诉求生产个人保养产品，发展到今日的营养补充品与其充实积极的善良文化，不仅让无数人活得更有意义，生活质素也更美好，进而迈向“非凡人生 无限延伸”的境界。如新目前已跨越全球近50个市场版图，在全世界拥有超过110万销售人员。',
    // 背景故事
    background: '如新的网站与APP等业务应用登录方式不统一，用户体验不佳，应用各自数据不互通，形成数据孤岛，用户数据结构化程度低，导致无法进行有效的数字化运营。面对互联网业务创新的高需求，当前业务系统的开发环境，无法支撑当前快速业务创新，且系统性能无法支持高并发的压力。',
    // 实现价值
    value: '实现业务能力云化，订阅式应用系统，减少系统重复建设的工作，提高IT系统建设效率，降低系统建设成本；\n提升用户体验，单点用户登录，多个业务应用互通；\n实现用户全生命周期管理，从游客到普通顾客、优惠顾客、经销商，数据驱动运营，持续运营用户。',
    // 解决方案
    solution: '利用公有云能力快速承接平台建设，架构云化，实现两岸四地平台部署 ，大中华地区数据互联互通，实时在线；采用阿里双十一全链路压测技术压测，确保系统安全稳定；\n基于企业级互联网架构重构购物平台、事业工具、产品工具，共享服务能力，重构前端的业务应用；\n规划普通用户的购买业务，扩大用户入口，转化用户。',
    products: [
    {img: './images/i-sale.png', name: 'iSale', href: ''},
    {img: './images/i-platform.png', name: 'iDigitalPlatform', href: ''},
    {img: './images/i-cloud.png', name: 'iCloudPlatform', href: ''},
    ]
    }
  +renderCaseDetail(data)

