extends layout.jade
block title
  title 客户案例-长安汽车
block content
  include mixin/render-case-detail.jade
  -
    var data = {
    logo: './images/case-detail-zhupi.jpg',
    customerName: '长安汽车',
    // 简介
    abstract: '茅台酒是我国的国酒，因其独一无二的酿造工艺和深厚的历史底蕴，茅台在白酒行业是顶级的品牌了。作为中国十大奢侈品牌之首，茅台酒一直都是招待贵宾的名酒，在200年前作为朝贡圣品，现在也是招待国家级贵宾的国礼。作为世界三大名酒之一，茅台酒在世界上享有鼎鼎大名。',
    // 背景故事
    background: '大数据和互联网时代的到来，正悄然改变传统的消费场景、消费行为，正急剧颠覆传统的商业模式、营销模式。目前茅台酒的消费者结构转型已基本成功，实现了公务消费向大众消费的转变，但营销模式尚未进行有效的升级，还在依赖于传统营销手段、方式和思维，对新理念、新技术的应用尚不广泛，对消费者行为的研究尚不深入，对消费者画像的勾勒尚不清晰，对消费者购买心理的分析尚不精准，营销政策制定和实施滞后，被动的情况依然存在，市场管理和营销服务亟待转型和升级。',
    // 实现价值
    value: 'DT时代下的国酒茅台“智慧营销”，是基于业务在线化、智能化营销管理与服务的新型营销模式。它通过充分集成运用阿里巴巴云计算、大数据、人工智能等新技术，重构茅台云商新零售体系，为内部管理创造效率；为消费者创造更加舒适、便利、快捷的现代化、智慧化购物条件；在互联网上创建真实的营销互动，最大限度地满足客户们地需求，围绕线上线下共建更加和谐地新商业生态，从而赢得信息经济新时代地市场先机。',
    // 解决方案
    solution: '',
    products: [
    {img: './images/i-sale.png', name: 'iSale', href: ''},
    {img: './images/i-platform.png', name: 'iDigitalPlatform', href: ''},
    {img: './images/i-cloud.png', name: 'iCloudPlatform', href: ''},
    ]
    }
  +renderCaseDetail(data)
