extends layout.jade
block title
  title 客户案例-宝洁
block content
  include mixin/render-case-detail.jade
  include var/get-img-url.jade
  -
    var data = {
    logo: './images/case-detail-pg.jpg',
    banner: getImgUrl('case-detail', 1),
    customerName: '宝洁',
    // 简介
    abstract: '宝洁（Procter & Gamble，简称P&G），是全球最大的日用消费品公司之一。宝洁在日用化学品市场上知名度相当高，其产品包括洗发、护发、护肤用品、化妆品、婴儿护理产品、妇女卫生用品、医药、织物、家具护理、个人清洁用品等。',
    // 背景故事
    background: '宝洁经销商与各网店的产品、商品等主数据无法精准建立对应关系，主要是各网店各终端的主数据编码规则不一致，也就导致各环节数据不可分析，难以利用。传统供应链使库存堆积如山，而顾客却经常因为库存管理人员无法找到相应商品而买不到宝洁的产品；进口商品供销不协同，出现经销商想要的货没有，国外工厂却库存积压。宝洁、经销商、终端网点三方数据不互通，缺货及缺货原因无法及时发现与追踪，需打造从车间到消费终端的“直供”服务模式。',
    // 实现价值
    value: '通过eCom主数据系统实现数据标准化、可视化、多元化；对P&G产品数据、电商平台商品数据和经销商商品数据的实时掌握，及时了解产品销售情况。宝洁智慧供应链通过数字化的方式把订单需求一步步地推到工厂，使产品的生产跟随着消费的需求而变化。打通宝洁、电商平台、经销商的订单数据信息，及时了解库存情况，降低库存积压，杜绝缺货，实现供需平衡。同时供应链打通实时的产品与订单数据，帮助公司实现电商平台与经销商的有效管理；如若电商平台与经销商出现了异常销量，公司也能及时快速地发现与调整。',
    // 解决方案
    solution: '',
    products: [
    {img: './images/i-sale.png', name: 'iSale', href: ''},
    {img: './images/i-platform.png', name: 'iDigitalPlatform', href: ''},
    {img: './images/i-cloud.png', name: 'iCloudPlatform', href: ''},
    ]
    }
  +renderCaseDetail(data)
