extends layout.jade
block title
  title 客户案例-正大天晴
block content
  include mixin/render-case-detail.jade
  -
    var data = {
    logo: './images/case-detail-zhengda.jpg',
    customerName: '正大天晴',
    // 简介
    abstract: '正大天晴始终将科技创新作为企业发展的重要战略，是国内创新药物研究投入较多的药企之一。正大天晴以研究院为创新载体，“江苏省新型肝病药物工程技术研究中心”、“博士后科研工作站”、“国家认定企业技术中心”等高层次研发平台相继建立，自主创新能力不断增强。随着企业的发展和研发能力的提升，正大天晴的研发费用投入已超过10亿元/年，并将逐步向跨国公司看齐。目前，研究院在研项目247个，其中一类新药31个，生物药32个。',
    // 背景故事
    background: '两票制、一致性评价、药品零加成、药品注册等政策落地，不论是从提供方生产和流通企业，还是医药相关行业，乃至消费者，都经历着切身的变革。制药企业在逐步洗牌，小制药企业会逐步被淘汰、合并，制药企业的各项成本逐步增加，如何合理分配资源是医药企业所面临的挑战\n正大天晴是国内肝病药领域的龙头企业，也是国内仿制药的领先企业，在行业的变化下，正大天晴也面临巨大的压力，如何实现数字化转型，实现医药价值链的数字化。',
    // 实现价值
    value: '活动营销链路长、触点多，建立围绕学术营销全链路、全触点的数字化平台；\n通过数字化学术营销平台的建立，构建围绕医生、医药代表、产品经理、学术活动、药品、领域、区域、预算的多维度价值模型，为管理层、营销侧提供决策支持。',
    // 解决方案
    solution: '',
    products: [
    {img: './images/i-sale.png', name: 'iSale', href: ''},
    {img: './images/i-platform.png', name: 'iDigitalPlatform', href: ''},
    {img: './images/i-cloud.png', name: 'iCloudPlatform', href: ''},
    ]
    }
  +renderCaseDetail(data)
