extends layout.jade
block title
  title 合作与生态
block content
  section.cooperation
    div.first-sight
      div.container
        h1.huge-text 云徙云生态合作伙伴计划
        p.desc 携手生态合作伙伴，基于云徙云帮助客户构建成功业务实践和解决方案，共同成长，共赢万亿市场
        button.link-btn 立即加入合作伙伴
    div.show-case
      div.show-case-title.mb60 携手云徙云五大优势
      div.show-case-content.container.flex
        div.scale-item
          i.font_family.icon-dichan
          div.md-text.dark 业务支持
          div.text 专属合作伙伴拓展经理提供业务支持和商务支持，帮助您在云计算领域取得成功。
        div.scale-item
          i.font_family.icon-dichan
          div.md-text.dark 业务支持
          div.text 专属合作伙伴拓展经理提供业务支持和商务支持，帮助您在云计算领域取得成功。
        div.scale-item
          i.font_family.icon-dichan
          div.md-text.dark 业务支持
          div.text 专属合作伙伴拓展经理提供业务支持和商务支持，帮助您在云计算领域取得成功。
        div.scale-item
          i.font_family.icon-dichan
          div.md-text.dark 业务支持
          div.text 专属合作伙伴拓展经理提供业务支持和商务支持，帮助您在云计算领域取得成功。
        div.scale-item
          i.font_family.icon-dichan
          div.md-text.dark 业务支持
          div.text 专属合作伙伴拓展经理提供业务支持和商务支持，帮助您在云计算领域取得成功。

