extends layout.jade
block title
  title 合作与生态
block content
  include var/get-img-url.jade
  section.cooperation
    div.first-sight(style="background: url(" + getImgUrl('cooperation', 1) + ") no-repeat center; ")
      div.container
        h1.huge-text 云徙云生态合作伙伴计划
        p.desc 携手生态合作伙伴，基于云徙云帮助客户构建成功业务实践和解决方案，共同成长，共赢万亿市场
        button.link-btn 立即加入合作伙伴
    div.show-case.adv.white-bg
      div.show-case-title.mb60 携手云徙云五大优势
      div.show-case-content.container.flex
        div.scale-item
          i.font_family.icon-icon_64_nor_37
          div.md-text.dark 业务支持
          div.text 专属合作伙伴拓展经理提供业务支持和商务支持，帮助您在云计算领域取得成功。
        div.scale-item
          i.font_family.icon-icon_64_nor_24
          div.md-text.dark 市场支持
          div.text 客户沙龙、研讨会，行业展会，云栖大会等丰富的市场和营销机会。
        div.scale-item
          i.font_family.icon-icon_64_nor_27
          div.md-text.dark 专家培训支持
          div.text 大量的技术培训赋能机会，快速提升合作伙伴云产品应用和技术服务能力。
        div.scale-item
          i.font_family.icon-icon_64_nor_33
          div.md-text.dark 专业技术支持
          div.text 专项技术领域获得阿里云专业架构师团队的技术支持，在垂直市场获得领先优势。
        div.scale-item
          i.font_family.icon-icon_64_nor_11
          div.md-text.dark 合作共赢
          div.text 合作利润分享，技术分享，解决方案共建等。
    div.show-case
      div.show-case-content.container
        div.steps.flex
          div.step
            img(src="./images/hz_step_1@2x.png").step-img
            div.circle 1
            div.step-desc 注册云徙云账号
          div.step
            img(src="./images/hz_step_2@2x.png").step-img
            div.circle 2
            div.step-desc 提交申请
          div.step
            img(src="./images/hz_step_3@2x.png").step-img
            div.circle 3
            div.step-desc 完成资质审核
          div.step
            img(src="./images/hz_step_4@2x.png").step-img
            div.circle 4
            div.step-desc 合作洽谈
          div.step
            img(src="./images/hz_step_5@2x.png").step-img
            div.circle 5
            div.step-desc 签订合作协议
          div.step
            img(src="./images/hz_step_6@2x.png").step-img
            div.circle 6
            div.step-desc 开展业务
        div.text-center
          a.link-btn.primary(href="customer-info.html") 加入合作伙伴
    div.show-case.white-bg
      div.container
        img(src=imgPrefix + 'hz-plain.jpg')
        div.plain
          div.show-case-title SaaS合作计划
          p 通过提供技术、营销和业务的支持，帮助SAAS合作伙伴基于云徙云构建成功的商业实践和服务能力。以软件即服务 (SaaS) 的方式进行软件授权及交付应
          p 用程序。平台支持：开发平台、运维平台
          p.mb60 点击“立即申请”，提交申请，我们将尽快与您取得联系，为您提供一对一支持和服务。
          div.text-center
            a.link-btn.primary(href="customer-info.html") 立即申请

