extends layout.jade
block title
  title 合作与生态
block content
  section.cooperation
    div.first-sight
      div.container
        h1.huge-text 云徙云生态合作伙伴计划
        p.desc 携手生态合作伙伴，基于云徙云帮助客户构建成功业务实践和解决方案，共同成长，共赢万亿市场
        button.link-btn 立即加入合作伙伴
