extends layout.jade
block title
  title 合作与生态
block content
  include var/get-img-url.jade
  section.cooperation
    div.first-sight(style="background: url(" + getImgUrl('cooperation', 1) + ") no-repeat center; ")
      div.container
        h1.huge-text 云徙生态合作伙伴计划
        p.desc 携手生态合作伙伴，基于云徙帮助企业构建行业解决方案，共同成长，共赢万亿市场
        button.link-btn 立即加入合作伙伴
    div.show-case.adv.white-bg
      div.show-case-title.mb60 携手云徙五大优势
      div.show-case-content.container.flex
        div.scale-item
          i.font_family.icon-icon_64_nor_37
          div.md-text.dark 业务支持
          div.text 专属商务经理提供业务支持和商务支持，帮助您在企业数字化领域取得成功。
        div.scale-item
          i.font_family.icon-icon_64_nor_24
          div.md-text.dark 市场支持
          div.text 企业沙龙、高端研讨会，行业展会等丰富的营销和项目机会。
        div.scale-item
          i.font_family.icon-icon_64_nor_27
          div.md-text.dark 专家培训支持
          div.text 免费的技术培训交流机会，快速提升合作伙伴企业数字化应用和服务能力。
        div.scale-item
          i.font_family.icon-icon_64_nor_33
          div.md-text.dark 专业技术支持
          div.text 企业数字化相关技术领域可获得云徙专业技术团队支持，赢得垂直市场拥有先天优势。
        div.scale-item
          i.font_family.icon-icon_64_nor_11
          div.md-text.dark 合作共赢
          div.text 市场共享，利润分享，技术分享，共建企业数字化行业解决方案。
    div.show-case
      div.show-case-content.container
        div.steps.flex
          div.step
            img(src="./images/hz_step_1@2x.png").step-img
            div.circle 1
            div.step-desc 注册云徙云账号
          div.step
            img(src="./images/hz_step_2@2x.png").step-img
            div.circle 2
            div.step-desc 提交申请
          div.step
            img(src="./images/hz_step_3@2x.png").step-img
            div.circle 3
            div.step-desc 完成资质审核
          div.step
            img(src="./images/hz_step_4@2x.png").step-img
            div.circle 4
            div.step-desc 合作洽谈
          div.step
            img(src="./images/hz_step_5@2x.png").step-img
            div.circle 5
            div.step-desc 签订合作协议
          div.step
            img(src="./images/hz_step_6@2x.png").step-img
            div.circle 6
            div.step-desc 开展业务
        div.text-center
          a.link-btn.primary(href="customer-info.html") 加入合作伙伴
    div.show-case.white-bg
      div.container
        img(src=imgPrefix + 'hz-plain.jpg')
        div.plain
          div.show-case-title SaaS合作计划
          p 通过提供技术、营销和业务的支持，帮助SAAS合作伙伴基于云徙构建商业实践服务能力。以SaaS 方式进行软件授权及交付应用程序
          p 开发平台、运维平台、运营平台、API网关
          p.mb60 点击“立即申请”，提交申请，我们将尽快与您取得联系，为您提供一对一支持和服务
          div.text-center
            a.link-btn.primary(href="customer-info.html") 立即申请

