extends layout.jade
block title
  title 客户信息
block content
  include var/get-img-url.jade
  - var pageName = 'customer-info'
  section.customer-info
    div.first-sight.text-center(style="background: url(" + getImgUrl(pageName, 1) + ") no-repeat center; ")
      p.f24 欢迎加入云徙,完善行业信息可为您提供更精准的行业优惠及活动优惠
      p 我们将尽快与您取得联系
    div.second-sight(style="background-image: url(" + getImgUrl(pageName, 2) + ")")
      div.container
        div.content-half.pc
          //img(src=getImgUrl(pageName, 2) style="margin-bottom: 20px")
          p 云徙基于阿里巴巴互联网最佳实践及技术，自主研发企业数字化平台、全渠道销售、营销智能、智能物联等创新数字化解决方案与产品，为国内外的汽车、地产、快消、农业、3C、政企、医药等行业一流企业提供基础设施云化、业务云化、数据智能化等数字化创新服务。
        div.content-half
          div.form-box
            form(action="javascript:;")#form
              fieldset
                label 姓名
                input(placeholder="请输入真实姓名" name="name" required)
              fieldset
                label 职务
                input(placeholder="请输入职务" name="position" required)
              fieldset
                label 邮箱
                input(placeholder="请输入邮箱" type="email" name="email" required)
              fieldset
                label 手机号码
                input(placeholder="请输入手机号码" type="tel" name="phone" required pattern="^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}$|18[0-9]{9}$")
              fieldset
                label 公司名称
                input(placeholder="请输入公司名字全称" name="enterpriseName" required)
              fieldset
                label 公司规模
                select(name="scale" required)
                  option(value="") 请选择人数
                  option(value="<50") <50
                  option(value="50~100") 50~100
                  option(value="100~200") 100~200
                  option(value="200~500") 200~500
                  option(value="500~1000") 500~1000
                  option(value=">1000") >1000
              fieldset
                label 关注的产品
                select(name="product" required)
                  option(value="") 请选择产品
                  option(value="营销智能") 营销智能
                  option(value="全渠道销售") 全渠道销售
                  option(value="企业数字化平台") 企业数字化平台
                  option(value="云管平台") 云管平台
              fieldset
                label 留言
                input(placeholder="请输入问题或评论, 可不填" name="comment" maxlength=200)
              button(type="primary" id="submit") 提交

block script
  script.
    $('#submit').on('click', function () {
      var $form = $('#form')
      // 表单校验
      if (!$form[0].checkValidity()) return

      var url = 'http://120.78.191.79:7001/official-website/api/v1/profiles'
      var dataArray = $form.serializeArray()
      var data = {}
      var $btn = $(this)

      $.each(dataArray, function (index, item) {
        data[item.name] = item.value
      })

      $btn.text('提交中...').addClass('wait')

      $.ajax({
        type: 'POST',
        url: url,
        // 坑啊
        data: JSON.stringify(data),
        // type of data we are expecting in return:
        dataType: 'json',
        timeout: 5000,
        // 坑啊
        processData: false,
        contentType: 'application/json',
        success: function (data) {
          console.log(data)
          $btn.text('提交成功').removeClass('wait').addClass('disabled')
          window.location = 'submit-success.html'
        },
        error: function (xhr, type) {
          alert('出错了, 请重试')
          $btn.text('提交').removeClass('wait')
        }
      })

    })




