extends layout.jade
block title
  include var/product-lines.jade
  -
    var data = {
    // 产品名
    title: productLines.iDigitalPlatform.name + ' ' + productLines.iDigitalPlatform.en,
    // 产品定义
    desc: 'IDP是基于新一代互联网架构和技术，通过平台化、组件化，以API网关的方式将业务中台和数据中台等服务提供给企业，实现快速开发，灵活扩展，标准化管理，帮助企业快速、低成本实现数字化转型。',
    // 立即体验链接
    href: '',
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '业务中台',
    desc: '业务中台致力于对企业业务进行标准化治理。\n1、业务领域逻辑：包括商业关系，诸如客户、供应商、雇员之间、核心的业务流程等。\n2、核心企业资产：财务和人力资源等，实现企业人与人、物与物和人与物的全连接，并把企业的员工、客户、合作伙伴、供应商连在一起。\n3、提供统一业务服务：企业可以快速进行定制化业务开发，并具备强大的扩展能力。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi',
    },
    {
    name: '数据中台',
    desc: '数据中台致力于对企业资产标准化治理，让企业基于大数据和人工智能来开展运营。是基于企业全业务领域数据，利用大数据技术手段进行数据采集、加工萃取、数据分析的大数据建设过程。提供统一的数据应用服务，把实时决策融入业务流程，实现自动化，使运营更加简单、高效、智能。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi',
    },


    ],
    // 产品优势
    advantages: [
    {title: '打破信息孤岛避免重复建设', desc: '针对企业面临多部门多场景多应用，各应用相对独立，基础功能无法共用的情景，降低开发和使用成本，打破信息孤岛现象。', icon: 'icon-dichan'},
    {title: '个性敏捷开发支持', desc: '针对企业应用定制过多，开发效率低成本高的情景，通过数据中台和业务中台，可实现应用快速定制化开发，高效统一管理，满足业务快速增长需要。', icon: 'icon-dichan'},
    {title: '高扩展性灵活性', desc: '针对企业系统缺乏扩展能力和灵活性、随着业务增加系统支持效率和能力降低等情景，企业数字化平台可提供一站式解决方案。', icon: 'icon-dichan'},
    {title: '秒级部署', desc: 'API 网关提供Dockerize方案，轻松进行私有化部署，并提供多种成熟的业务接入方案。', icon: 'icon-dichan'},
    ],
    // 核心功能
    coreFuns: [
    {title: '运营平台', desc: '中台以API接口形式，提供开放能力。特比龙可以帮助应用开发用户快速完成应用接入、高效管理应用，包含中台API控制、应用审核、数据统计等，为中台开发提供决策和建议。', icon: 'icon-dichan'},
    {title: '开发平台', desc: '提供了由最新技术栈组成的开发套件，接口管理服务，集成开发规范以及最佳实践，自动化贯穿了开发，测试，构建，部署等软件开发过程，支持一键生成API， 配置生成页面，是企业级中后台应用进行前后端分离，快速开发的解决方案', icon: 'icon-dichan'},
    {title: '运维平台', desc: '运维贯穿整个产品的生命周期。借助自动化、智能化的平台，运维平台帮助用户以最低的成本和高效率完成面向用户的服务交付和服务质量的保障。', icon: 'icon-dichan'},
    {title: 'A P I  网关', desc: '提供API 托管服务，涵盖API 创建、发布、运维、监控和安全保护的全生命周期管理，帮助用户快速、低成本地进行微服务聚合、系统集成、以及与合作伙伴的业务连接。', icon: 'icon-dichan'},
    {title: '组件市场', desc: '以源代码或者服务的形式提供给用户，降低开发者的成本，降低风险和提升效率。在研发阶段最重要的服务包括基础服务，开发工具和测试工具。', icon: 'icon-dichan'},
    {title: '丰富的扩展插件', desc: '通过服务治理，能够更好地帮助企业管理微服务的使用情况，进行服务调用链路追踪，规范化服务的使用，包括最佳实践、架构原则、治理规程、规律以及其他决定性的因素等。', icon: 'icon-dichan'},
    ],
    // 案例客户
    cases: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    ],
    // 技术架构
    techArt: {
    // 标题
    title: 'IDP的技术架构采用微服务模式。运营平台、运维平台，以及API网关、组件市场，可以给核心中台更高的开放性和维护性。',
    // 描述
    desc: '',
    // 架构图
    img: './images/solution-pline1_3.jpg',
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '1. 应用通过运营平台获取授权信息。', desc: '', icon: ''},
    {title: '2. 应用通过API网关，调用rest接口。', desc: '', icon: ''},
    {title: '3. 中台以微服务的形式运行。提供业务能力。', desc: '', icon: ''},
    {title: '4. 中台开发后发布到组件市场；部署时时从组件市场中拉取，然后发布到服务器上。', desc: '', icon: ''},
    {title: '5. 开发平台则统一开发技术堆栈和标准，并提供开发脚手架，加快开发效率，降低开发门槛。', desc: '', icon: ''},
    {title: '6. 运维平台提供监控，告警，快速部署，灰度发布等功能。提供运行时支持。', desc: '', icon: ''},

    ]
    },
    // 业务架构
    businessArt: {
    // 标题
    title: 'IDP 涵盖了软件开发的完整命周期。提供了快速开发、发布中台中心的能力。并可以通过网关，暴露统一的接口。',
    // 描述
    desc: '',
    // 架构图
    img: './images/solution-pline1_3.jpg',
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '应用API网关，暴露统一的应用层接口，代理到应用层的应用。', desc: '', icon: ''},
    {title: '聚合API网关，可以聚合中心提供的API，将中心提供的细粒度服务，进行聚合，满足应用层的业务需求使用。', desc: '', icon: ''},
    {title: '中台中心完成业务领域相关服务，并提供细粒度的接口服务。', desc: '', icon: ''},
    {title: '基础设施选用稳定可靠的阿里云服务，也可以自建。为上层提供公共基础服务。', desc: '', icon: ''},
    {title: '最底层是硬件服务器，可以使用ECS或其他的云服务器。', desc: '', icon: ''},
    ]
    },
    }
  title #{data.title}
  include mixin/render-product.jade

