extends layout.jade
block title
  include var/product-lines.jade
  include var/get-img-url.jade
  -
    var pageName = 'i-marketing'
    var data = {
    // 产品名
    title: productLines.iMarketing.name + ' ' + productLines.iMarketing.en,
    // 产品定义
    desc: '北极星是一个全链路多业态的智能化营销平台；解决企业在全链路数据化营销上单一业态到多业态营销链路断裂，以及数据应用和业务应用分裂等问题；帮助企业将数据在具体的运用场景中统一，主要服务垂直行业中的代理商和代运营商。',
    // 立即体验链接
    href: '',
    // first-sight背景图
    firstSightBg: getImgUrl(pageName, 1),
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '用户全生命周期管理',
    desc: '各大产品数据互通，对用户全生命周期进行数据化管理，提供大而全的营销方案。帮助企业更有效的掌握数据、运用数据。',
    img: getImgUrl(pageName, 2),
    wideImg: true,
    icon: 'icon-icon_tab_nor_05',
    },
    {
    name: '客户线上分析',
    desc: '根据不同的企业需求，灵活组合产品形态。针对电商场景，提供用户的营销触达、埋点分析、会员信息管理服务，记录下客户的点滴行为。',
    img: getImgUrl(pageName, 3),
    wideImg: true,
    icon: 'icon-icon_tab_nor_06',
    },
    {
    name: '线下门店分析',
    desc: '根据不同的企业需求，灵活组合产品形态。针对门店场景，提供客流分析、人群分析、潜客管理、营销触达服务，不轻易放过任何来访客户。',
    img: getImgUrl(pageName, 4),
    wideImg: true,
    icon: 'icon-icon_tab_nor_07',
    },
    {
    name: '广告投放分析',
    desc: '根据不同的企业需求，灵活组合产品形态。针对广告投放场景，提供目标人群圈选、精准时间触达、广告投放ROI控制服务，帮助企业更有效的进行广告投放。',
    img: getImgUrl(pageName, 5),
    wideImg: true,
    icon: 'icon-icon_tab_nor_08',
    },

    ],
    // 产品优势
    advantages: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-icon_64_nor_06'},
    {title: '智能决策模型', desc: '多维客人分群模型支持客户进行分群，并分析客群特征，以及基于客群画像，提供客户运营建议，并为商品企划决策提供参考。', icon: 'icon-icon_64_nor_07'},
    {title: '标签体系', desc: '基于不同行业长期实践与总结，形成覆盖客人与商品的广泛多维标签体系，支持与CRM客户关系管理深度集成，实现自动化的精准营销。', icon: 'icon-icon_64_nor_08'},
    {title: '数字化营销', desc: '整合行业资源、帮助企业达成资源的优势互补、合作共赢，从而实现高性价比的营销，精准模式实现全渠道投放，全链路的监控，及投放策略的优化。', icon: 'icon-icon_64_nor_37'},
    ],
    // 核心功能
    coreFuns: [
    {title: '广告投放管理', desc: '可按照投放计划、受众、创意、媒体、分类等多个角度查看展示、点击、转化率、消耗等效果明细及趋势。TB级别的数据秒级延迟。', icon: 'icon-icon_72_07'},
    {title: '门店营销', desc: '分析线下客流的趋势、来访频次、停留时间、门店动线、人群特征等信息，将线下流量数据化，直观掌握门店客流情况。', icon: 'icon-icon_72_08'},
    {title: '客户管理', desc: '结合行业特征，依据行业场景，以客户全生命周期为维度，去梳理和制定指标。让指标更贴近行业、更贴近行业客户，实现更精准的细分人群、广告投放。', icon: 'icon-icon_72_09'},
    {title: '营销管理', desc: '通过丰富的营销模版，直接配置营销时间、对象、活动内容、触达方式、分析内容等规则，快速配置执行，无需程序介入二次开发。实现敏捷、灵活、低门槛的自动化营销。', icon: 'icon-icon_72_36'},
    ],
    relativeProducts: [
    {title: '客户管理 CRM', desc: '客户管理（i-CRM）一个融合业务管理和数据分析的客户全生命周期管理平台；在业务上，帮助企业提高客户管理效率；在数据上，帮助企业多维度洞察客户特性；解决企业多系统客户数据割裂，以及数据应用和业务应用分裂等问题；帮助垂直行业中的中小型企业以及行业代理，快速搭建完整的客户管理系统。', icon: 'icon-icon_64_nor_01', href: 'product-crm.html'},
    {title: '营销管理 DMM', desc: '营销管理（i-DMM）是一个针对行业定制的，并将营销全流程简化成可灵活配置的管理平台；解决企业营销对象精准性、重复研发时间成本高、营销效果缺乏监控等问题；帮助企业搭建简单、灵活、全面的营销能力，服务于对精准营销、营销自动化有需求的中小型企业。', icon: 'icon-icon_64_nor_02', href:'product-dmm.html'},
    {title: '广告投放管理 SmartAd', desc: '广告投放管理 （i-SmartAd）是一个能智能分析与优化的广告投放管理平台；解决企业流量获取途径单一、投放策略粗矿、投放效果难以监控等问题；帮助企业实现广告全流程监控、分析与自动优化，服务于需要精准广告触达的中小型企业。', icon: 'icon-icon_64_nor_03', href: 'product-smartad.html'},
    {title: '营销数据分析 SmartDA', desc: '营销数据分析（SmartDA）是一款综合性管理、分析数据的服务平台；解决企业数据无法互通，缺乏数据采集手段，缺乏指标梳理和数据挖掘方法等问题；赋能中小型企业全面的数据管理与分析能力，快速完成业务数据化到业务数据化的过渡。', icon: 'icon-icon_64_nor_04', href: 'product-smartda.html'}
    ],
    // 案例客户
    cases: [
    {title: '茅台', desc: '	提升消费者体验，如利用数字化技术推动线上线下交易的融合，更方便、快捷购买到放心的正品商品\n	为科学指导与调配经销商库存，实现库存最优化提供精细的决策支持；协助经销商更好的“做生意”\n	基于大数据分析，广告资源投放精准高效\n	基于互联网共享架构，增强业务创新能力', img: './images/case-detail-maotai-logo.png'},
    {title: '如新', desc: '	实现业务能力云化，订阅式应用系统，减少系统重复建设的工作，提高IT系统建设效率，降低系统建设成本；\n	提升用户体验，单点用户登录，多个业务应用互通；\n	实现用户全生命周期管理，从游客到普通顾客、优惠顾客、经销商，数据驱动运营，持续运营用户', img: './images/case-detail-unkown.jpg'},
    {title: '长安汽车', desc: '	提供全新的数据营销、微信营销、经销商营销活动所需资源；\n	同时整合多角色、多端全渠道及内外部系统；\n	以互联、互通、互求构建数字化营销平台', img: './images/case-detail-changan.jpg'}
    ],
    // 技术架构
    techArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: getImgUrl(pageName, 8),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '标准化输出', desc: '提供系统的底层服务API及标准化功能界面，按需进行搭配、整合。满足多元化业务与场景需求。', icon: 'icon-icon_64_nor_07'},
    {title: '数据处理能力', desc: '大数据计算服务能够帮助用户针对TB/PB级数据进行分布式的数据加工，后台强大得计算能力，支持用户做更深度、更复杂的加工。', icon: 'icon-icon_64_nor_21'},
    {title: '数据整合能力', desc: '不管是存量的历史数据，还是不同应用系统的数据，都可以通过数据采集工具统一采集。满足用户整合不同系统数据，统一加工分析的需求。', icon: 'icon-icon_64_nor_20'},
    {title: '账号权限体系归企业所有', desc: '账号权限体系以开源方式输出，可直接使用或自由定制；其中账号数据存储在企业RDS数据库', icon: 'icon-icon_64_nor_43'},
    ]
    },
    // 业务架构
    businessArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: getImgUrl(pageName, 7),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '完整闭环', desc: '以客户管理平台为基础，整合营销管理，广告投放管理，电商营销、门店营销与第三方服务等6大模块，实现完整闭环。帮助企业全方位管理客户资源、以营销效果为导向，深度挖掘客户价值，持续构建自身的核心竞争优势。', icon: 'icon-icon_64_nor_12'},
    {title: '营销自动化', desc: '从营销活动的设计、执行和评估完整闭环，灵活地实现在合适的时间、对合适的人、用合适的方式、沟通合适的内容， 为客户提供主动差异化的精准营销。', icon: 'icon-icon_64_nor_30'},
    ]
    },
    }
  title #{data.title}
  include mixin/render-product.jade

