extends layout.jade
block title
  include var/product-lines.jade
  -
    var data = {
    // 产品名
    title: productLines.iSales.name + ' ' + productLines.iSales.en,
    // 产品定义
    desc: 'i-Sales是一款全渠道销售平台，链接全触点终端场景，建立一体化的渠道运营链路，提供实现精细化运营；整合企业供应链资源共享，为企业和上下游的销售提供数字化平台支撑，形成全渠道、全业态顾客生态圈的融合。',
    // 立即体验链接
    href: '',
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '全链路购物流程',
    desc: '用户淘品可以无缝在不同场景转换，满足不同场景的购物需求\n支持单个渠道、多个渠道的不同组合\n打通不同的支付方式，用户可以在线下销售渠道购买，线上支付，也可以在线上选货，线下完成支付\n不同的商品类型可以定义不同配送方式，交易场景跟取货可以线上线下切换\n支持交易后的多场景触点，物流推送，活动推送，会员奖励',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-icon_64_nor_31',
    },
    {
    name: '一体化配送',
    desc: '根据客户需求，商家资源，合理设置配送方案\n支持门店仓、线上仓多种仓库类型，支持一货多仓\n顾客拍下商品后，自主选择配送方式\n系统分析用户的地理位置，根绝库存和地理位置分配仓库\n仓库收到发货指令，批量打单发货',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-icon_tab_nor_33',
    },
    {
    name: '精准化活动运营',
    desc: '根据用户喜好，不同渠道，不同终端设置活动方式，以及商品，满足一个商品多种玩法\n商家可以自定义用户标签、系统根据用户行为建立用户画像\n组建活动规则以及页面，定义用户对象，实现精准活动\n在不同的渠道，面向不同用户，展现不同的页面和商品\n全面分析活动的渠道效果、商品销量、页面用户反馈',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-icon_tab_nor_14',
    },
    {
    name: '人人分销',
    desc: '支持供货商、分销商、用户/粉丝，的闭环分销建设\n支持定义是否支持商家入驻，社会化分销\n开放申请入口，商家可以自主发起申请\n粉丝可以打造自己的分销页面，通过熟人关系链裂变成口碑营销\n分销商独立管理，供应商统一进行数据监控，资源掌握',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-icon_tab_nor_37',
    },

    ],
    // 产品优势
    advantages: [
    {title: '一体化', desc: '全分销触点打通，主流系统对接', icon: 'icon-icon_64_nor_11'},
    {title: '智能化', desc: '平台上各方的产业链协同赋能，高效率管理', icon: 'icon-icon_64_nor_01'},
    {title: '多样化', desc: '集成不同的营销方式、支付方式，满足不同业务场景', icon: 'icon-icon_64_nor_14'},
    {title: '简单化', desc: '低实施成本，实现快速部署', icon: 'icon-icon_64_nor_38'},
    ],
    // 核心功能
    coreFuns: [
    {title: '全渠道商城', desc: '企业可以根据自己的实际需要任意选择布局的销售渠道：线下post、线上PC、App、小程序、第三方平台。\n单一资源可以共享满足不同渠道，如供应链资源、物流资源、会员资源。', icon: 'icon-icon_72_30'},
    {title: '全渠道运营', desc: '活动运营，打通全渠道的，实现单一渠道、多个渠道的不同活动需求：灵活配置不同渠道的活动页面，活动规则。\n用户运营，实现全渠道的会员互通，建立统一的会员等级，会员成长机制、会员权益。\n数据运营：支持从横向维度：商品、页面、活动、物流、售后、成本，以及纵向维度：用户、周期分析运营情况', icon: 'icon-icon_72_10'},
    {title: '全渠道推广', desc: '线下带动线上，线下用户在购物环节、交易环节，融合线上功能场景：查看商品溯源、支付前领优惠券；支付后领会员卡；\n线上带动线下：通过公众号，小程序实现物流跟踪推送、活动推送，会员特权领取，实现线上联动线下的服务升级\n不同渠道的推广投放跟踪，活动页面投放，App推广投放\n社会化分销，可以指定开放的渠道或者用户资格，在不同条件下的分销规则和奖励方案', icon: 'icon-icon_72_07'},
    {title: '全渠道支撑', desc: '对接多种支付方式\n灵活的配送方式，汇聚全渠道订单，根据用户所选择的配送方式识别订单的商品来源，自动分配仓库，进行发货调度\n支持全渠道的售后归一管理，消费者与商家的纠纷，可以发起申诉工单流程，在消费者、商家、平台三方架起快速便捷的沟通桥梁。', icon: 'icon-icon_72_38'},
    ],
    // 案例客户
    cases: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    ],
    // 技术架构
    techArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: './images/solution-pline1_3.jpg',
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '标准化输出', desc: '提供系统的底层服务API及标准化功能界面，按需进行搭配、整合。满足多元化业务与场景需求。', icon: ''},
    {title: '数据处理能力', desc: '大数据计算服务能够帮助用户针对TB/PB级数据进行分布式的数据加工，后台强大得计算能力，支持用户做更深度、更复杂的加工。', icon: ''},
    {title: '数据整合能力', desc: '不管是存量的历史数据，还是不同应用系统的数据，都可以通过数据采集工具统一采集。满足用户整合不同系统数据，统一加工分析的需求。', icon: ''},
    {title: '账号权限体系归企业所有', desc: '账号权限体系以开源方式输出，可直接使用或自由定制；其中账号数据存储在企业RDS数据库', icon: ''},
    ]
    },
    // 业务架构
    businessArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: './images/solution-pline1_3.jpg',
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '1）批发、零售、渠道管理深度结合', desc: '', icon: ''},
    {title: '2）线上线下购物场景打通，全面引流', desc: '', icon: ''},
    {title: '3）营销推广方式多样化，打造人人分销', desc: '', icon: ''},
    {title: '4）数据化精细运营，高效运维决策', desc: '', icon: ''},
    ]
    },
    }
  title #{data.title}
  include mixin/render-product.jade

