extends layout.jade
block title
  include var/product-lines.jade
  include var/get-img-url.jade
  -
    var pageName = 'i-sales'
    var data = {
    // 产品名
    title: productLines.iSales.name + ' ' + productLines.iSales.en,
    // 产品定义
    desc: 'i-Sales是一款全渠道销售平台，链接全触点终端场景，建立一体化的渠道运营链路，提供实现精细化运营；整合企业供应链资源共享，为企业和上下游的销售提供数字化平台支撑，形成全渠道、全业态顾客生态圈的融合。',
    // 立即体验链接
    href: '',
    // first-sight背景图
    firstSightBg: getImgUrl(pageName, 1),
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '全链路购物流程',
    desc: '用户淘品可以无缝在不同场景转换，满足不同场景的购物需求\n支持单个渠道、多个渠道的不同组合\n打通不同的支付方式，用户可以在线下销售渠道购买，线上支付，也可以在线上选货，线下完成支付\n不同的商品类型可以定义不同配送方式，交易场景跟取货可以线上线下切换\n支持交易后的多场景触点，物流推送，活动推送，会员奖励',
    img: getImgUrl(pageName, 2),
    icon: 'icon-icon_64_nor_31'
    },
    {
    name: '一体化配送',
    desc: '根据客户需求，商家资源，合理设置配送方案\n支持门店仓、线上仓多种仓库类型，支持一货多仓\n顾客拍下商品后，自主选择配送方式\n系统分析用户的地理位置，根绝库存和地理位置分配仓库\n仓库收到发货指令，批量打单发货',
    img: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_33'
    },
    {
    name: '精准化活动运营',
    desc: '根据用户喜好，不同渠道，不同终端设置活动方式，以及商品，满足一个商品多种玩法\n商家可以自定义用户标签、系统根据用户行为建立用户画像\n组建活动规则以及页面，定义用户对象，实现精准活动\n在不同的渠道，面向不同用户，展现不同的页面和商品\n全面分析活动的渠道效果、商品销量、页面用户反馈',
    img: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_14'
    },
    {
    name: '人人分销',
    desc: '支持供货商、分销商、用户/粉丝，的闭环分销建设\n支持定义是否支持商家入驻，社会化分销\n开放申请入口，商家可以自主发起申请\n粉丝可以打造自己的分销页面，通过熟人关系链裂变成口碑营销\n分销商独立管理，供应商统一进行数据监控，资源掌握',
    img: getImgUrl(pageName, 5),
    icon: 'icon-icon_tab_nor_37'
    }
    ],
    // 产品优势
    advantages: [
    {title: '一体化', desc: '全分销触点打通，主流系统对接', icon: 'icon-icon_64_nor_11'},
    {title: '智能化', desc: '平台上各方的产业链协同赋能，高效率管理', icon: 'icon-icon_64_nor_01'},
    {title: '多样化', desc: '集成不同的营销方式、支付方式，满足不同业务场景', icon: 'icon-icon_64_nor_14'},
    {title: '简单化', desc: '低实施成本，实现快速部署', icon: 'icon-icon_64_nor_38'}
    ],
    // 核心功能
    coreFuns: [
    {title: '全渠道商城', desc: '企业可以根据自己的实际需要任意选择布局的销售渠道：线下post、线上PC、App、小程序、第三方平台。\n单一资源可以共享满足不同渠道，如供应链资源、物流资源、会员资源。', icon: 'icon-icon_72_30'},
    {title: '全渠道运营', desc: '活动运营，打通全渠道的，实现单一渠道、多个渠道的不同活动需求：灵活配置不同渠道的活动页面，活动规则。\n用户运营，实现全渠道的会员互通，建立统一的会员等级，会员成长机制、会员权益。\n数据运营：支持从横向维度：商品、页面、活动、物流、售后、成本，以及纵向维度：用户、周期分析运营情况', icon: 'icon-icon_72_10'},
    {title: '全渠道推广', desc: '线下带动线上，线下用户在购物环节、交易环节，融合线上功能场景：查看商品溯源、支付前领优惠券；支付后领会员卡；\n线上带动线下：通过公众号，小程序实现物流跟踪推送、活动推送，会员特权领取，实现线上联动线下的服务升级\n不同渠道的推广投放跟踪，活动页面投放，App推广投放\n社会化分销，可以指定开放的渠道或者用户资格，在不同条件下的分销规则和奖励方案', icon: 'icon-icon_72_07'},
    {title: '全渠道支撑', desc: '对接多种支付方式\n灵活的配送方式，汇聚全渠道订单，根据用户所选择的配送方式识别订单的商品来源，自动分配仓库，进行发货调度\n支持全渠道的售后归一管理，消费者与商家的纠纷，可以发起申诉工单流程，在消费者、商家、平台三方架起快速便捷的沟通桥梁。', icon: 'icon-icon_72_38'}
    ],
    // 相关产品推荐
    relativeProducts: [
    {title: '数字商城 DMall', desc: '云上的多租户多渠道多店铺多用户的商城系统，具有完善的商品管理、订单管理、物流配送、会员管理等基础功能，它能够帮助企业解决线上线下管理问题，提高企业运营高度和统一运营能力，是为企业带来一站式解决方案的商城系统。', icon: 'icon-icon_64_nor_25', href: 'product-dmall.html'},
    {title: '数字门店 DStore', desc: '打通线上线下，通过WiFi、RFID、虚拟现实等新技术，搭配显示屏幕、互动触摸屏等数字化硬件，为顾客提供优质的用户体验，提高店铺销售额，同时实时收集多方数据，为导购服务提供实时数据，为商家决策提供数据上的有力支持。', icon: 'icon-icon_64_nor_25', href: 'product-dstore.html'},
    {title: '社会化分销 SDP', desc: '基于数据智能的新零售社会化分销平台,同一平台管理,全面挖掘和分析企业物流、信息流、资金流数据情况，聚合社交媒体和移动社交的流量，并在大数据基础上进行精细化营销，实现智能化、规范化、精细化全渠道分销的目的。', icon: 'icon-icon_64_nor_25', href: 'product-sdp.html'},
    {title: '电商ERP DERP', desc: 'D-ERP是一款Saas级全渠道ERP，提供一站式电商+实体店的经营方案：跨平台一体化进销存管理，智能运营商品、库存、为新零售赋能，流程自动化，高效处理，全渠道管控、自动化管理、精细化运营、快速便捷部署让电商更高效。', icon: 'icon-icon_64_nor_25', href: 'product-erp.html'},
    ],
    // 案例客户
    cases: [
    {title: '珠江啤酒', desc: '广州珠江啤酒集团有限公司是一家以啤酒业为主体、以啤酒配套和相关产业为辅助的大型国有企业，1985年建成投产，啤酒产能从最初5万吨发展到目前的230万吨，是我国酿酒行业十强企业、国家环境友好企业和广东省高新技术企业。珠江啤酒是绿色食品。', img: './images/case-detail-zhupi.jpg'},
    {title: '富力地产', desc: '1、	针对项目或决策，并与此相关的一系列有关目标客群（消费者）做全面详尽的调查分析。\n2、	获取各个广告渠道的投放效果，并进行实时监控，经分析投放数据，优化广告渠道和广告内容，丰富广告形式，从而达到最优广告效果。\n3、	接入阿里的大数据能力提升房企的数据质量，再借助数据分析工具获得潜在客户群，为项目的营销策略和决策提供数据支持。\n4、	融入阿里成熟的技术的能力，一方面提升房企的技术基础，令一方面快速积累技术能力，健全企业的整体技术能力。', img: './images/case-detail-fuli.jpg'},
    {title: '如新', desc: '实现业务能力云化，订阅式应用系统，减少系统重复建设的工作，提高IT系统建设效率，降低系统建设成本；\n	提升用户体验，单点用户登录，多个业务应用互通；\n	实现用户全生命周期管理，从游客到普通顾客、优惠顾客、经销商，数据驱动运营，持续运营用户', img: './images/case-detail-unkown.jpg'},
    {title: '宝洁', desc: '通过eCom主数据系统实现数据标准化、可视化、多元化；对P&G产品数据、电商平台商品数据和经销商商品数据的实时掌握，及时了解产品销售情况。宝洁智慧供应链通过数字化的方式把订单需求一步步地推到工厂，使产品的生产跟随着消费的需求而变化。打通宝洁、电商平台、经销商的订单数据信息，及时了解库存情况，降低库存积压，杜绝缺货，实现供需平衡。同时供应链打通实时的产品与订单数据，帮助公司实现电商平台与经销商的有效管理；如若电商平台与经销商出现了异常销量，公司也能及时快速地发现与改过。', img: './images/case-detail-pg.jpg'}
    ],
    // 技术架构
    techArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: getImgUrl(pageName, 8),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '标准化输出', desc: '提供系统的底层服务API及标准化功能界面，按需进行搭配、整合。满足多元化业务与场景需求。', icon: ''},
    {title: '数据处理能力', desc: '大数据计算服务能够帮助用户针对TB/PB级数据进行分布式的数据加工，后台强大得计算能力，支持用户做更深度、更复杂的加工。', icon: ''},
    {title: '数据整合能力', desc: '不管是存量的历史数据，还是不同应用系统的数据，都可以通过数据采集工具统一采集。满足用户整合不同系统数据，统一加工分析的需求。', icon: ''},
    {title: '账号权限体系归企业所有', desc: '账号权限体系以开源方式输出，可直接使用或自由定制；其中账号数据存储在企业RDS数据库', icon: ''}
    ],
    // 是否展示这个tab
    isHide: true
    },
    // 业务架构
    businessArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: getImgUrl(pageName, 7),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '1）批发、零售、渠道管理深度结合', desc: '', icon: ''},
    {title: '2）线上线下购物场景打通，全面引流', desc: '', icon: ''},
    {title: '3）营销推广方式多样化，打造人人分销', desc: '', icon: ''},
    {title: '4）数据化精细运营，高效运维决策', desc: '', icon: ''}
    ]
    }
    }
  title #{data.title}
  include mixin/render-product.jade

