extends layout.jade
//- block 紧跟 extends, 不需要缩进
block title
  title Moria
block content
  div.index
    div.first-sight
      div.container
        h1.huge-text 企业数字化平台，专业级的数字化平台
        div.msg.f24 新品钜惠专享，领券立减
          span.red 1888元
        div: a.link-btn.linear-primary-bg-to-bottom 立即体验
    include snippet/we-do.jade
    div.divider
    div.show-case.text-center.service-provider
      div.show-case-title.dark 智能时代领先的数字化服务商
      span 赋能企业数字化创新，阿里云战略生态合作伙伴
      div.container.flex.i-product-container
        div.container-item.i-product
          div.f18 云管平台
          span.f16 i－Cloud Platform
        div.container-item.i-product.active
          div.f18 企业数字化平台
          span.f16 i-Digital Platform
        div.container-item.i-product
          div.f18 全渠道销售
          span.f16 i－Sales
        div.container-item.i-product
          div.f18 营销智能
          span.f16 i－Marketing
      div.container.figure.product-figure
        img(src="./images/wechat.png").figure-img
        div.figure-text
          div.figure-title 赋能企业数字化创新    阿里云战略生态合作伙伴
          span 进入DT时代，企业通过技术创新和数据驱动业务发展迫在眉睫，“企业数字化平台”构建立体的客户触点体系，赋能企业新技术、企业数字化和全方位体验转型，快速全方位应对业务场景变化，帮助企业实现技术和数据驱动业务，精细化运营，降本增效。
        a.link-btn 立即试用 >>
      div.service.container
        div.service-row.flex
          div.service-item.flex
            div
              div.item-flex
                span.title 营销智能
                span.label.green 免费体验
              span.desc-text 商客关系应用管理
            i.arrow-right
          div.service-item.flex
            div
              div.item-flex
                span.title 营销智能
              span.desc-text 商客关系应用管理
            i.arrow-right
          div.service-item.flex
            div
              div.item-flex
                span.title 营销智能
              span.desc-text 商客关系应用管理
            i.arrow-right
        div.service-row.flex
          div.service-item.flex
            div
              div.item-flex
                span.title 营销智能
              span.desc-text 商客关系应用管理
            i.arrow-right
          div.service-item.flex
            div
              div.item-flex
                span.title 营销智能
                //span.label.green 免费体验
              span.desc-text 商客关系应用管理
            i.arrow-right
          div.service-item.flex
            div
              div.item-flex
                span.title 营销智能
                //span.label.green 免费体验
              span.desc-text 商客关系应用管理
            i.arrow-right
        div.service-row.flex
          div.service-item.flex
            div
              div.item-flex
                span.title 营销智能
              span.desc-text 商客关系应用管理
            i.arrow-right
          div.service-item.flex
            div
              div.item-flex
                span.title 营销智能
                //span.label.green 免费体验
              span.desc-text 商客关系应用管理
            i.arrow-right
          div.service-item.flex
            div
              div.item-flex
                span.title 数据可视化
                span.label.primary-bg 推荐
              span.desc-text 可视化数据呈现、提供数据作战方案
            i.arrow-right
    div.show-case.text-center(style="padding-bottom: 0").solution
      div.show-case-title 行业解决方案
      span 数字智能时代，企业转型、消费升级，专注6大行业企业转型解决方案覆盖300+业务场景全栈解决方案
      div.show-case-content
        div.industry
          div.industry-item.dichan
            div.item-name
              i.font_family.icon-dichan
              p.f24 地产行业
            div.item-detail
              p.f24 地产行业
          div.industry-item.kuaixiao
            div.item-name
              i.font_family.icon-kuaixiao
              p.f24 快消行业新零售
            div.item-detail
              p.f24 快消行业新零售
              p 随着云计算、大数据的渐渐普及发展，越来越多的传统行业也开始积极拥抱互联网，积极探索互联网带给企业的更多价值。 房地产行业解决方案，集合了丰富的行业解决方案场景，帮助企业快速地参与到云计算的大潮中
              p.md-text 相关产品
              div.relative-product
                div
                  div.circle
                    i.font_family.icon-gong
                  p 门店管家
                div
                  div.circle
                    i.font_family.icon-shop
                  p BBC商城
                div
                  div.circle
                    i.font_family.icon-fang
                  p 电商ERP
                div
                  div.circle
                    i.font_family.icon-oth
                  p B2B智慧订货
              a.link-btn 查看详情
          div.industry-item.qiche
            div.item-name
              i.font_family.icon-qiche_fuzhi
              p.f24 汽车行业新零售
            div.item-detail
              p.f24 汽车行业新零售
          div.industry-item.nongmu
            div.item-name
              i.font_family.icon-nongye
              p.f24 农牧行业新零售
            div.item-detail
              p.f24 农牧行业新零售
          div.industry-item.c3
            div.item-name
              i.font_family.icon-c_fuzhi_fuzhi
              p.f24 3C行业新零售
            div.item-detail
              p.f24 3C行业新零售
          div.industry-item.yiyao
            div.item-name
              i.font_family.icon-yiyaoxiang
              p.f24 医药保健品新零售
            div.item-detail
              p.f24 医药保健品新零售
    div.container.show-case.text-center
      div.show-case-title.dark 客户案例
      span 目前已支持20家行业龙头企业，帮助企业实现技术革新，提升企业运作效率，降低企业成本
      div.show-case-content
        div.trademark
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
        div.trademark
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
    div.fixed-btn
      i.font_family.icon-paimaizixun_fuzhi
      div(onclick="location.href='customer-info.html'") 业务咨询
block script






