extends layout.jade
//- block 紧跟 extends, 不需要缩进
block title
  title Moria
block content
  div.index
    div.container.show-case.text-center
      div.show-case-title.dark 客户案例
      span 目前已支持20家行业龙头企业，帮助企业实现技术革新，提升企业运作效率，降低企业成本
      div.show-case-content
        div.trademark
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
        div.trademark
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text 占据了白酒市场制高点，称雄于中国品占据了白酒市场制高点，称雄于中国极品酒市场酒市场占据了白酒市场制高点，称雄于中国品。
              a().link-btn 了解更多
          div.placeholder-box
            div.mark-item.text-center
              img(src="./images/wechat.png" alt="图片加载中...").item-img
              div.item-text
              a().link-btn 了解更多
block script






