doctype html
html
  head
    block title
      title title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='description' content="meta desc")
    link(rel='icon' type='image/png' href='./images/favicon.png')
    //- ==================================================
    //- Webapp
    //- ==================================================

    // link(rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png')
    // link(rel='icon' type='image/png' href='/favicon/favicon-16x16.png' sizes='16x16')
    // link(rel='mask-icon' href='/favicon/safari-pinned-tab.svg' color='#5bbad5')

    //- ==================================================
    //- Stylesheets
    //- ==================================================

    //link(rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://cdn.bootcss.com/spectre.css/0.5.1/spectre.min.css")
    link(rel="stylesheet" href="css/main.css")
    block link

  body
    header#header
      nav.nav
        img.logo(src="http://www.dtyunxi.com/statics/images/yunxi3.0/logo.jpg")
        ul.menu
          li.menu-item 首页
          li.menu-item 产品
          li.menu-item 解决方案
          li.menu-item 开放平台
          li.menu-item 合作与生态
          li.menu-item 联系我们

    block content

      //- ==================================================
      //- Put your content here
      //- ==================================================


    //- ==================================================
    //- Scripts
    //- ==================================================
    footer#foote
      a(target="_blank" href="http://www.dtyunxi.com/html/aboutus-company.html") 关于云徒科技
      a(target="_blank" href="http://www.dtyunxi.com/index.php?m=content&c=index&a=lists&catid=16") 云徒研习社
      a(target="_blank" href="http://www.dtyunxi.com/html/aboutus-jobs.html") 加入我们
    script(src="js/main.js")
    block script
