doctype html
html
  head
    block title
      title title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='description' content="meta desc")
    link(rel='icon' type='image/png' href='./images/favicon.png')
    //- ==================================================
    //- Webapp
    //- ==================================================

    // link(rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png')
    // link(rel='icon' type='image/png' href='/favicon/favicon-16x16.png' sizes='16x16')
    // link(rel='mask-icon' href='/favicon/safari-pinned-tab.svg' color='#5bbad5')

    //- ==================================================
    //- Stylesheets
    //- ==================================================

    link(rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css")
    link(rel="stylesheet" href="https://at.alicdn.com/t/font_584589_mh78mwy5cmkro1or.css")
    link(rel="stylesheet" href="css/main.css")
    // 暂时不适配移动端
    // link(rel="stylesheet" href="https://cdn.bootcss.com/spectre.css/0.5.1/spectre.min.css")
    block link

  body
    header.navbar
      div.navbar-section
        a.logo(href="index.html")
          img(src="../images/logo.png").logo-img
        a.nav-item(href="index.html") 首页
        a.nav-item(href="product.html") 产品
        div.product-menu.flex
          div.product-box
            div.product-title
              span.white.md-text 营销智能
              span.small-text.primary-color i－Marketing
            a.product-item
              div
                sapn.item-title 客户管理 i-CRM
                span.label.green 免费体验
              span.small-text 商客关系应用管理
            a.product-item
              div
                sapn.item-title 广告投放管理 i-SmartAd
              span.small-text 营销实时投放、集中管理
            a.product-item
              div
                sapn.item-title 营销管理 i-DMM
              span.small-text 市场营销收集
            a.product-item
              div
                sapn.item-title 营销数据分析 i-SmartDA
              span.small-text 数据智能化分析
            //a.product-item
              div
                sapn.item-title 智能营销数据中台
              span.small-text 大数据作战系统
            //a.product-item
              div
                sapn.item-title 门店运营
              span.small-text 门店宣传、运营方式和模式
            //a.product-item
              div
                sapn.item-title 数据可视化
              span.small-text 可视化数据呈现、提供数据作战方案
          div.product-box
            div.product-title
              span.white.md-text 全渠道销售
              span.small-text.primary-color i－Sales
            a.product-item
              div
                sapn.item-title 数字商城 i-DMall
                span.label.green 免费体验
              span.small-text 供、销、售商业闭环应用
            a.product-item
              div
                sapn.item-title 数字门店 i-Dstore
              span.small-text 提供智能化门店
            a.product-item
              div
                sapn.item-title 社会化分销 i-SDP
              span.small-text 提供智能化分销
            a.product-item
              div
                sapn.item-title 智能客服 i-CSC
              span.small-text 提供智能化客服
            a.product-item
              div
                sapn.item-title 收银&POS DCC
              span.small-text 零售收银、POS应用等
            a.product-item
              div
                sapn.item-title 智慧订货 i-SCM
              span.small-text 提供智能化订货
            a.product-item
              div
                sapn.item-title 电商ERP i-DERP
              span.small-text 电商在线一体化管理
            //  重复?
            a.product-item
              div
                sapn.item-title 销售数据分析 i-SDA
              span.small-text 数据智能化分析
          div.product-box
            div.product-title
              span.white.md-text 企业数字化平台
              span.small-text.primary-color i－Digital Platform
            a.product-item
              div
                sapn.item-title 开发平台 Stonehenge
              span.small-text 提供对外开发接口
            a.product-item
              div
                sapn.item-title 运营平台 Tourbillon
              span.small-text 让用户轻松便捷管理企业
            a.product-item
              div
                sapn.item-title 运维平台 Colosseum
              span.small-text 让用户轻松便捷管理企业
            a.product-item
              div
                sapn.item-title 组件市场 Pyramid
              span.small-text 自由构建业务系统
            a.product-item
              div
                sapn.item-title API网关 Greatwall
              span.small-text 统一管理API请求
            a.product-item
              div
                sapn.item-title 易开发EasyDev
              span.small-text 帮助企业快速开发
            a.product-item
              div
                sapn.item-title 微服务治理 Baton
              span.small-text 提供微服务治理服务
            a.product-item
              div
                sapn.item-title 主数据管理 IMDM
              span.small-text 提供数据管理服务
          div.product-box
            div.product-title
              span.white.md-text 云管平台
              span.small-text.primary-color i－Cloud Platform
            a.product-item
              div
                sapn.item-title 云管平台 ICP
              span.small-text 供、销、售商业闭环应用
        a.nav-item(href="solution.html") 解决方案
        div.product-menu.flex
          div.product-box
            a.product-item(href="platform-check-in.html")
              div
                sapn.item-title 地产行业
              span.small-text 地产行业数字化创新解决方案
            a.product-item(href="platform-check-in.html")
              div
                sapn.item-title 日化行业
              span.small-text 日化行业数字化创新解决方案
          div.product-box
            a.product-item(href="platform-check-in.html")
              div
                sapn.item-title 酒饮行业
              span.small-text 酒饮行业数字化创新解决方案
            a.product-item(href="platform-check-in.html")
              div
                sapn.item-title 农牧行业
              span.small-text 农牧行业数字化创新解决方案
          div.product-box
            a.product-item(href="platform-check-in.html")
              div
                sapn.item-title 医药行业
              span.small-text 医药行业数字化创新解决方案
            a.product-item(href="platform-check-in.html")
              div
                sapn.item-title 3C行业
              span.small-text 3C行业数字化创新解决方案
          div.product-box
            a.product-item(href="platform-check-in.html")
              div
                sapn.item-title 汽车行业
              span.small-text 汽车行业数字化创新解决方案
        a.nav-item 开放平台
        div.product-menu.flex
          div.product-box
            a.product-item(href="platform-check-in.html")
              div
                sapn.item-title 平台接入
              span.small-text 快速构建开发平台
        a.nav-item(href="cooperation.html") 合作与生态
        a.nav-item(href="customer-info.html") 联系我们
      //div
        a.nav-item(href="login.html") 登录
        a(href="register.html").btn 免费注册

    block content

      //- ==================================================
      //- Put your content here
      //- ==================================================


    //- ==================================================
    //- Scripts
    //- ==================================================
    footer#footer
      div.container
        div.feature
          div.feature-item
            i.font_family.icon-yewutubiaopei_fuzhi
            div
              p.md-text 故障赔付
              span 先行100倍故障赔付
          div.feature-item
            i.font_family.icon-jiaoyupeixun_fuzhi
            div
              p.md-text 免费培训
              span 定期免费培训老师上课
          div.feature-item
            i.font_family.icon-viphuiyuanhuangguan_fuzhi
            div
              p.md-text VIP服务
              span 一对一的尊享服务
          div.feature-item
            i.font_family.icon-xiaoshiqiantai_fuzhi
            div
              p.md-text 7*24
              span 全天候7x24小时服务
        div.product
          div.product-item
            p.md-text 智能营销
            a.product-link 客户管理 i-CRM
            a.product-link 广告投放管理
            a.product-link 营销管理 i-DMP
            a.product-link 电商营销管理
            a.product-link 门店运营
            a.product-link 智能营销数据中台
            a.product-link 数据可视化
          div.product-item
            p.md-text 全渠道销售
            a.product-link BBC商城
            a.product-link B2B智慧订货
            a.product-link 电商ERP
          div.product-item
            p.md-text 企业数字化平台
            a.product-link 业务中台
            a.product-link 数据中台
            a.product-link 开发平台
            a.product-link 运营平台
            a.product-link 运维平台
            a.product-link 组件市场
            a.product-link API网关
          div.product-item
            p.md-text 开发平台
            a.product-link API平台
            a.product-link 应用开发
          div.product-item
            p.md-text 关注我们
            figure
             img(src="./images/wechat.png")
             div 产品微信公众号
            figure
              img(src="./images/wechat.png")
              div 产品官方交流微信群
            figure
              img(src="./images/wechat.png")
              div 合作伙伴交流钉钉群
        //a(target="_blank" href="http://www.dtyunxi.com/html/aboutus-company.html") 关于云徒科技
        //a(target="_blank" href="http://www.dtyunxi.com/index.php?m=content&c=index&a=lists&catid=16") 云徒研习社
        //a(target="_blank" href="http://www.dtyunxi.com/html/aboutus-jobs.html") 加入我们
    script(src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js")
    script(src="js/main.js")
    block script
