extends layout.jade
block title
  -
    var data = {
    // 产品名
    title: '电商ERP平台 D-ERP',
    // 产品定义
    desc: ' D-ERP是一款Saas级全渠道ERP，提供一站式电商+实体店的经营决方案：跨平台一体化进销存管理，智能运营商品、库存、为新零售赋能，让电商更高效。',
    // 立即体验链接
    href: '',
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '交易管理',
    desc: '多渠道同步:\n自营不同渠道、第三方代销渠道，产生交易，实时推送\n多维度拆合:\n系统会自动识别商品来源，并对应仓库进行订单拆分，将子订单自动分发到所在仓库或相应的供应商代发货栏目下\n自动择优:\n根据用户的配送地址、仓库的距离，自动选择成本最低的物流，并回填物流单号\n批量处理:\n自动匹配订单与物流发货面单，实现批量打印',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    },
    {
    name: '进销存管理',
    desc: '满足多种采购计划:\n根据常规采购计划、采购建议，发起采购\n多个渠道同步:\n交易产生时自动同步所有渠道订单\n智能分仓:\n根据所分配的发货仓库传递拣货指引\n库存扣减与提醒:\n扣减对应商品库存，同步库存提醒预警数据',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    },
    {
    name: '商品管理',
    desc: '自定义创建:\n根据商家的经营范围，选择标准分类或者创建新分类\n自定义添加:\n根据不同分类添加属性以及属性值\n实时更新:\n选择或者补充属性具体内容\n统一管理:\nx不同平台获取商品档案进行应用',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    },
    {
    name: '财务管理',
    desc: '智能审核:\n根据企业业务需求，定义不同金额、不同供应商的审批节点和角色\n多渠道同步:\n不同渠道产生的交易，财务可以直观查看\n多维度分析:\n从商品成本、库存成本、维度进行销量分析\n数据自动化:\n根据不同供应商以及定义的结算规则，自动生成对账清单，一键操作结算',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    }
    ],
    // 产品优势
    advantages: [
    {title: '全渠道管控', desc: '全渠道（商自有平台，电商第三方平台，实体店铺），全流程（商品、订单、库存）对接，分秒同步，实现全网数据管理，整合资源进行统一管理。', icon: 'icon-dichan'},
    {title: '自动化管理', desc: '订单自动匹配最优发货，根据物流成本和路径自动选择物流，实现高效发货；自动生成采购建议、自动捕获库存异常生成预警、自动触发订单异常提醒，杜绝漏单错单，缺货异常。', icon: 'icon-dichan'},
    {title: '精细化运营', desc: '审核流程可配置、商品体系可以自定义扩展、分析查询条件可组合定义、角色权限操作可自定义，按需扩展性高，真正适配商家的管理方式，减低人工成本。', icon: 'icon-dichan'},
    {title: '快速便捷部署', desc: '支持API接口授权，系统安全稳固，日吞吐近千万订单，零卡顿零漏单，24小时全方位安全监控。', icon: 'icon-dichan'}
    ],
    // 核心功能
    coreFuns: [
    {title: '智慧采购 ，科学控制成本', desc: '供应商管理、采购建议、采购预警、采购价格管理、生成采购订单、采购审批管理、采购退货管理、采购结算管理', icon: 'icon-dichan'},
    {title: '多仓库多平台，高效联动', desc: '多平台库存同步、出入库管理、库存盘点和调拨、库存预警、支持多仓和分仓模式发货、拣货路径最优化', icon: 'icon-dichan'},
    {title: '商品标准化 ，满足拓展场景', desc: '商品体系管理（分类、品牌、规格、属性）、商品档案管理、创建商品组合、商品上下架管理、商品一键导入', icon: 'icon-dichan'},
    {title: '订单流程自动化，高效处理', desc: '多平台订单自动同步、自动审单、灵活自动拆合订单 、自动分配物流、批量打印电子面单、异常订单提醒', icon: 'icon-dichan'},
    {title: '数据多维化，轻松省心', desc: '采购单审核结算、销售成本管理、库存成本管理、运营数据管理、退款管理、对账管理', icon: 'icon-dichan'},
    {title: '售后归一，提升监控质量', desc: '多平台售后处理、售后处理提醒、智能回访机制、售后分析、售后订单查询', icon: 'icon-dichan'}
    ],
    // 案例客户
    cases: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'}
    ],
    // 技术架构
    techArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: './images/solution-pline1_3.jpg',
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''}
    ]
    },
    // 业务架构
    businessArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: './images/solution-pline1_3.jpg',
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '标签分组', desc: '通过标签高效细分客群，可自定义配置，与营销过程管理无缝集成。', icon: ''},
    {title: '营销自动化', desc: '支持从营销活动的设计、执行和评估完整闭环，灵活地实现在合适的时间、对合适的人、用合适的方式、沟通合适的内容。', icon: ''},
    {title: '全环节追踪', desc: '营销过程全程可视，自动生成营销活动结果报告，并提供多维度可视化分析。', icon: ''},
    {title: '企业自行加工业务数据', desc: '系统中所要用到的标签数据，加工环节由客户或其合作伙伴自行定制完成。', icon: ''}
    ]
    }
    }
  title #{data.title}
  include mixin/render-product.jade
