extends layout.jade
block title
  include var/get-img-url.jade
  -
    var pageName = 'product-dstore'
    var data = {
    // 产品名
    title: '数字门店 Dstore',
    // 产品定义
    desc: '打通线上线下，通过WiFi、RFID、虚拟现实等新技术，搭配显示屏幕/互动触摸屏、平板电脑、手机等数字化硬件，为来到门店的顾客提供崭新的用户体验和更贴心的服务，提高店铺销售额，同时实时收集顾客/商品/销售数据，为导购服务提供实时数据，为商家决策提供数据上的有力支持。',
    // 立即体验链接
    href: '',
    // first-sight背景图
    firstSightBg: getImgUrl(pageName, 1),
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: 'O2O购物',
    desc: '浏览商品:\n·消费者在家直接通过店铺微商城浏览商品\n消费者到门店直接选购商品\n购买商品:\n·消费者到门店体验商品，在微商城下单\n·消费者直接在门店下单\n派送商品:\n·消费者可选择在门店直接提货\n·消费者选择送货到家\n订单完成:\n消费者确认收货，订单完成',
    img: getImgUrl(pageName, 2),
    icon: 'icon-icon_tab_nor_29'
    },
    {
    name: '预售商品个性化推荐',
    desc: '设置预售活动信息:\n在店铺微商城选择要上架的预售商品，并设置预售活动标题、内容、时间、范围等\n选择推广群体:\n通过对商品属性分析和用户画像，为预售商品选择合适的推广群体和渠道\n开始推广预售商品:\n根据已选群体和渠道进行预售商品的推广',
    img: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_14'
    },
    {
    name: '门店数字陈列 ',
    desc: '商品陈列分析:\n分析商品销售数据和陈列位置，并形成分析结论\n调整陈列方式:\n供应商将商品发布至推广页面，设定好佣金比例，以供推广商选择\n跟踪陈列数据:\n对新的陈列方式进行数据跟踪，得出结论，验证陈列是否合理\n优化陈列方式:\n当新的陈列方式无法提升商品销量或邻近商品销售，则应当再次优化商品陈列方式',
    img: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_31'
    },
    {
    name: '业务员数字巡店',
    desc: '新增巡店计划:\n业务员可以通过PC、手机、平板创建巡店计划，并自动生成巡店地图\n执行巡店计划:\n业务员根据巡店地图的最短路径进行巡店，并直接通过手机或平板上传巡店数据至后台\n分析巡店数据:\n后台自动分析巡店数据，生成分析报告\n反馈巡店结果:\n将结果反馈至业务员和门店，帮助业务员提升许多年效率，帮助门店提升相应商品销量',
    img: getImgUrl(pageName, 5),
    icon: 'icon-icon_tab_nor_03'
    }
    ],
    // 产品优势
    advantages: [
    {title: '连接', desc: '连接线上线下\n连接终端智能设备\n连接消费者\n连接商圈', icon: 'icon-icon_64_nor_28'},
    {title: '数据', desc: '客户数据\n商圈数据\n运营数据', icon: 'icon-icon_64_nor_20'},
    {title: '互动', desc: '客户互动\n供应商互动\n巡店员互动\n导购员互动', icon: 'icon-icon_64_nor_24'},
    {title: '营销', desc: '多种促销活动\n用户画像\n大数据指导决策\n提升服务质量', icon: 'icon-icon_64_nor_37'}
    ],
    // 核心功能
    coreFuns: [
    {title: '数字化', desc: '线上与线下的数据互通，一体化服务。\n 终端接入：PC、手机、平板、WiFi探针、云POS等接入。\n新技术应用支撑消费者数据获取：消费者人数、年龄分段、收支水平、购买特征等。\n根据大数据技术对消费者数据和周边商圈数据进行分析，建立消费者画像、运营决策指导。', icon: 'icon-icon_72_40'},
    {title: '门店业务', desc: '提供商品管理、订单管理、会员管理、采购管理、库存管理、账务管理、通知管理、巡店管理、统计报表等门店的基础业务功能。', icon: 'icon-icon_72_38'},
    {title: '门店运营', desc: '提供丰富的营销活动：抽奖、优惠券、秒杀、预购、买赠、套装等。\n大数据指导运营：消费者进店时间分布、消费者性别年龄分布、商品购买关联表等运营分析报表。', icon: 'icon-icon_72_08'},
    {title: '系统管理', desc: '组织管理 、用户管理、权限管理、操作日志、系统配置等。', icon: 'icon-icon_72_19'}
    ],
    // 案例客户
    cases: [
    {title: '茅台', desc: '提升消费者体验，如利用数字化技术推动线上线下交易的融合，更方便、快捷购买到放心的正品商品\n	为科学指导与调配经销商库存，实现库存最优化提供精细的决策支持；协助经销商更好的“做生意”\n	基于大数据分析，广告资源投放精准高效\n基于互联网共享架构，增强业务创新能力', img: './images/case-detail-maotai-logo.png'},
    {title: '长安汽车', desc: '提供全新的数据营销、微信营销、经销商营销活动所需资源；\n	同时整合多角色、多端全渠道及内外部系统；\n	以互联、互通、互求构建数字化营销平台', img: './images/case-detail-changan.jpg'}
    ],
    // 技术架构
    techArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: getImgUrl(pageName, 8),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''}
    ]
    },
    // 业务架构
    businessArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: getImgUrl(pageName, 7),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '标签分组', desc: '通过标签高效细分客群，可自定义配置，与营销过程管理无缝集成。', icon: ''},
    {title: '营销自动化', desc: '支持从营销活动的设计、执行和评估完整闭环，灵活地实现在合适的时间、对合适的人、用合适的方式、沟通合适的内容。', icon: ''},
    {title: '全环节追踪', desc: '营销过程全程可视，自动生成营销活动结果报告，并提供多维度可视化分析。', icon: ''},
    {title: '企业自行加工业务数据', desc: '系统中所要用到的标签数据，加工环节由客户或其合作伙伴自行定制完成。', icon: ''}
    ]
    }
    }
  title #{data.title}
  include mixin/render-product.jade
