extends layout.jade
block title
  include var/get-img-url.jade
  -
    var pageName = 'product-pyramid'
    var data = {
    // 产品名
    title: '组件市场 Pyramid',
    // 产品定义
    desc: '开发组件着眼于产品的研发阶段，既是创建产品的前期工作，也是产品持续运行的基础。好的产品首要是稳定健壮，满足性能要求。\n开发组件的价值在于能够降低开发者的成本，降低风险和提升效率。在研发阶段最重要的需求包括基础服务，开发工具和测试工具。\n组件市场将开发组件以源代码或者服务的形式提供给用户，用户反馈使用过程中的问题给开发者，开发者维护更新组件，形成市场、开发者和用户互相依赖反哺，共同成长的良性循环。',
    // 立即体验链接
    href: '',
    // first-sight背景图
    firstSightBg: getImgUrl(pageName, 1),
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '组件管理',
    desc: '组件管理，根据用户身份，开发者可以申请上架组件，管理员可以审核组件并对组件进行上架、下架操作，访客可以浏览门户网站上的组件信息，不同角色身份，对组件的操作权限区别划分，更利于规范化、流程化的管理。',
    img: getImgUrl(pageName, 2),
    icon: 'icon-icon_tab_nor_13'
    },
    {
    name: '统计分析',
    desc: '统计分析，对组件的下载使用量，用户评分等数据进行阶段性统计分析，导出报表，为组件的质量优劣评判，开发者团队的贡献度考核，提供有效的数据支撑。',
    img: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_34'
    },
    {
    name: '用户反馈',
    desc: '用户反馈，记录了用户对组件使用情况的反馈结果，以及对组件的评分。直接体现了组件本身的价值以及存在的问题，为组件的完善提供了依据和方向。',
    img: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_11'
    },
    {
    name: '用户社区',
    desc: '用户社区，作为开发者技术交流的平台，提供了用户间交流组件使用心得的渠道，同时用户也可以发布不同技术领域的干货内容，互相交流分享。或者直接申请发布个人或者团队积累下来的技术到组件市场，完成技术从开发者、社区、组件再到市场的积淀和孵化。',
    img: getImgUrl(pageName, 5),
    icon: 'icon-icon_tab_nor_09'
    }
    ],
    // 产品优势
    advantages: [
    {title: '提升效率，降低成本', desc: '减少企业内部不同项目间重复劳动，降低开发成本，提高开发效率低，加快产品迭代速度, 迅速跟上市场步伐', icon: 'icon-icon_64_nor_03'},
    {title: '组件统一管理', desc: '规划化、流程化不同部门，不同项目组之间的技术交流，用统一市场对组件进行集中管理', icon: 'icon-icon_64_nor_01'},
    {title: '赋能开发能力', desc: '团队可以直接从组件市场获得高可用, 高性能的组件, 不用重复造轮子', icon: 'icon-icon_64_nor_10'},
    {title: '组件验证和推广', desc: '开发者有开发优秀的组件，可以利组件市场作为渠道进行推广、验证和完善', icon: 'icon-icon_64_nor_09'}
    ],
    // 核心功能
    coreFuns: [
    {title: '组件管理', desc: '统一管理公共组件和个人开发者提供的组件，按使用场景、开发语言等多维度多标签分类；\n可以对组件进行上架、下架和版本更新处理，审核个人开发者提供的组件并进行上架处理。审核用户对组件的使用申请流程；\n可以对用户秘钥、组件服务秘钥、数据库秘钥统一进行管理，便于变更追踪，提升安全防护。', icon: 'icon-icon_72_19'},
    {title: '使用统计', desc: '用户角色化，不同的角色分配不同的权限，未申请通过审核的组件用户无法使用，并可对用户行为进行审计；\n自助服务，用户可以自助发起组件使用申请流程，开发者可以自助发起组件发布流程，所有流程审批规范化、标准化；\n统计服务，市场对每个组件的下载数、点赞数和调用次数等进行统计分析，导出报表。', icon: 'icon-icon_72_36'},
    {title: '用户反馈', desc: '用户可以对每个组件进行点赞和评论，反馈使用结果；\n用户可以根据实际使用情况，对组件服务提出bug；根据实际业务需求，提出新增功能的个性化需求。', icon: 'icon-icon_72_13'},
    {title: '社区交流', desc: '面向开发者的开放型技术平台；\n为用户提供分享专业、优质、高效的技术的平台，开发者可以分享组件使用心得体会，公司可以发布内部最新的技术栈变化。', icon: 'icon-icon_72_09'}
    ],
    // 案例客户
    cases: [
    {title: '中国一汽', desc: '中国第一汽车集团公司简称“中国一汽”或“一汽”，英文名称为FAW，央企成员，国有特大型汽车生产企业。一汽1953年奠基兴建，1956年建成并投产，制造出新中国第一辆解放牌卡车。1958年制造出新中国第一辆东风牌小轿车和第一辆红旗牌高级轿车。一汽的建成，开创了中国汽车工业新的历史。经过五十多年的发展，一汽已经成为国内最大的汽车企业集团之一', img: './images/case-detail-yiqi.jpg'}
    ],
    // 业务架构
    businessArt: {
    // 标题
    title: '组件市场主要包含组件门户，后台管理系统和用户社区三大块。',
    // 描述
    //desc: '',
    // 架构图
    //此处的img本应是8 但由于某些原因 弄错了 后台返回的图片与技术架构的相反
    img: getImgUrl(pageName, 7),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '组件门户', desc: '组件门户作为展示渠道，供用户查看组件的介绍和使用说明，查看某个组件下其它用户的使用留言以及组件维护者提供的更新日志', icon: ''},
    {title: '后台管理系统', desc: '后台管理系统仅内部使用，管理注册用户信息和组件信息，组件申请使用流程管理以及组件市场门户网站的内容管理', icon: ''},
    {title: '用户社区', desc: '用户社区主要面向群体为开发者，内容以原创技术类文章为主，个人和团队可以发布文章，就各种组件以及感兴趣的技术内容与他人分享讨论', icon: ''}
    ]
    },
    // 技术架构
    techArt: {
    // 标题
    //title: '',
    // 描述
    //desc: '',
    // 架构图
    img: getImgUrl(pageName, 8),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '前后端分离', desc: '组件市场整体采用前后端分离的方式，组件门户和用户社区前端使用MVVM框架，采用RESTFUL风格API,使用HTTP+JSON的数据传输方式经过网关kong代理转发与后端系统交互', icon: ''},
    {title: '微服务架构', desc: '后端服务采用微服务架构，按功能模块划分服务，采用统一的配置管理中心和服务注册中心，服务间调用采用rpc方式', icon: ''},
    {title: '监控与诊断', desc: '采用统一的系统监控和日志收集服务，监控和诊断系统稳定和安全', icon: ''},
    {title: '存储多样化', desc: '持久层采用nosql数据库存储热点数据和缓存，使用MySQL，MongoDB和七牛云存储用户数据', icon: ''}
    ]
    }
    }
  title #{data.title}
  include mixin/render-product.jade
