extends layout.jade
block title
  include var/get-img-url.jade
  -
    var pageName = 'product-smartda'
    var data = {
    // 产品名
    title: '营销数据分析 SmartDA',
    // 产品定义
    desc: '营销数据分析（SmartDA）是一款综合性管理、分析数据的服务平台；解决企业数据无法互通，缺乏数据采集手段，缺乏指标梳理和数据挖掘方法等问题；赋能中小型企业全面的数据管理与分析能力，快速完成业务数据化到业务数据化的过渡。',
    // 立即体验链接
    href: '',
    // first-sight背景图
    firstSightBg: getImgUrl(pageName, 1),
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '数据处理ETL',
    desc: '抽取、处理源数据，清洗转换到数据存储管理，形成遵循企业数据模型的标准化数据。',
    img: getImgUrl(pageName, 2),
    wideImg: getImgUrl(pageName, 2),
    icon: 'icon-icon_tab_nor_19'
    },
    {
    name: '元数据管理',
    desc: '业务元数据\n面向业务人员，从业务术语、业务描述、业务指标和业务规则等几个方面对数据进行描述。\n管理元数据\n面向数据管理人员，从运维管理的角度描述数据处理、数据质量和数据安全的状态信息。\n技术元数据\n面向技术人员，从数据结构和数据处理细节方面对数据进行技术化描述。\n',
    img: getImgUrl(pageName, 3),
    wideImg: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_18'
    },
    {
    name: '数据质量管理',
    desc: '数据质量要求确认，根据业务要求制定和明确数据质量要求，同时也需要符合数据标准的要求。\n数据质量考评，对数据质量的量化评价。\n制定数据质量问题解决方案，根据数据质量考评和日常工作中发现的数据质量问题，实施相应的措施，提升数据质量。',
    img: getImgUrl(pageName, 4),
    wideImg: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_36'
    },
    {
    name: '数据调度管理',
    desc: '调度管理负责管理所有作业的触发执行以及作业之间的依赖关系，包括调度模块及监控模块：\n调度模块：将系统内的所有数据处理都作为“作业”来统一处理，覆盖了从业务系统接口扫描、装载、数据统计分析、信息展现与发送、明细数据导出、反哺业务系统等操作。\n监控模块：负责及时反馈调度系统的运行状态。\n',
    img: getImgUrl(pageName, 5),
    wideImg: getImgUrl(pageName, 5),
    icon: 'icon-icon_tab_nor_13'
    }
    ],
    // 产品优势
    advantages: [
    {title: '数据整合', desc: '支持多种异构数据源数据的采集；满足用户整合不同系统数据，统一加工分析的需求。', icon: 'icon-icon_64_nor_21'},
    {title: '数据资产管理', desc: '对数据血缘、指标生命周期、元数据、进行工具化管理，并可以制定数据质量报警规则。', icon: 'icon-icon_64_nor_20'},
    {title: '数据服务能力', desc: '接口加工统一化、标准化，通过全方位的访问安全机制提供数据服务接口。', icon: 'icon-icon_64_nor_22'},
    {title: '数据安全管理', desc: '拥有多层次的存储和访问安全机制，全方位保护数据安全，防止丢失、泄露。', icon: 'icon-icon_64_nor_04'}
    ],
    // 核心功能
    coreFuns: [
    {title: '数据集成', desc: '通过弹性伸缩、稳定高效的大数据集成服务，抽取、处理源数据，清洗转换到数据存储管理，形成遵循企业数据模型的标准化数据。将分散在不同物理环境下的数据统一采集到计算服务中。', icon: 'icon-icon_72_20'},
    {title: '数据质量管理', desc: '能够根据数据特征制定不同的数据质量监控规则，随时监控数据的产出质量。制定数据质量问题解决方案，根据数据质量考评和日常工作中发现的数据质量问题，实施相应的措施，提升数据质量。', icon: 'icon-icon_72_18'},
    {title: '大数据管理', desc: '通过大数据管理工具，进行数据资产管理、数据生命周期管理、元数据查询和管理、数据血缘查询等工作。并可以制定数据质量报警规则，确保第一时间了解数据质量问题。', icon: 'icon-icon_72_19'},
    {title: '分析模型管理', desc: '为运营人员准备的分析模型管理工具，可以让其结合行业特性、业务数据，调整优化分析模型的各项参数。过程中无需相关技术人员参与，确保快速验证效果。', icon: 'icon-icon_72_04'}
    ],
    // 案例客户
    cases: [
    {title: '宝洁', desc: '通过eCom主数据系统实现数据标准化、可视化、多元化；对P&G产品数据、电商平台商品数据和经销商商品数据的实时掌握，及时了解产品销售情况。宝洁智慧供应链通过数字化的方式把订单需求一步步地推到工厂，使产品的生产跟随着消费的需求而变化。打通宝洁、电商平台、经销商的订单数据信息，及时了解库存情况，降低库存积压，杜绝缺货，实现供需平衡。同时供应链打通实时的产品与订单数据，帮助公司实现电商平台与经销商的有效管理；如若电商平台与经销商出现了异常销量，公司也能及时快速地发现与改过。', img: './images/case-detail-pg.jpg'},
    {title: '茅台', desc: '	提升消费者体验，如利用数字化技术推动线上线下交易的融合，更方便、快捷购买到放心的正品商品\n	为科学指导与调配经销商库存，实现库存最优化提供精细的决策支持；协助经销商更好的“做生意”\n	基于大数据分析，广告资源投放精准高效\n	基于互联网共享架构，增强业务创新能力', img: './images/case-detail-maotai-logo.png'},
    ],
    // 技术架构
    techArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: getImgUrl(pageName, 8),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '独立部署', desc: '提供营销推广系统的底层服务API及标准化功能界面，系统前端业务逻辑运行于企业ECS服务器上。', icon: 'icon-icon_64_nor_38'},
    {title: '提供标准化界面，可二次开发', desc: '标准化功能界面以开源方式输出，可直接使用或自由定制。', icon: 'icon-icon_64_nor_33'},
    {title: '账号权限体系归企业所有', desc: '账号权限体系以开源方式输出，可直接使用或自由定制；其中账号数据存储在企业RDS数据库。', icon: 'icon-icon_64_nor_24'},
    {title: '企业自行加工业务数据', desc: '系统中所要用到的标签数据，加工环节由客户或其合作伙伴自行定制完成。', icon: 'icon-icon_64_nor_05'}
    ]
    },
    // 业务架构
    businessArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: getImgUrl(pageName, 7),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '标签分组', desc: '通过标签高效细分客群，可自定义配置，与营销过程管理无缝集成。', icon: ''},
    {title: '营销自动化', desc: '支持从营销活动的设计、执行和评估完整闭环，灵活地实现在合适的时间、对合适的人、用合适的方式、沟通合适的内容。', icon: ''},
    {title: '全环节追踪', desc: '营销过程全程可视，自动生成营销活动结果报告，并提供多维度可视化分析。', icon: ''},
    {title: '企业自行加工业务数据', desc: '系统中所要用到的标签数据，加工环节由客户或其合作伙伴自行定制完成。', icon: ''}
    ]
    }
    }
  title #{data.title}
  include mixin/render-product.jade
