extends layout.jade
block title
  -
    var data = {
    // 产品名
    title: '运营平台 Tourbillon',
    // 产品定义
    desc: '中台以API接口的形式，开放了各种能力。用户需要在自己的应用中使用这些能力。同时管理员需要管理这些能力接口。\n特比龙可以帮助应用开发用户快捷的使用这些能力（应用接入），并且可以管理自己的应用（应用管理）。\n特比龙还能帮助管理员控制这些开放API（中台API的上线、下线），对需要接入的应用进行审核（应用审核），同时对这些开放API进行数据统计，为中台开发提供建议。\n',
    // 立即体验链接
    href: '',
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '创建应用',
    desc: '企业用户根据自己的实际业务，选择合适的模版，创建自己的应用。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi',
    },
    {
    name: '审核应用',
    desc: '特比龙平台管理员可以查看应用，决定是否通过审核，并决定审核有效期限。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi',
    },
    {
    name: '应用上线',
    desc: '应用上线后，可以根据审核后的数据，到平台获取应用token。并带token可以访问开放API平台接口。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi',
    },
    {
    name: '数据分析',
    desc: '用户可以查看应用维度、API维度的统计数据，辅助业务决策。\n管理员可以查看API调用等统计数据，为中台业务开发提供非功能性建议。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi',
    },
    ],
    // 产品优势
    advantages: [
    {title: '便捷的应用创建', desc: 'step-by-step式的应用创建引导页，方便企业用户根据自己的实际业务模式，创建应用。', icon: 'icon-dichan'},
    {title: '完善的开发支持', desc: '完善的开发者文档。多语言支持的开发SDK，开发者引入SDK即能使用中心赋能。', icon: 'icon-dichan'},
    {title: '测试环境自由切换', desc: '企业应用测试阶段，可以通过SDK配置切换测试环境，完成测试后，再使用正式环境。', icon: 'icon-dichan'},
    // {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    ],
    // 核心功能
    coreFuns: [
    {title: '应用接入规范', desc: '引导式的应用接入。企业用户在web页面上填写应用基础数据，提交即完成应用申请。', icon: 'icon-dichan'},
    {title: '中台中心管理', desc: '管理员可以在web页面，添加中心到中台网关。也可以将中心下线。内部通过调用中台网关API完成。', icon: 'icon-dichan'},
    {title: '线上运营', desc: '查看企业运营数据，如调用次数、错误信息，不同渠道的的调用对比等。这些数据可以通过分析，为企业提供业务决策。', icon: 'icon-dichan'},
    {title: '开发者文档', desc: '提供清晰易用的在线开发者文档、接入SDK，并提供测试环境，最大限度的简化企业应用的开发，联调。', icon: 'icon-dichan'},
    ],
    // 案例客户
    cases: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    ]
    }
  title #{data.title}
  include mixin/render-product.jade
