extends layout.jade
block title
  -
    var data = {
    // 产品名
    title: '开发平台 Stonehenge',
    // 产品定义
    desc: '开发平台提供了由最新技术栈组成的开发套件，接口管理服务，集成开发规范以及最佳实践，自动化贯穿了开发，测试，构建，部署等软件开发过程，支持一键生成API， 配置生成页面，是企业级中后台应用进行前后端分离，快速开发的解决方案。',
    // 立即体验链接
    href: '',
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
      {
        name: '技术革新',
        desc: '拥抱前沿技术，开拓新的可能\n遵循标准规范，保持风格一致\n进行单元测试，保证代码质量\n开发自运维，打破开发与运维之间的壁垒，加上自动化工具，新功能可以快速交付，团队可以低成本享受开发成果',
        img: '../images/product-s1-kehuxianshang.jpg',
        icon: 'icon-jiaoyupeixun_fuzhi',
      },
      {
      name: '快速开始',
      desc: '还在开发相似的接口？\n还在刻画相似的页面？\n开发套件支持通过配置自动生成接口以及页面，免去了重复劳动\n如果现有模板不满足个性化需求，还可以一键导出生成好的文件，稍做修改即可使用',
      img: '../images/product-s1-kehuxianshang.jpg',
      icon: 'icon-jiaoyupeixun_fuzhi',
      },
      {
      name: '技术革新',
      desc: '拥抱前沿技术，开拓新的可能\n遵循标准规范，保持风格一致\n进行单元测试，保证代码质量\n开发自运维，打破开发与运维之间的壁垒，加上自动化工具，新功能可以快速交付，团队可以低成本享受开发成果',
      img: '../images/product-s1-kehuxianshang.jpg',
      icon: 'icon-jiaoyupeixun_fuzhi',
      },
      {
      name: '技术革新',
      desc: '拥抱前沿技术，开拓新的可能\n遵循标准规范，保持风格一致\n进行单元测试，保证代码质量\n开发自运维，打破开发与运维之间的壁垒，加上自动化工具，新功能可以快速交付，团队可以低成本享受开发成果',
      img: '../images/product-s1-kehuxianshang.jpg',
      icon: 'icon-jiaoyupeixun_fuzhi',
      },
    ],
    // 产品优势
    advantages: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    ],
    // 核心功能
    coreFuns: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    ],
    // 案例客户
    cases: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    ]
    }
  title #{data.title}
  include mixin/render-product.jade
