extends layout.jade
block title
  -
    var data = {
    // 产品名
    title: '广告投放管理 SmartAd',
    // 产品定义
    desc: '广告投放管理（SmartAd）是一个能智能分析与优化的广告投放管理平台；解决企业流量获取途径单一、投放策略粗犷、投放效果难以监控等问题；帮助企业实现广告全流程监控、分析与自动优化，服务于需要精准广告触达的中小型企业。',
    // 立即体验链接
    href: '',
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '全环节数据采集',
    desc: '通过对广告链接和落地页封装监控方案，采集广告浏览信息，获取实时监控数据，为业务人员提供全流程监控分析。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    },
    {
    name: '全流程实时监控',
    desc: '对广告投放全流程所有节点进行实时监控，根据各节点特性选择关键指标，只获取有用信息，屏蔽无关信息干扰。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    },
    {
    name: '投放策略优化',
    desc: '根据监控信息反馈辅助业务人员动态调整企业投放策略，精准定位劣质渠道，智能调整投放计划关闭劣质通道，持续对广告投放进行优化。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    },
    {
    name: '人群放大',
    desc: '可根据种子客户的分析特征进行画像匹配，抽取其中共有属性进行关键特征总结，基于其特征进行放大匹配相似人群，并通过营销规则进行客户触达。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    }
    ],
    // 产品优势
    advantages: [
    {title: '跨屏、跨渠道整合', desc: '整合主流媒体平台，一键选取下单', icon: 'icon-dichan'},
    {title: '个性化内容展示', desc: '精准触达目标人群，提高广告转化', icon: 'icon-dichan'},
    {title: '全流程监控', desc: '自研工具自动分析广告效果数据', icon: 'icon-dichan'},
    {title: '策略优化', desc: '实时分析投放数据，优化渠道投放', icon: 'icon-dichan'}
    ],
    // 核心功能
    coreFuns: [
    {title: '策略管理', desc: '实时分析投放渠道数据，根据曝光、点击、互动、转换等流量数据与单价、投入成本等数据进行交叉分析，自动区分优质渠道与劣质渠道，实时调整渠道投放计划。', icon: 'icon-dichan'},
    {title: '内容管理', desc: '依据目标人群的基础属性、地理属性、行为偏好、兴趣偏好、购物偏好等特征，将目标人群进行分组后推送其感兴趣的广告内容，提高各环节的转化率。', icon: 'icon-dichan'},
    {title: '监控和效果评估', desc: '自动分析广告的曝光、点击、互动、转换等各环节的效果数据，直接给出相关分析结论，根据结论指导广告内容优化、推广渠道渠道优化、投放策略优化。', icon: 'icon-dichan'},
    {title: '线索管理', desc: '通过模版或者自定义潜客的树形结构旅程，在指定的时间，用指定的触达方式，推送指定的内容。区分响应人群与未响应人群，分别处理并执行后续步骤，直到旅程结束。', icon: 'icon-dichan'}
    ],
    // 案例客户
    cases: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'}
    ],
    // 技术架构
    techArt: {
    // 标题
    title: '高性能弹性云数据库服务 支持多个云服务器高并发访问',
    // 描述
    desc: '满足业务连续性和可扩展性的高性能云数据库服务',
    // 架构图
    img: './images/solution-pline1_3.jpg',
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''}
    ]
    },
    // 业务架构
    businessArt: {
    // 标题
    title: '高性能弹性云数据库服务 支持多个云服务器高并发访问',
    // 描述
    desc: '满足业务连续性和可扩展性的高性能云数据库服务',
    // 架构图
    img: './images/solution-pline1_3.jpg',
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '完整数据采集方案', desc: '提供完整、成熟的数据采集方案，帮助企业有效采集数据', icon: ''},
    {title: '多种定向方式', desc: '提供标签定向、行为定向等定向方式，帮助推广方细分人群，实现精准投放', icon: ''},
    {title: '实时效果监控', desc: '可按照投放计划、受众、创意、媒体、分类等多个角度查看展示、点击、转化率、消耗等效果明细及趋势。TB级别的数据秒级延迟', icon: ''},
    {title: '账号权限体系归企业所有', desc: '账号权限体系以开源方式输出，可直接使用或自由定制；其中账号数据存储在企业数据库', icon: ''}
    ]
    }
    }
  title #{data.title}
  include mixin/render-product.jade
