extends layout.jade
block title
  -
    var data = {
    // 产品名
    title: 'API网关 Greatwall',
    // 产品定义
    desc: 'API 网关（API Gateway）提供API 托管服务，涵盖API 创建、发布、运维、监控和安全保护的全生命周期管理，帮助用户快速、低成本地进行微服务聚合、系统集成、以及与合作伙伴的业务连接。',
    // 立即体验链接
    href: '',
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '轻松实现系统集成',
    desc: '企业用户根据自己的实际业务，选择合适的模版，创建自己的应用。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi',
    },
    {
    name: '建立API生态，开放能力，付费使用',
    desc: '以 API 形式提供能力，包含计算，数据，功能等各种能力；开放能力，向开发者、合作伙伴、第三方赚取收入。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi',
    },
    {
    name: '外部多端统一访问',
    desc: '通过 API 网关，一套后端服务来服务多个终端，统一身份认证、统一流量监控；通过 API 网关，统一多端访问入口，通过协议适配和转换，满足不同终端对协议的需求。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi',
    },
    {
    name: 'API报告分析',
    desc: '以图表化的形式多维度展示API日志，生成对API分析报告，更快速地定位问题，大大提高日常运营效率。',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi',
    },
    ],
    // 产品优势
    advantages: [
    {title: '秒级部署', desc: 'API 网关提供Dockerize方案，轻松进行私有化部署，并提供多种成熟的业务接入方案。', icon: 'icon-dichan'},
    {title: '高可靠性', desc: 'API 网关可进行集群化部署，当单个节点故障时，可进行自动切换，以实现高可靠性。', icon: 'icon-dichan'},
    {title: '简单易用', desc: 'API 网关用户可直接在管理控制台进行图形化配置，也可调用RESTful API进行业务配置，完成API 的快速接入。', icon: 'icon-dichan'},
    {title: '安全稳定', desc: 'API 服务只需在内网对 API 网关开放，不必顾虑安全问题，另外，也提供了统一的安全认证，内置支持多种业务场景的扩展插件。', icon: 'icon-dichan'},
    {title: '易于维护', desc: 'API 网关提供API的可视化管理，多租户隔离，权限控制等一系列的运维能力，将用户从繁重的运维中解放出来。', icon: 'icon-dichan'},
    ],
    // 核心功能
    coreFuns: [
    {title: 'API 生命周期管理', desc: '提供 API 创建、维护、发布、运行、测试、下线等操作的全生命周期管理；支持 API 日常管理、API 版本管理、API 快速回滚等维护功能。', icon: 'icon-dichan'},
    {title: 'API 日志管理', desc: '提供可视化的API 访问日志。可方便的查询运行中 API 的详细信息。\n提供日志比较、过滤、聚合、多维度属性分析等功能特性。', icon: 'icon-dichan'},
    {title: '灵活的权限控制', desc: '提供严格的认证服务，能够控制每个API的访问权限，对应用进行授权，只有对已经授权通过的应用才能正常访问API。', icon: 'icon-dichan'},
    {title: '可视化数据分析', desc: '能够对API 访问日志快速生成数据分析报告，支持多元素图表—折线图、扇形图、柱状图等展示形式。', icon: 'icon-dichan'},
    {title: '精准的流量控制', desc: '限流功能可配置 API 的流控，您可按业务需要配置每秒支持调用 API 的次数，用以保障您业务的稳定性。', icon: 'icon-dichan'},
    {title: '丰富的扩展插件', desc: '提供了丰富的插件库供您业务场景选择，如身份验证、数据传输安全、黑白名单、数据变形、日志处理等场景。', icon: 'icon-dichan'},
    ],
    // 案例客户
    cases: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    ]
    }
  title #{data.title}
  include mixin/render-product.jade
