extends layout.jade
block title
  include var/get-img-url.jade
  -
    var pageName = 'product-dmall'
    var data = {
    // 产品名
    title: '数字商城 DMall',
    // 产品定义
    desc: '云上的多租户多渠道多店铺多用户的商城系统。采用大中台+小前台的技术构架、支持平台自营与多商家店铺共存模式，具有完善的商品管理、订单管理、物流配送、会员管理等基础功能。同时提供丰富的营销功能，精细化的用户运营，解决电商引流、推广难题，帮助企业打造生态级B2B2C盈利模式商业平台，它能够帮助企业解决线上线下管理问题，提高企业运营高度和统一运营能力，是为企业带来一站式解决方案的商城系统。',
    // 立即体验链接
    href: '',
    // first-sight背景图
    firstSightBg: getImgUrl(pageName, 1),
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '汇聚海量货架',
    desc: '商家准入机制:\n支持定义商家入驻的标准，如商品标准，资质要求、经营范围\n发起申请:\n开放申请入口，商家可以自主发起申请\n区分角色权限:\n商家可自定义商品上架的流程，以及操作角色，实现全流程自动流转操作\n扩充sku:\n平台展示所有入驻商家商品，铺开销售。',
    img: getImgUrl(pageName, 2),
    icon: 'icon-icon_tab_nor_31'
    },
    {
    name: '多维活动并行',
    desc: '多维度并行:\n支持平台活动开放商家申请入口，支持商家自行发起活动\n灵活模板:\n商家可以选择标准活动模板，也可以通过活动模板组件，实现活动页面+活动规则的组合\n自主投放:\n一键获取活动链接，根据商家需求投放到不同的推广渠道\n数据化活动效果:\n每个活动可以跟踪用户参与情况，页面点击情况，为活动调整提供支撑',
    img: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_14'
    },
    {
    name: '统一发货调度',
    desc: '多维度拆合:\n系统会自动识别商品来源，并对应仓库进行订单拆分，将子订单自动分发到所在仓库或相应的供应商代发货栏目下\n自动择优:\n根据用户的配送地址、仓库的距离，自动选择成本最低的物流，并回填物流单号\n批量处理:\n自动匹配订单与物流发货面单，实现批量打印\n自动化处理:\n根据订单的商家结算规则，分销规则，自动计算结算清单，一键提现发起结算',
    img: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_33'
    },
    {
    name: '全局售后',
    desc: '多重账号角色:\n平台创建商家售后账号，账号可以定义不同的角色权限：退换货处理，退换货审批，投诉处理\n配置配套服务:\n商家可以配置售后知识库，在线接待小组，退换货的规则\n自动流转:\n根据商家的角色以及所设定的售后规则，分派售后处理人员\n跟踪与优化:\n提供售后分析报表，以及异常预警，为商家的服务提升提供依据',
    img: getImgUrl(pageName, 5),
    icon: 'icon-icon_tab_nor_28'
    }
    ],
    // 产品优势
    advantages: [
    {title: '模式支持', desc: '支持自营、联营的多租户多渠道多店铺多用户系统，满足商家新零售各种商业模式。', icon: 'icon-icon_64_nor_06'},
    {title: '业务支持', desc: '提供商家的入驻、开店、供货、采购，再到分销、线下门店打通，形成完善的交易链闭环', icon: 'icon-icon_64_nor_39'},
    {title: '数字化', desc: '提供新零售的工具-数字化：用户数字化、门店数字化、渠道数字化、供应链数字化、营销数字化。', icon: 'icon-icon_64_nor_41'},
    {title: '快速运营', desc: '注册账号完成即可立即开展业务，不需购买设备、不需开发，不需部署应用。', icon: 'icon-icon_64_nor_03'}
    ],
    // 核心功能
    coreFuns: [
    {title: '系统定制', desc: '根据租户选择的系统版本，提供不同的业务模式和功能支持。\n提供系统功能、渠道、支付方式、配送方式、物流快递、订单规则、系统枚举值等配置。\n提供商城运营的banner、搜索、站点、楼层、专题。公告、文章、文案等配置', icon: 'icon-icon__'},
    {title: '商品运营', desc: '提供完善的商品体系，包括商品属性、后台类目、前台类目、产品、商品、标签等。\n拥有商品生命管理周期，包括商品发布、商品审核、商品上下架、商品销售、商品价格维护、商品库存维护等。\n促销方案的支持：包括优惠套餐、优惠券、满赠、满送等促销活动。\n', icon: 'icon-icon_72_33'},
    {title: '订单交易与履约', desc: '消费者在各个渠道下单，然后订单汇总到订单中心统一处理。\n订单经过支付后，进入客审、财审等审核后流转到仓库发货。\n仓库对订单进行合单、拆单、批拣、复核、出库等业务处理，完成发货流程。\n订单根据物流公司，展示订单的物流路由详细信息，可实时查看包裹状态。\n完成的订单进行平台与商家、商家与分销员的清分、提现、结算。', icon: 'icon-icon_72_38'},
    {title: '售后服务', desc: '内置在线及时沟通工具，随时联系客服解决售后问题。\n支持售后的退货退款、仅退款业务及对应的审核流程。\n消费者与商家的纠纷，可以发起申诉工单流程，在消费者、商家、平台三方架起快速便捷的沟通桥梁。', icon: 'icon-icon_72_24'}
    ],
    // 案例客户
    cases: [
    {title: '宝洁', desc: '通过eCom主数据系统实现数据标准化、可视化、多元化；对P&G产品数据、电商平台商品数据和经销商商品数据的实时掌握，及时了解产品销售情况。宝洁智慧供应链通过数字化的方式把订单需求一步步地推到工厂，使产品的生产跟随着消费的需求而变化。打通宝洁、电商平台、经销商的订单数据信息，及时了解库存情况，降低库存积压，杜绝缺货，实现供需平衡。同时供应链打通实时的产品与订单数据，帮助公司实现电商平台与经销商的有效管理；如若电商平台与经销商出现了异常销量，公司也能及时快速地发现与改过。', img: './images/case-detail-pg.jpg'}
    ],
    // 技术架构
    techArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: getImgUrl(pageName, 8),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''}
    ],
    // 是否展示这个tab
    isHide: true
    },
    // 业务架构
      businessArt: {
      // 标题
      title: '',
      // 描述
      desc: '',
      // 架构图
      img: getImgUrl(pageName, 7),
      // 解决方案说明, 架构图描述
      solutions: [
      {title: '标签分组', desc: '通过标签高效细分客群，可自定义配置，与营销过程管理无缝集成。', icon: ''},
      {title: '营销自动化', desc: '支持从营销活动的设计、执行和评估完整闭环，灵活地实现在合适的时间、对合适的人、用合适的方式、沟通合适的内容。', icon: ''},
      {title: '全环节追踪', desc: '营销过程全程可视，自动生成营销活动结果报告，并提供多维度可视化分析。', icon: ''},
      {title: '企业自行加工业务数据', desc: '系统中所要用到的标签数据，加工环节由客户或其合作伙伴自行定制完成。', icon: ''}
      ]
      }
    }
  title #{data.title}
  include mixin/render-product.jade
