extends layout.jade
block title
  include var/get-img-url.jade
  -
    var pageName = 'product-greatwall'
    var data = {
    // 产品名
    title: 'API网关 Greatwall',
    // 产品定义
    desc: 'API 网关（API Gateway）提供API 托管服务，涵盖API 创建、发布、运维、监控和安全保护的全生命周期管理，帮助用户快速、低成本地进行微服务聚合、系统集成、以及与合作伙伴的业务连接。',
    // 立即体验链接
    href: '',
    // first-sight背景图
    firstSightBg: getImgUrl(pageName, 1),
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '系统集成',
    desc: '企业用户根据自己的实际业务，选择合适的模版，创建自己的应用。',
    img: getImgUrl(pageName, 2),
    icon: 'icon-icon_tab_nor_02'
    },
    {
    name: 'API生态',
    desc: '以 API 形式提供能力，包含计算，数据，功能等各种能力；开放能力，向开发者、合作伙伴、第三方赚取收入。',
    img: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_01'
    },
    {
    name: '多端统一',
    desc: '通过 API 网关，一套后端服务来服务多个终端，统一身份认证、统一流量监控；通过 API 网关，统一多端访问入口，通过协议适配和转换，满足不同终端对协议的需求。',
    img: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_03'
    },
    {
    name: 'API报告',
    desc: '以图表化的形式多维度展示API日志，生成对API分析报告，更快速地定位问题，大大提高日常运营效率。',
    img: getImgUrl(pageName, 5),
    icon: 'icon-icon_tab_nor_34'
    }
    ],
    // 产品优势
    advantages: [
    {title: '秒级部署', desc: 'API 网关提供Dockerize方案，轻松进行私有化部署，并提供多种成熟的业务接入方案。', icon: 'icon-icon_64_nor_38'},
    {title: '高可靠性', desc: 'API 网关可进行集群化部署，当单个节点故障时，可进行自动切换，以实现高可靠性。', icon: 'icon-icon_64_nor_02'},
    {title: '简单易用', desc: 'API 网关用户可直接在管理控制台进行图形化配置，也可调用RESTful API进行业务配置，完成API 的快速接入。', icon: 'icon-icon_64_nor_03'},
    {title: '安全稳定', desc: 'API 服务只需在内网对 API 网关开放，不必顾虑安全问题，另外，也提供了统一的安全认证，内置支持多种业务场景的扩展插件。', icon: 'icon-icon_64_nor_04'},
    {title: '易于维护', desc: 'API 网关提供API的可视化管理，多租户隔离，权限控制等一系列的运维能力，将用户从繁重的运维中解放出来。', icon: 'icon-icon_64_nor_05'}
    ],
    // 核心功能
    coreFuns: [
    {title: 'API 生命周期管理', desc: '提供 API 创建、维护、发布、运行、测试、下线等操作的全生命周期管理；支持 API 日常管理、API 版本管理、API 快速回滚等维护功能。', icon: 'icon-icon_72_27'},
    {title: 'API 日志管理', desc: '提供可视化的API 访问日志。可方便的查询运行中 API 的详细信息。\n提供日志比较、过滤、聚合、多维度属性分析等功能特性。', icon: 'icon-icon_72_02'},
    {title: '灵活的权限控制', desc: '提供严格的认证服务，能够控制每个API的访问权限，对应用进行授权，只有对已经授权通过的应用才能正常访问API。', icon: 'icon-icon_72_03'},
    {title: '可视化数据分析', desc: '能够对API 访问日志快速生成数据分析报告，支持多元素图表—折线图、扇形图、柱状图等展示形式。', icon: 'icon-icon_72_04'},
    {title: '精准的流量控制', desc: '限流功能可配置 API 的流控，您可按业务需要配置每秒支持调用 API 的次数，用以保障您业务的稳定性。', icon: 'icon-icon_72_05'},
    {title: '丰富的插件扩展', desc: '提供了丰富的插件库供您业务场景选择，如身份验证、数据传输安全、黑白名单、数据变形、日志处理等场景。', icon: 'icon-icon_72_06'}
    ],
    // 案例客户
    cases: [
    {title: '珠江钢琴', desc: '广州珠江钢琴集团股份有限公司（以下简称“珠江钢琴集团”）成立于1956年，是一家集钢琴、数码乐器、音乐教育、文化传媒、互联网科技协同发展的综合乐器文化企业', img: './images/case-detail-gangqin.jpg'}
    ],
    // 技术架构
    techArt: {
    // 标题
    title: '前后端分离',
    // 描述
    desc: 'API 网关主要分为前台界面、后端服务和持久层三大部分，采用了前后端分离的技术架构。',
    // 架构图
    img: getImgUrl(pageName, 8),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '前端', desc: '前端门户采用MVVM框架，通过Restful API与后端服务进行通信；', icon: 'icon-icon_64_nor_09'},
    {title: '后端', desc: '后端服务基于Nginx+Lua技术实现API网关的各种功能，采用Nodejs+Egg开发resful API，供前端调用；', icon: 'icon-icon_64_nor_33'},
    {title: '持久层', desc: '持久层采用nosql数据库存储热点数据和缓存，使用MySQL，MongoDB存储用户数据。', icon: 'icon-icon_64_nor_20'}
    ]
    },
    // 业务架构
    businessArt: {
    // 标题
    title: 'API托管',
    // 描述
    desc: 'API 网关作为所有外部应用的统一访问入口，提供了所有服务的API托管，管理API的整个生命周期',
    // 架构图
    img: getImgUrl(pageName, 7),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '基本功能', desc: '基本功能包括API管理、安全认证、负载均衡、流量控制、日志分析等；', icon: 'icon-icon_64_nor_13'},
    {title: '扩展功能', desc: '扩展功能够能主要以插件的形式对API 网关进行扩展，丰富的插件市场满足各种业务场景的需求', icon: 'icon-icon_64_nor_11'}
    ]
    }
    }
  title #{data.title}
  include mixin/render-product.jade
