extends layout.jade
block title
  -
    var data = {
    // 产品名
    title: '社会化分销平台 SDP',
    // 产品定义
    desc: '基于数据智能的新零售社会化分销平台,可聚合社交媒体和移动社交的流量，并在大数据基础上进行精细化营销，实现全渠道分销的目的',
    // 立即体验链接
    href: '',
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '人人电商',
    desc: '成为推广商:\n用户需登录特定的页面，申请推广账号，后台审核通过后，即有资格推广商品获利\n选择产品并推广:\n供应商将商品发布至推广页面，设定好佣金比例，以供推广商选择\n分享推广产品:\n用户选择推广商品后，可分享至社交媒体\n获取推广佣金:\n如果朋友购买了推广商品，则在一定的周期后，推广商可从供应商获取佣金',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    },
    {
    name: '专属微店',
    desc: '注册微店:\n企业和个人都可以注册微店账号，但拥有不同的微店权限\n审核微店:\n后台人工或机器审核资料是否合法合规\n登录微店:\n注册成功后即可登录上传商品或进行其他操作',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    },
    {
    name: '消费积分',
    desc: '注册会员:\n用户需先注册会员才可参与积分活动\n获取积分:\n后台设置积分规则，根据会员消费金额获取一定积分\n积分兑换:\n当积分达到某个商品/服务的兑换条件后，即可进行兑换\n积分扣减:\n兑换成功后，后台自动扣减相应积分',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    },
    {
    name: '商品代发',
    desc: '用户下单:\n用户在代理商（无自己的商品库存）渠道进行下单\n确认订单:\n代理商确认商品订单，系统至流转至供应商仓库处理\n仓库发货:\n供应商确认订单后进行商品代发，并实时反馈物流信息至代理商平台\n确认收货:\n用户确认收货，一定周期后，代理商从供应商结算佣金',
    img: '../images/product-s1-kehuxianshang.jpg',
    icon: 'icon-jiaoyupeixun_fuzhi'
    }
    ],
    // 产品优势
    advantages: [
    {title: '数据智能化', desc: '全面挖掘和分析企业物流、信息流、资金流数据情况，系统自动构建粉丝画像和估计分销行为', icon: 'icon-dichan'},
    {title: '分销规范化', desc: '统一平台管理，规避分销商管理紊乱失控、内部无效逐利竞争、窜货等行为', icon: 'icon-dichan'},
    {title: '营销精细化', desc: '在数据智能化基础上，粉丝营销不再是大面积粗放式的，而是个性化精细化的', icon: 'icon-dichan'},
    {title: '粉丝聚合化', desc: '所有粉丝统一到同一平台，有利于粉丝沉淀和管理', icon: 'icon-dichan'}
    ],
    // 核心功能
    coreFuns: [
    {title: '自动化报表及数据估计', desc: '包括基础台账（进销存、订单、基础资金报表）；数据预估模型（库存周期、成本利润估计）；粉丝画像等', icon: 'icon-dichan'},
    {title: '商品进销存管理', desc: '包括商品进货（供应商管理）；商品价格与库存；物流跟踪等', icon: 'icon-dichan'},
    {title: '会员活动与个性化推荐', desc: '包括粉丝漏斗模型；多渠道推广模型；会员积分及商城系统等', icon: 'icon-dichan'},
    {title: '分销渠道与佣金管理', desc: '包括微客、微商、微店铺的管理；各分销渠道的佣金配置及结算管理等', icon: 'icon-dichan'}
    ],
    // 案例客户
    cases: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'}
    ],
    // 技术架构
    techArt: {
    // 标题
    title: '高性能弹性云数据库服务 支持多个云服务器高并发访问',
    // 描述
    desc: '满足业务连续性和可扩展性的高性能云数据库服务',
    // 架构图
    img: './images/solution-pline1_3.jpg',
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''}
    ]
    },
    // 业务架构
    businessArt: {
    // 标题
    title: '高性能弹性云数据库服务 支持多个云服务器高并发访问',
    // 描述
    desc: '满足业务连续性和可扩展性的高性能云数据库服务',
    // 架构图
    img: './images/solution-pline1_3.jpg',
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '标签分组', desc: '通过标签高效细分客群，可自定义配置，与营销过程管理无缝集成。', icon: ''},
    {title: '营销自动化', desc: '支持从营销活动的设计、执行和评估完整闭环，灵活地实现在合适的时间、对合适的人、用合适的方式、沟通合适的内容。', icon: ''},
    {title: '全环节追踪', desc: '营销过程全程可视，自动生成营销活动结果报告，并提供多维度可视化分析。', icon: ''},
    {title: '企业自行加工业务数据', desc: '系统中所要用到的标签数据，加工环节由客户或其合作伙伴自行定制完成。', icon: ''}
    ]
    }
    }
  title #{data.title}
  include mixin/render-product.jade
