extends layout.jade
block title
  include var/get-img-url.jade
  -
    var pageName = 'product-erp'
    var data = {
    // 产品名
    title: '电商ERP平台 D-ERP',
    // 产品定义
    desc: ' D-ERP是一款Saas级全渠道ERP，提供一站式电商+实体店的经营决方案：跨平台一体化进销存管理，智能运营商品、库存、为新零售赋能，让电商更高效。',
    // 立即体验链接
    href: 'customer-info.html',
    // first-sight背景图
    firstSightBg: getImgUrl(pageName, 1),
    // 应用场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '交易管理',
    desc: '多渠道同步:\n自营不同渠道、第三方代销渠道，产生交易，实时推送\n多维度拆合:\n系统会自动识别商品来源，并对应仓库进行订单拆分，将子订单自动分发到所在仓库或相应的供应商代发货栏目下\n自动择优:\n根据用户的配送地址、仓库的距离，自动选择成本最低的物流，并回填物流单号\n批量处理:\n自动匹配订单与物流发货面单，实现批量打印',
    img: getImgUrl(pageName, 2),
    icon: 'icon-icon_tab_nor_36'
    },
    {
    name: '进销存管理',
    desc: '满足多种采购计划:\n根据常规采购计划、采购建议，发起采购\n多个渠道同步:\n交易产生时自动同步所有渠道订单\n智能分仓:\n根据所分配的发货仓库传递拣货指引\n库存扣减与提醒:\n扣减对应商品库存，同步库存提醒预警数据',
    img: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_32'
    },
    {
    name: '商品管理',
    desc: '自定义创建:\n根据商家的经营范围，选择标准分类或者创建新分类\n自定义添加:\n根据不同分类添加属性以及属性值\n实时更新:\n选择或者补充属性具体内容\n统一管理:\nx不同平台获取商品档案进行应用',
    img: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_31'
    },
    {
    name: '财务管理',
    desc: '智能审核:\n根据企业业务需求，定义不同金额、不同供应商的审批节点和角色\n多渠道同步:\n不同渠道产生的交易，财务可以直观查看\n多维度分析:\n从商品成本、库存成本、维度进行销量分析\n数据自动化:\n根据不同供应商以及定义的结算规则，自动生成对账清单，一键操作结算',
    img: getImgUrl(pageName, 5),
    icon: 'icon-icon_tab_nor_37'
    }
    ],
    // 产品优势
    advantages: [
    {title: '全渠道管控', desc: '全渠道（商自有平台，电商第三方平台，实体店铺），全流程（商品、订单、库存）对接，分秒同步，实现全网数据管理，整合资源进行统一管理。', icon: 'icon-icon_64_nor_02'},
    {title: '自动化管理', desc: '订单自动匹配最优发货，根据物流成本和路径自动选择物流，实现高效发货；自动生成采购建议、自动捕获库存异常生成预警、自动触发订单异常提醒，杜绝漏单错单，缺货异常。', icon: 'icon-icon_64_nor_01'},
    {title: '精细化运营', desc: '审核流程可配置、商品体系可以自定义扩展、分析查询条件可组合定义、角色权限操作可自定义，按需扩展性高，真正适配商家的管理方式，减低人工成本。', icon: 'icon-icon_64_nor_09'},
    {title: '快速便捷部署', desc: '支持API接口授权，系统安全稳固，日吞吐近千万订单，零卡顿零漏单，24小时全方位安全监控。', icon: 'icon-icon_64_nor_38'}
    ],
    // 核心功能
    coreFuns: [
    {title: '智慧采购 ，科学控制成本', desc: '供应商管理、采购建议、采购预警、采购价格管理、生成采购订单、采购审批管理、采购退货管理、采购结算管理', icon: 'icon-icon_72_34'},
    {title: '多仓库多平台，高效联动', desc: '多平台库存同步、出入库管理、库存盘点和调拨、库存预警、支持多仓和分仓模式发货、拣货路径最优化', icon: 'icon-icon_72_23'},
    {title: '商品标准化 ，满足拓展场景', desc: '商品体系管理（分类、品牌、规格、属性）、商品档案管理、创建商品组合、商品上下架管理、商品一键导入', icon: 'icon-icon_72_33'},
    {title: '订单流程自动化，高效处理', desc: '多平台订单自动同步、自动审单、灵活自动拆合订单 、自动分配物流、批量打印电子面单、异常订单提醒', icon: 'icon-icon_72_38'},
    {title: '数据多维化，轻松省心', desc: '采购单审核结算、销售成本管理、库存成本管理、运营数据管理、退款管理、对账管理', icon: 'icon-icon_72_39'},
    {title: '售后归一，提升监控质量', desc: '多平台售后处理、售后处理提醒、智能回访机制、售后分析、售后订单查询', icon: 'icon-icon_72_24'}
    ],
    // 案例客户
    cases: [
    {title: '中国一汽', desc: '中国第一汽车集团公司简称“中国一汽”或“一汽”，英文名称为FAW，央企成员，国有特大型汽车生产企业。一汽1953年奠基兴建，1956年建成并投产，制造出新中国第一辆解放牌卡车。1958年制造出新中国第一辆东风牌小轿车和第一辆红旗牌高级轿车。一汽的建成，开创了中国汽车工业新的历史。经过五十多年的发展，一汽已经成为国内最大的汽车企业集团之一', img: './images/case-detail-yiqi.jpg'},
    {title: '珠江钢琴', desc: '广州珠江钢琴集团股份有限公司（以下简称“珠江钢琴集团”）成立于1956年，是一家集钢琴、数码乐器、音乐教育、文化传媒、互联网科技协同发展的综合乐器文化企业', img: './images/case-detail-gangqin.jpg'}
    ],
    // 技术架构
    techArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: './images/solution-pline1_3.jpg',
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''},
    {title: '', desc: '', icon: ''}
    ],
    // 是否展示这个tab
    isHide: true
    },
    // 业务架构
    businessArt: {
    // 标题
    title: '',
    // 描述
    desc: '',
    // 架构图
    img: getImgUrl(pageName, 7),
    // 解决方案说明, 架构图描述
    solutions: [
    {title: '标签分组', desc: '通过标签高效细分客群，可自定义配置，与营销过程管理无缝集成。', icon: 'icon-icon_64_nor_08'},
    {title: '营销自动化', desc: '支持从营销活动的设计、执行和评估完整闭环，灵活地实现在合适的时间、对合适的人、用合适的方式、沟通合适的内容。', icon: 'icon-icon_64_nor_21'},
    {title: '全环节追踪', desc: '营销过程全程可视，自动生成营销活动结果报告，并提供多维度可视化分析。', icon: 'icon-icon_64_nor_30'},
    {title: '企业自行加工业务数据', desc: '系统中所要用到的标签数据，加工环节由客户或其合作伙伴自行定制完成。', icon: 'icon-icon_64_nor_05'}
    ]
    }
    }
  title #{data.title}
  include mixin/render-product.jade
