extends layout.jade
block title
  title 产品
block content
  section.product
    div.first-sight
      div.container
        h1.huge-text 营销智能套餐升级
        p.desc 人群圈选精准营销人群圈选精准营销
        button.link-btn 立即体验

