extends layout.jade
block title
  -
    var data = {
    title: '酒饮行业新零售解决方案',
    desc: '酒饮行业全域立体智慧营销，BBC商城、B2B智慧订货、门店管家、电商ERP；助力消费品企业转型搭上新零售快车 数字化智能化',
    href: '',
    // 产品优势
    advantages: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    ],
    // 解决方案
    solution: {
    img: './images/solution-pline1_3.jpg',
    details: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    ]
    },
    // 业务场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
      {
      name: '技术革新',
      desc: '拥抱前沿技术，开拓新的可能\n遵循标准规范，保持风格一致\n进行单元测试，保证代码质量\n开发自运维，打破开发与运维之间的壁垒，加上自动化工具，新功能可以快速交付，团队可以低成本享受开发成果',
      img: '../images/product-s1-kehuxianshang.jpg',
      icon: 'icon-jiaoyupeixun_fuzhi',
      },
      {
      name: '快速开始',
      desc: '还在开发相似的接口？\n还在刻画相似的页面？\n开发套件支持通过配置自动生成接口以及页面，免去了重复劳动\n如果现有模板不满足个性化需求，还可以一键导出生成好的文件，稍做修改即可使用',
      img: '../images/product-s1-kehuxianshang.jpg',
      icon: 'icon-jiaoyupeixun_fuzhi',
      },
      {
      name: '技术革新',
      desc: '拥抱前沿技术，开拓新的可能\n遵循标准规范，保持风格一致\n进行单元测试，保证代码质量\n开发自运维，打破开发与运维之间的壁垒，加上自动化工具，新功能可以快速交付，团队可以低成本享受开发成果',
      img: '../images/product-s1-kehuxianshang.jpg',
      icon: 'icon-jiaoyupeixun_fuzhi',
      },
      {
      name: '技术革新',
      desc: '拥抱前沿技术，开拓新的可能\n遵循标准规范，保持风格一致\n进行单元测试，保证代码质量\n开发自运维，打破开发与运维之间的壁垒，加上自动化工具，新功能可以快速交付，团队可以低成本享受开发成果',
      img: '../images/product-s1-kehuxianshang.jpg',
      icon: 'icon-jiaoyupeixun_fuzhi',
      },
    ],
    // 相关产品推荐
    relativeProducts: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-dichan'},
    ],
    // 案例客户
    cases: [
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', img: './images/wechat.png'},
    ],
    }
  title #{data.title}
  include mixin/render-solution.jade
