extends layout.jade
block title
  include var/get-img-url.jade
  -
    var pageName = 'solution-dichan'
    var data = {
    title: '地产行业新零售解决方案',
    desc: '数据驱动，以用户为核心的地产行业数字化转型价值体现。构建用户360度视图、立体用户触点、全生命周期管理，实现用户增值，打造地产新营销创新销售模式。',
    href: '',
    firstSightBg: getImgUrl(pageName, 1),
    // 产品优势
    advantages: [
    {title: '360度用户视图', desc: '洞察用户行为，实现用户在集团内部及相关产业的全生命周期循环，实现用户增值及收入', icon: 'icon-icon_64_nor_44'},
    {title: '创新营销方式', desc: '打造地产“新营销”、创新销售模式，直播，秒杀、抢购、去库存', icon: 'icon-icon_64_nor_24'},
    {title: '立体用户触点', desc: '加大B2C业务覆盖程度，物业、O2O、金融、广告、电商形成合力', icon: 'icon-icon_64_nor_11'},
    {title: '业务利润结构双优化', desc: '实现新利润、高增长、高估值，创造业务新腾飞', icon: 'icon-icon_64_nor_41'},
    ],
    // 解决方案
    solution: {
    img: getImgUrl(pageName, 2),
    details: [
    {title: '智慧营销解决方案', desc: '从用户的精准拉新，获取用户到到流失干预，提高活跃度一站式服务，提高用户留存率再到流失回流，获取收入，最后通过有效的运营，增强活跃成长，完成二次传播。', icon: 'icon-icon_tab_nor_14'},
    {title: '智慧社区解决方案', desc: '基于地产业务中台、数据中台，为智慧社区提供“智慧物联+智慧物业+智慧商业+智慧生活”系列产品服务。', icon: 'icon-icon_tab_nor_18'},
    {title: '智能数据解决方案', desc: '通过地产内部数据治理，解决地产数据脏、乱、差的问题，驱动地产数字化运营，通过整合利用自有和第三方数据以及渠道，助力数字化运营决策、数字化精准营销等。', icon: 'icon-icon_tab_nor_09'},
    ]
    },
    // 业务场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '智慧营销',
    desc: '针对过往营销存在的费用高、受众不精准、媒体碎片化、信息海量、数据不可追踪，无法形成营销闭环等问题，智慧营销场景专注全网大数据，精准传播，费效比高，用户具有平等话语权，同时实现数据可沉淀，营销可闭环。',
    img: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_34',
    },
    {
    name: '智能数据  （全局监控、经营分析、数据应用）',
    desc: '基于阿里数据运营理念和数据中台产品建设地产大数据平台，开展地产内部数据治理和第三方数据整合\n地产大数据平台包括智能数据研发套件、数据连接与萃取套件、统一数据服务引擎、统一数据资产及其管理、计算存储平台和安全管控体系\n地产大数据产品包括可视化大屏（DataV）、企业报表（QuickBI）、精准营销（DMP+DSP）等',
    img: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_18',
    },
    {
    name: '智慧社区',
    desc: '智慧物联：聚焦智慧家居，提供节能环保（能耗监控）、智能控制（智能安防）、信息互动（家电控制）、产品智能（可视电话）方面的产品服务\n智慧物业：提供物业管理端、业主端和手机办公平台产品\n智慧商业：社区O2O运营，覆盖社区上门服务、日用百货、票务旅游、商超购物、餐饮娱乐等社区商业\n智慧生活：聚合社区金融、社区养老、文化旅游、保险服务、停车管理宽带服务等资源，助力品质生活',
    img: getImgUrl(pageName, 5),
    icon: 'icon-icon_tab_nor_14',
    },
    ],
    // 相关产品推荐
    relativeProducts: [
      {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-icon_64_nor_25'},
      {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-icon_64_nor_25'},
      {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-icon_64_nor_25'},
      {title: '大数据洞察', desc: '智能化数据分析引擎，快速形成以企业自有数据与第三方大数据为基础的智能化业务洞察，定位业务问题,大数据引擎实现线上与线下数据的多维度整合分析。', icon: 'icon-icon_64_nor_25'},
    ],
    // 案例客户
    cases: [
    {title: '富力.环贸港', desc: '商品、支付、交易等公共互联网服务是各产业间的共性需求，富力环贸港通过数字化平台，打造统一的互联网基础服务中心，共享服务中心。实现富力环贸港快速支撑互联网创新业务。', img: './images/wechat.png'},
    {title: '万科', desc: '万科数字化平台支撑万科数字化业务的创新\n客户平台数字化\n客户数字化，实现用户高效精准触达，快速满足营销需求，提升营销效率\n初具服务级的平台能力\n即售地产数字化\n即售地产客户、员工、业务、产品全面数字化，为地产打造高效、全联接的世界\n平台服务的全业务支持能力\n万科多业态数字化\n多业态客户、员工、业务、产品全面数字化，提高效率同时，基于数据创新场景\n平台服务的全业态支持能力\n生态数字化\n城市配套服务生态数字化\n城市配套服务能力输出n\万科生态SaaS输出', img: './images/wechat.png'},
    ],
    }
  title #{data.title}
  include mixin/render-solution.jade
