extends layout.jade
block title
  include var/get-img-url.jade
  -
    var pageName = 'solution-qiche'
    var data = {
    title: '汽车行业数字化创新解决方案',
    desc: '基于互联网微服务架构的营销平台，实现汽车行业营销全域数字化。通过为微服务化的中台架构，大幅度增加企业IT的开发效率，降低企业的营销试错成本。通过营销前端的设计风格，技术架构，用户数据，运营指标的统一，构建起“以用户为核心，以数据为驱动的精细化运营体系”。完成业务云化，数据实时可视化，分析自动化，决策智能化的升级，支撑各用户体验极致优化，达到品牌和客户的深度互动，实现品牌和用户之间的良性黏着。',
    href: 'customer-info.html',
    firstSightBg: getImgUrl(pageName, 1),
    // 产品优势
    advantages: [
    {title: '品牌形象统一', desc: '官网、商城、俱乐部多应用统一建设，保持品牌风格的统一性，给用户可感知的品牌形象', icon: 'icon-icon_64_nor_44'},
    {title: '数据融通', desc: '实现业务数据互通，建立统一化的数字管控平台 ', icon: 'icon-icon_64_nor_06'},
    {title: '精准营销', desc: '建立用户数据采集体系，收集各营销前端用户的行为数据，建立标签体系实现客户画像，从而进行精准营销 ', icon: 'icon-icon_64_nor_09'},
    {title: '避免重复建设', desc: '基于云技术和中台微服务架构搭建领先的数字化营销平台，打破系统的信息孤岛，减少后续重复建设', icon: 'icon-icon_64_nor_32'},
    ],
    // 解决方案
    solution: {
    img: getImgUrl(pageName, 2),
    wideImg: true,
    details: [
    {title: '领先的数字化营销平台:', desc: '基于云技术和中台微服务架构搭建领先的数字化营销平台，支持品牌形象的展示，整车销售，售后服务，客户和品牌之间的互动', icon: 'icon-icon_tab_nor_40'},
    {title: '打破信息孤岛：', desc: '打破系统的信息孤岛，减少后续重复建设。统一品牌的视觉效果，设计语言以及用户的体验逻辑', icon: 'icon-icon_tab_nor_23'},
    {title: '业务数据互通:', desc: '实现业务数据互通，建立统一化的数字管控平台。建设数据采集体系，收集各营销前端用户的行为数据，建立同人模型，标签体系，实现用户全生命周期的数据模型', icon: 'icon-icon_tab_nor_16'},
    ]
    },
    // 业务场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '整车销售',
    desc: '提供线上全新的电商营销渠道，使营销信息即时触达消费者。\n帮助厂商及经销商扩展线索收集渠道，实现智能化线索清洗下发；\n建立消费者、经销商、官方平台的全新沟通渠道，实现平台引流经销商；\n官方统一运营内容素材库，经销商可随时下载、引用；\n打通线上线下营销渠道，实现客户全生命周期的数据融通。',
    img: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_07',
    },
    {
    name: '售后服务',
    desc: '客户在售后服务平台上，享受简单、自然以及温暖的售后服务\n售后服务透明、高效、按需、系统地呈现给客户 ；\n给经销商赋能，给经销商带来价值的同时提升其售后服务效率 ；\n智能保养方案推荐，享受闲时优惠，价格透明、自助选择。',
    img: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_28',
    },
    {
    name: '社交全栈智能SCRM',
    desc: '打通线上线下渠道，实现多渠道的统一客服与智能客服；\n优化客户数据管理工具，建立客户数据分析模型，加强分析结果的应用；\n完成销售线索全生命周期管理，唤醒沉睡客户数据，实现综合数据分析，完成可扩展的中台搭建 ；',
    img: getImgUrl(pageName, 5),
    icon: 'icon-icon_tab_nor_09',
    },
    ],
    // 相关产品推荐
    relativeProducts: [
    {title: '数字门店 DStore', desc: '打通线上线下，通过WiFi、RFID、虚拟现实等新技术，搭配显示屏幕、互动触摸屏等数字化硬件，为来到门店的顾客提供贴心的用户服务，提高店铺销售额，同时实时收集多方面数据，为导购服务提供实时数据，为商家决策提供数据上的有力支持。', icon: 'icon-dichan', href: 'product-dstore.html'},
    {title: '客户管理 CRM', desc: '客户管理（CRM）是一个融合业务管理和数据分析的客户全生命周期管理平台；在业务上，帮助企业提高客户管理效率；在数据上，帮助企业多维度洞察客户特性；解决企业多系统客户数据割裂，以及数据应用和业务应用分裂等问题；快速搭建完整的客户管理系统。', icon: 'icon-dichan', href: 'product-crm.html'},
    {title: '营销管理 DMM', desc: '营销管理（DMM）是一个针对行业定制的，并将营销全流程简化成可灵活配置的管理平台；解决企业营销对象精准性、重复研发时间成本高等问题；帮助企业搭建简单、灵活、全面的营销能力，服务于对精准营销、营销自动化有需求的中小型企业。', icon: 'icon-dichan', href: 'product-dmm.html'},
    {title: '运营平台 Tourbillon', desc: '特比龙可以帮助应用开发用户快捷的使用这些能力（应用接入），并且可以管理自己的应用（应用管理）。\n特比龙还能帮助管理员控制这些开放API（中台API的上线、下线），对需要接入的应用进行审核，同时对这些开放API进行数据统计，为中台开发提供建议。', icon: 'icon-dichan', href: 'product-tourbillon.html'}
    ],
    // 案例客户
    cases: [
    {title: '中国一汽', desc: '中国第一汽车集团公司简称“中国一汽”或“一汽”，英文名称为FAW，央企成员，国有特大型汽车生产企业。一汽1953年奠基兴建，1956年建成并投产，制造出新中国第一辆解放牌卡车。1958年制造出新中国第一辆东风牌小轿车和第一辆红旗牌高级轿车。一汽的建成，开创了中国汽车工业新的历史。经过五十多年的发展，一汽已经成为国内最大的汽车企业集团之一', img: './images/case-detail-yiqi.jpg'},
    {title: '长安汽车', desc: '	提供全新的数据营销、微信营销、经销商营销活动所需资源；\n同时整合多角色、多端全渠道及内外部系统；\n以互联、互通、互求构建数字化营销平台', img: './images/case-detail-changan.jpg'}
    ],
    }
  title #{data.title}
  include mixin/render-solution.jade
