extends layout.jade
block title
  title 解决方案
block content
  section.solution
    div.first-sight
      div.container
        h1.huge-text 酒饮行业新零售解决方案
        p.desc
          | 酒饮行业全域立体智慧营销，BBC商城、B2B智慧订货、门店管家、电商ERP；
          | 助力消费品企业转型搭上新零售快车 数字化智能化
        button.link-btn 立即咨询
