extends layout.jade
block title
  include var/get-img-url.jade
  -
    var pageName = 'solution-rihua'
    var data = {
    title: '快消品行业数字化创新解决方案',
    desc: '随着互联网向着“移动化、专业化、社交化、场景化”深入发展，服务与体验将成为市场竞争的关键， 通过“服务”而不是“销售”，先服务用户再服务客户。用户购买渠道已逐步实现数字化，技术及数字化创新已成为快消品企业数字化转型，业务创新增长的新引擎。',
    href: 'customer-info.html',
    firstSightBg: getImgUrl(pageName, 1),
    // 产品优势
    advantages: [
    {title: '订阅式系统', desc: '实现了业务能力云化，订阅式的应用系统，减少了系统重复建设的工作，提高IT系统建设效率，降低系统建设成本', icon: 'icon-icon_64_nor_32'},
    {title: '提升用户体验', desc: '实现单点用户登录，多个业务应用互通', icon: 'icon-icon_64_nor_24'},
    {title: '全生命周期管理', desc: '实现用户全生命周期管理，从游客到潜客、 零售顾客、 经销商，数据驱动运营，持续运营用户', icon: 'icon-icon_64_nor_10'},
    {title: '业务提升与创新', desc: '整合第三方生态资源，扩大用户入口，促进业务提升与创新', icon: 'icon-icon_64_nor_37'},
    ],
    // 解决方案
    solution: {
    img: getImgUrl(pageName, 2),
    details: [
    {title: '先用户再客户', desc: '随着移动化、专业化、社交化、场景化深入发展，服务与体验将成为市场竞争的关键，先服务后销售，先用户再客户已成事实', icon: 'icon-icon_tab_nor_09'},
    {title: '端到端方案', desc: '数字平台规划通过定制方案端到端、颠覆性的创新构思提供竞争优势', icon: 'icon-icon_tab_nor_21'},
    {title: '持续演变的创新模式', desc: 'IT扮演顾问角色，共同推进创新模式中持续演变的需求', icon: 'icon-icon_tab_nor_22'},
    {title: '快速迭代', desc: '数字平台落地通过敏捷开发和快速迭代实现', icon: 'icon-icon_tab_nor_26'},
    {title: '强调业务价值', desc: '数字平台建设侧重于业务价值和用户体验导向', icon: 'icon-icon_tab_nor_34'},
    ]
    },
    // 业务场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '数字化营销生态 – 统一会员账号',
    desc: '实现单点登录，提升用户体验\n品牌官网\n服务公众号\n移动营销应用\n会员服务平台',
    img: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_09',
    },
    {
    name: '数字化营销生态 – 试用体验',
    desc: '产品使用体验，推动用户参与的快速迭代，快速创新业务模式\n免费试用装\nLBS门店查询\n试用直播间',
    img: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_14',
    },
    {
    name: '数字化营销生态 – 智慧门店',
    desc: '智慧门店体验，实现线上线下互动，增加趣味性和科技感，提升用户的参与度\nAR/VR互动体验\n大屏云购物\n自助购货\n摇一摇参与活动',
    img: getImgUrl(pageName, 5),
    icon: 'icon-icon_tab_nor_07',
    },
    {
    name: '数字化营销生态 – 黏性关怀',
    desc: '通过活动与内容，体现用户的存在感，激励用户参与，增加用户粘性关怀\n每日签到送积分\n活动&新品推送\n定期用品提醒\n需求调研问卷',
    img: getImgUrl(pageName, 6),
    icon: 'icon-icon_tab_nor_11',
    },
    ],
    // 相关产品推荐
    relativeProducts: [
    {title: '营销数据分析 SmartDA', desc: '营销数据分析（SmartDA）是一款综合性管理、分析数据的服务平台；解决企业数据无法互通，缺乏数据采集手段，缺乏指标梳理和数据挖掘方法等问题；整合管理数据，赋能中小型企业全面的数据管理与分析能力，快速完成业务数据化到业务数据化的过渡。', icon: 'icon-dichan', href: 'product-smartda.html'},
    {title: 'API网关 Greatwall ', desc: 'API 网关（API Gateway）作为所有外部应用的统一访问入口，提供API托管服务，涵盖API 创建、发布、运维、监控和安全保护的全生命周期管理，可视化管理，易于维护，帮助用户快速、低成本地进行微服务聚合、系统集成、以及与合作伙伴的业务连接。', icon: 'icon-dichan', href: 'product-greatwall.html'},
    {title: '云管平台 ICP', desc: '云徙云管理平台核心目的是“集中管理”。通过统一管控公有云、私有云资源，多虚拟化平台支持，自动运维，快速响应，实现云资源、资产、运维、监控、流程管控的一体化管理，为企业在DT时代提供敏捷（开发）、高效（运维）、精准（运营）的云服务。', icon: 'icon-dichan', href: 'product-icp.html'},
    {title: '数字门店 DStore', desc: '打通线上线下，通过WiFi、RFID、虚拟现实等新技术，搭配显示屏幕、互动触摸屏等数字化硬件，为来到门店的顾客提供贴心的用户服务，提高店铺销售额，同时实时收集多方面数据，为导购服务提供实时数据，为商家决策提供数据上的有力支持。', icon: 'icon-dichan', href: 'product-dstore.html'}
    ],
    // 案例客户
    cases: [
    {title: '如新', desc: '	实现业务能力云化，订阅式应用系统，减少系统重复建设的工作，提高IT系统建设效率，降低系统建设成本；\n提升用户体验，单点用户登录，多个业务应用互通；\n	实现用户全生命周期管理，从游客到普通顾客、优惠顾客、经销商，数据驱动运营，持续运营用户', img: './images/case-detail-unkown.jpg'},
    {title: '珠江钢琴', desc: '广州珠江钢琴集团股份有限公司（以下简称“珠江钢琴集团”）成立于1956年，是一家集钢琴、数码乐器、音乐教育、文化传媒、互联网科技协同发展的综合乐器文化企业', img: './images/case-detail-gangqin.jpg'}
    ],
    }
  title #{data.title}
  include mixin/render-solution.jade
