extends layout.jade
block title
  include var/get-img-url.jade
  -
    var pageName = 'solution-dichan'
    var data = {
    title: '地产行业新零售解决方案',
    desc: '数据驱动，以用户为核心的地产行业数字化转型价值体现。构建用户360度视图、立体用户触点、全生命周期管理，实现用户增值，打造地产新营销创新销售模式。',
    href: '',
    firstSightBg: getImgUrl(pageName, 1),
    // 产品优势
    advantages: [
    {title: '360度用户视图', desc: '洞察用户行为，实现用户在集团内部及相关产业的全生命周期循环，实现用户增值及收入', icon: 'icon-icon_64_nor_44'},
    {title: '创新营销方式', desc: '打造地产“新营销”、创新销售模式，直播，秒杀、抢购、去库存', icon: 'icon-icon_64_nor_24'},
    {title: '立体用户触点', desc: '加大B2C业务覆盖程度，物业、O2O、金融、广告、电商形成合力', icon: 'icon-icon_64_nor_11'},
    {title: '业务利润结构双优化', desc: '实现新利润、高增长、高估值，创造业务新腾飞', icon: 'icon-icon_64_nor_41'},
    ],
    // 解决方案
    solution: {
    img: getImgUrl(pageName, 2),
    details: [
    {title: '智慧营销解决方案', desc: '从用户的精准拉新，获取用户到到流失干预，提高活跃度一站式服务，提高用户留存率再到流失回流，获取收入，最后通过有效的运营，增强活跃成长，完成二次传播。', icon: 'icon-icon_tab_nor_14'},
    {title: '智慧社区解决方案', desc: '基于地产业务中台、数据中台，为智慧社区提供“智慧物联+智慧物业+智慧商业+智慧生活”系列产品服务。', icon: 'icon-icon_tab_nor_18'},
    {title: '智能数据解决方案', desc: '通过地产内部数据治理，解决地产数据脏、乱、差的问题，驱动地产数字化运营，通过整合利用自有和第三方数据以及渠道，助力数字化运营决策、数字化精准营销等。', icon: 'icon-icon_tab_nor_09'},
    ]
    },
    // 业务场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: '智慧营销',
    desc: '针对过往营销存在的费用高、受众不精准、媒体碎片化、信息海量、数据不可追踪，无法形成营销闭环等问题，智慧营销场景专注全网大数据，精准传播，费效比高，用户具有平等话语权，同时实现数据可沉淀，营销可闭环。',
    img: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_34',
    },
    {
    name: '智能数据  （全局监控、经营分析、数据应用）',
    desc: '基于阿里数据运营理念和数据中台产品建设地产大数据平台，开展地产内部数据治理和第三方数据整合\n地产大数据平台包括智能数据研发套件、数据连接与萃取套件、统一数据服务引擎、统一数据资产及其管理、计算存储平台和安全管控体系\n地产大数据产品包括可视化大屏（DataV）、企业报表（QuickBI）、精准营销（DMP+DSP）等',
    img: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_18',
    },
    {
    name: '智慧社区',
    desc: '智慧物联：聚焦智慧家居，提供节能环保（能耗监控）、智能控制（智能安防）、信息互动（家电控制）、产品智能（可视电话）方面的产品服务\n智慧物业：提供物业管理端、业主端和手机办公平台产品\n智慧商业：社区O2O运营，覆盖社区上门服务、日用百货、票务旅游、商超购物、餐饮娱乐等社区商业\n智慧生活：聚合社区金融、社区养老、文化旅游、保险服务、停车管理宽带服务等资源，助力品质生活',
    img: getImgUrl(pageName, 5),
    icon: 'icon-icon_tab_nor_14',
    },
    ],
    // 相关产品推荐
    relativeProducts: [
    {title: '数字门店 DStore', desc: '打通线上线下，通过WiFi、RFID、虚拟现实等新技术，搭配显示屏幕/互动触摸屏、平板电脑、手机等数字化硬件，为来到门店的顾客提供崭新的用户体验和更贴心的服务，提高店铺销售额，同时实时收集顾客/商品/销售数据，为导购服务提供实时数据，为商家决策提供数据上的有力支持。', icon: 'icon-dichan', href: 'product-dstore.html'},
    {title: '客户管理 CRM', desc: '客户管理（i-CRM）一个融合业务管理和数据分析的客户全生命周期管理平台；在业务上，帮助企业提高客户管理效率；在数据上，帮助企业多维度洞察客户特性；解决企业多系统客户数据割裂，以及数据应用和业务应用分裂等问题；帮助垂直行业中的中小型企业以及行业代理，快速搭建完整的客户管理系统。', icon: 'icon-dichan', href: 'product-crm.html'},
    {title: '营销管理 DMM', desc: '营销管理（i-DMM）是一个针对行业定制的，并将营销全流程简化成可灵活配置的管理平台；解决企业营销对象精准性、重复研发时间成本高、营销效果缺乏监控等问题；帮助企业搭建简单、灵活、全面的营销能力，服务于对精准营销、营销自动化有需求的中小型企业。', icon: 'icon-dichan', href: 'product-dmm.html'},
    {title: '运营平台 Tourbillon', desc: '中台以API接口的形式，开放了各种能力。用户需要在自己的应用中使用这些能力。同时管理员需要管理这些能力接口。\n特比龙可以帮助应用开发用户快捷的使用这些能力（应用接入），并且可以管理自己的应用（应用管理）。\n特比龙还能帮助管理员控制这些开放API（中台API的上线、下线），对需要接入的应用进行审核（应用审核），同时对这些开放API进行数据统计，为中台开发提供建议。', icon: 'icon-dichan', href: 'product-tourbillon'}
    ],
    // 案例客户
    cases: [
    {title: '富力地产', desc: '1、	针对项目或决策，并与此相关的一系列有关目标客群（消费者）做全面详尽的调查分析。\n2、	获取各个广告渠道的投放效果，并进行实时监控，经分析投放数据，优化广告渠道和广告内容，丰富广告形式，从而达到最优广告效果。\n3、	接入阿里的大数据能力提升房企的数据质量，再借助数据分析工具获得潜在客户群，为项目的营销策略和决策提供数据支持。\n4、	融入阿里成熟的技术的能力，一方面提升房企的技术基础，令一方面快速积累技术能力，健全企业的整体技术能力。', img: './images/case-detail-fuli.jpg'},
    {title: '富力环贸港', desc: '打通会员体系：设计师会员、ODM厂商会员、材料供应商会员、渠道商会员、买手会员。\n连通商品：服装服饰、鞋帽配饰、皮具箱包、精选材料\n打通产品-流通供应链，从产品快设计、材料供应、快生产，产品，到商品，最后到市场快销售，全链路流通', img: './images/case-detail-fuli.jpg'}
    ]
    }
  title #{data.title}
  include mixin/render-solution.jade
