extends layout.jade
block title
  include var/get-img-url.jade
  -
    var pageName = 'solution-nongye'
    var data = {
    title: '农牧行业数字化创新解决方案',
    desc: '充分利用移动互联网、大数据、云计算、物联网等新一代信息技术与农业的跨界融合，基于互联网平台的现代农业新产品、新模式与新业态，推动农业全产业链改造升级和创新。',
    href: '',
    firstSightBg: getImgUrl(pageName, 1),
    // 产品优势
    advantages: [
    {title: '升级农资生产供应方式', desc: '通过互联网升级农资生产供应方式，提升农资流通效率，降低农户生产成本', icon: 'icon-icon_64_nor_34'},
    {title: '升级农资生产方式', desc: '通过互联网、物联网等技术参与到种养殖生产过程中，提高生产管理效率、节省人力成本、标准化生产过程', icon: 'icon-icon_64_nor_37'},
    {title: '升级农产品供应方式', desc: '通过新技术升级产品流通和物流配送体系，缩短农产品流通渠道、减少农产品物流损耗', icon: 'icon-icon_64_nor_36'},
    {title: '升级农产品销售模式', desc: '通过新零售升级消费渠道，重构人货场，实现商品、会员、交易、营销等数据的共融互通，增强用户体验', icon: 'icon-icon_64_nor_39'},
    ],
    // 解决方案
    solution: {
    img: getImgUrl(pageName, 2),
    wideImg: true,
    details: [
    {title: '', desc: '1、基于阿里云平台架构，以共享服务体系为核心建设农牧行业+互联网', icon: 'icon-icon_tab_nor_20'},
    {title: '', desc: '2、充分利用互联网、云计算新技术， 将农牧相对粗放经营思路转变为精细化管理模式，实现数字化运营，提高运营效率', icon: 'icon-icon_tab_nor_34'},
    {title: '', desc: '3、提供B2B供应协同方案，重构行业上下游供应链业务，提高企业间协同效率', icon: 'icon-icon_tab_nor_19'},
    {title: '', desc: '4、提供农产品新零售解决方案，构建线上线下融合，提升人货场协同效率', icon: 'icon-icon_tab_nor_31'},
    ]
    },
    // 业务场景
    // 如果要换行, 在需要换行处加 \n
    situations: [
    {
    name: 'B2B采购',
    desc: '重构企业与合作伙伴的供应链采销平台，帮助企业做最佳采购决策和高效协同，构建企业一站式采购入口，提升采购高效协同，对接精选供应商资源，降低企业运营成本。\n专业采购：\n标准、大宗、通用工业品，例如大宗原料类、机械设备类等；\n支持在线寻源、招投标、询议价、采购执行、供应商管理\n订单需要供应商确认；\n采购部门在线选择供应商并下单\n云采超市：\n价值低、标准化程度高、企业可以逐步不设库存的通用物资产品，例如行政类、五金类、劳保类等；\n不议价，订单不需供应商确认，直接线上下单；\n最终用户直接在线选择商品并下单，供应部门定期结算\n',
    img: getImgUrl(pageName, 3),
    icon: 'icon-icon_tab_nor_32',
    },
    {
    name: '农产品新零售',
    desc: '构建线上线下融合，提升人货场协同效率。\n对消费个体强化用户体验，围绕用户提供更精准化服务；\n对企业增加导流和提升客户体验，通过大数据运营，提升赢利模式；\n对行业促进产业链升级改造，加速行业向智能化、标准化转型；\n打通线上线下各渠道，实现智能化数据管控。',
    img: getImgUrl(pageName, 4),
    icon: 'icon-icon_tab_nor_29',
    },
    // {
    // name: 'O2O业务全视角，构建清晰的业务链条',
    // desc: '',
    // img: getImgUrl(pageName, 5),
    // icon: 'icon-icon_tab_nor_03',
    // },
    ],
    // 相关产品推荐
    relativeProducts: [
    {title: '客户管理 CRM', desc: '客户管理（CRM）是一个融合业务管理和数据分析的客户全生命周期管理平台；在业务上，帮助企业提高客户管理效率；在数据上，帮助企业多维度洞察客户特性；解决企业多系统客户数据割裂，和数据应用和业务应用分裂等问题；帮助垂直行业中的中小型企业，快速搭建完整的客户管理系统。', icon: 'icon-dichan', href: 'product-crm.html'},
    {title: '营销管理 DMM', desc: '营销管理（DMM）是一个针对行业定制的，并将营销全流程简化成可灵活配置的管理平台；解决了企业营销对象精准性、重复研发时间成本高、营销效果缺乏监控等问题；帮助企业搭建简单、灵活、全面的营销能力，服务于对精准营销、营销自动化有需求的中小型企业。', icon: 'icon-dichan', href: 'product-dmm.html'},
    {title: '数字门店 DStore', desc: '打通线上线下，通过WiFi、RFID、虚拟现实等新技术，搭配显示屏幕/互动触摸屏、平板电脑、手机等数字化硬件，为来到门店的顾客提供崭新的用户体验和更贴心的服务，提高店铺销售额，同时实时收集顾客/商品/销售数据，为导购服务提供实时数据，为商家决策提供数据上的有力支持。', icon: 'icon-dichan', href: 'product-dstore.html'},
    {title: '开发平台 Stonehenge', desc: '开发平台提供了由最新技术栈组成的开发套件，接口管理服务，集成开发规范以及最佳实践，自动化贯穿了开发，测试，构建，部署等软件开发过程，支持一键生成API， 配置生成页面，减少沟通成本，提高开发效率，是企业级中后台应用进行前后端分离，快速开发的解决方案。', icon: 'icon-dichan', href: 'product-stonehenge.html'}
    ],
    // 案例客户
    cases: [
    {title: '杨翔', desc: '构建养猪产业链综合服务平台，为产业链赋能；\n	重点构建养猪服务能力的共享，为农户提供专业养猪服务；\n	数据实时在线化，掌握生产与市场，提供优质的餐桌食材；', img: './images/case-detail-yangxiang.jpg'}
    ]
    }
  title #{data.title}
  include mixin/render-solution.jade
