extends layout.jade
block title
  title 提交成功
block content
  section.submit-success
    div.container.text-center.show-case
      div.circle.linear-primary-bg-to-bottom
        i.font_family(class='icon-icon_64_nor_19')
      div.show-case-title 信息提交成功！
      //div.success-words 我们希望您在使用我们的产品时有愉悦的体验。 如果您有任何疑问，我们十分乐意为您提供帮助。如果您对云徙云感兴趣，现在注册即可免费试用30天。
      //div.success-words 您也可以返回首页，继续了解我们
      div.success-words 希望您在云徙拥有愉快体验，我们将尽快与您取得联系。
      a.link-btn(href="index.html") 返回首页
