// 首页
.index
  .first-sight {
    background-image url(../images/index-banner.jpg)
    background-size cover

    .link-btn {
      border-color $primary-color
    }

    .msg {
      display inline-block
      //width 458px
      height 52px
      padding 0 32px
      margin 34px 0 38px 0
      border 1px solid white
      line-height 52px
      text-align center
      color white
    }
  }
  .show-case-content {
    position relative
  }

  .i-product-container {
    margin-top 80px
    height 100px
    overflow visible
  }

  .i-product {
    display flex
    flex-direction column
    align-items center
    justify-content center
    position relative
    //height 100px
    color white
    background-color $dark
    cursor pointer

    //&:not(:last-child) {
    //  border-right 1px solid $border-color
    //}

    &.active {
      transform translateY(-10px)
      height 110px
      background-image linear-gradient(-35deg, #0099ff 0%, #0066ff 100%), linear-gradient( #00a2ca, #00a2ca)
      background-blend-mode normal, normal
    }

    .f16 {
      font-weight 300
    }
  }

  .tab-content {
    display none

    &.block {
      display block
    }
  }

  .product-figure {
    padding 50px 0
    border-bottom 1px solid $border-color

    .figure-img {
      width 105px
      height 105px
    }

    .figure-text {
      text-align left
      margin-right 95px
      width 688px
    }

    .figure-title {
      margin-bottom 20px
      font-size 30px
    }

    .link-btn {
      align-self flex-end
      margin-bottom 10px
      border-color $dark
      background-color $dark
      color white
    }
  }

  .service-provider {
    background-image url(../images/index-service-banner.jpg)
    background-repeat no-repeat
    background-size 100% 238px
  }
  .service {
    margin-top 60px

    .service-item {
      box-sizing border-box
      width 360px
      height 80px
      padding 20px
      align-items center
      justify-content space-between
      text-align left
      border-left 1px solid transparent

      .item-flex {
        display flex
        align-items center
      }

      .arrow-right {
        opacity 0
      }

      &:hover {
        background-color white
        border-left 1px solid $primary-color
        cursor pointer

        .arrow-right {
          opacity 1
        }
      }
    }

  }

  .solution {
    background-image url(../images/index-solution-banner.png)
    color white
  }

  .industry {
    display flex

    .font_family {
      font-size 38px
    }

    .icon-dichan {
      font-size 36px
    }

    .icon-qiche_fuzhi {
      font-size 50px
    }

    .icon-nongye {
      font-size 42px
    }

    .icon-kuaixiao {
      font-size 46px
    }

  }

  .industry-item {
    flex 1
    box-sizing border-box
    height 532px

    .item-name {
      display flex
      flex-direction column
      justify-content center
      height 100%
    }

    .item-detail {
      display none
      padding 70px 30px 24px
      text-align left
    }

    &:hover {
      flex-basis 28.5%
      max-width 28.5%
      background $dark

      .item-name {
        display none
      }

      .item-detail {
        display block
      }
    }
  }

  .relative-product {
    display flex

    .product-item {
    }

    .circle {
      display flex
      align-items center
      justify-content center
      width 48px
      height 48px
      margin-right 20px
      border 1px solid white
      border-radius 50%
    }

    .font_family {
      font-size 24px
    }

  }
  .dichan {
    background url(../images/index-dichan.jpg)
  }

  .kuaixiao {
    background url(../images/index-kuaixiao.jpg)
  }

  .qiche {
    background url(../images/index-qiche.jpg)
  }

  .nongmu {
    background url(../images/index-nongmu.jpg)
  }

  .c3 {
    background url(../images/index-3c.jpg)
  }

  .yiyao {
    background url(../images/index-yiyao.jpg)
  }

  .trademark {
    display flex

    border 1px solid $border-color

    &:last-child {
      border-top 0
    }
  }

  .placeholder-box {
    width 200px
    height 210px
    border-right 1px solid $border-color

    &:last-child {
      border-right 0
    }
  }

  .mark-item {
    width 100%
    height 100%

    &:hover {
      position absolute
      top -50px
      width 340px
      height 420px
      box-shadow 0 0 1px 1px $border-color
      background-color white
      z-index 10

      .item-img {
        width 128px
      }

      .link-btn,
      .item-text {
        opacity 1
        display block
        margin-left auto
        margin-right auto
      }

    }

    .item-img {
      margin-top 52px
      width 92px
    }

    .item-text {
      width 224px
      margin 35px auto
      display none
    }

    .link-btn {
      opacity 0
    }
  }
  .fixed-btn {
    position fixed
    right 14px
    bottom 100px
    width 14px
    padding 12px 10px
    text-align center
    color white
    background-color $primary-color
    cursor pointer

    .icon-paimaizixun_fuzhi {
      position relative
      left -3px
      font-size 20px
    }
  }

