// 品牌色、重要按钮、操作文字色
$primary-color = #3366FF
// 次要按钮边框、表单边框色、分割线色
$second-color = #e1e1e1
$import-text-color = #222
$placeholder-color = #ccc
$page-bg-color = #F9F9FA

label,
fieldset,
input,
button
  box-sizing border-box

// 字体有默认大小, 颜色的, 然后再加上语义的区分
// 文字颜色
html
  font-family "Microsoft Yahei","PingFang SC","Helvetica Neue","Helvetica","Arial","WenQuanYi Micro Hei Mono", "WenQuanYi Micro Hei", "Microsoft Yahei Mono"
  -webkit-font-smoothing antialiased
  font-size 14px
  line-height 24px
  color #666
  background-color $page-bg-color

.important-text
  color $import-text-color

.desc-text
  color #999

.placeholder-text
  color $placeholder-color

::-webkit-input-placeholder  /* WebKit browsers */
  color $placeholder-color

:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
  color $placeholder-color

::-moz-placeholder  /* Mozilla Firefox 19+ */
  color $placeholder-color

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color $placeholder-color
}

// 文字大小
.large-text
  font-size 32px
  color $import-text-color
.title
  font-size 16px
  color $import-text-color
.small-text
  font-size 12px

button
  outline none

button[type=primary]
  background-color $primary-color
  border-color $primary-color
  color white

// TODO 记得抽取常用样式
a
  text-decoration none
  color $primary-color

.bolder
  color $import-text-color
  font-weight bolder

.text-center
  text-align center

// 元素内换行
p
  white-space pre

// 背景颜色
.primary-color
  color $primary-color

.primary-bg
  background-color $primary-color

.linear-primary-bg-to-right
  background-image linear-gradient(-136deg, #0066FF 0%, #0099FF 100%)

.linear-primary-bg-to-bottom
  background-image linear-gradient(to bottom, #0066FF 0%, #0099FF 100%)

.second-color
  color $second-color

// 可复用样式
.form-box
  width 370px
  padding 30px 10px
  background-color white
  border 1px solid $second-color

  .error
    background-color $page-bg-color
    display none
    &.active
      display block

  button[type=primary]
    display block
    width 100%
    margin 18px 0
    padding 10px
    font-size 16px

  .form-title
    font-weight bolder

  form
    margin 24px 0

  fieldset
    padding 10px
    margin 0 0 18px
    border 1px solid $second-color

    label
      display inline-block
      width 88px
      padding-left 10px
      border-right 1px solid $second-color

    // TODO another child flex ?
    input
      padding-left 10px
      width calc(100% - 88px)
      border 0
      outline none

// faq
.faq
  .container
    display flex

  .menu
    min-width 220px
    background-color #ECF0F4

  .menu-item
    &.active
      color $primary-color
      border-left 2px solid $primary-color

// header
$header-height = 80px
#header
  position relative
  height $header-height
  line-height $header-height

  .nav
    position fixed
    left 0
    right 0
    margin auto
    height $header-height
    width 1100px
    display flex
    align-items center

  .logo
    height 48px

  .menu
    display flex
    list-style none

// footer
//#footer

.login
  .login-footer
    margin-bottom 32px
    display flex
    justify-content space-between

.register
  .get-code
    padding 0 0 0 10px

    label
      padding-left 10px

    input
      width auto

    .get-code-btn
      display inline-block
      width 111px
      height 100%
      line-height 46px
      background-color $page-bg-color
      border-color transparent
      &:active
        border-color $second-color
