// TODO 总结 规范要有: 颜色, 字体, 链接, 按钮
@import "mixin.styl"
@import "media.styl"
// 品牌色、重要按钮、操作文字色
$primary-color = #3366FF

// 次要按钮边框、表单边框色、分割线色, 灰色
$second-color = #e1e1e1
$border-color = #e1e1e1

$normal-text-color = #666

// 黑色
$import-text-color = #222
$dark = #222

$placeholder-color = #ccc
// 页面背景色
$page-bg-color = #F9F9FA

$green = #33cc00

$btn-height = 34px

.container,
label,
fieldset,
input,
button
  box-sizing border-box

.dark
  color $dark

// 背景颜色
.primary-color
  color $primary-color

.primary-bg
  background-color $primary-color

.linear-primary-bg-to-right
  background-image linear-gradient(-136deg, #0066FF 0, #0099FF 100%)

.linear-primary-bg-to-bottom
  background-image linear-gradient(to bottom, #0066FF 0, #0099FF 100%)

.second-color
  color $second-color

.red
  color #ff0000
.white-bg
  background-color white
.white
  color white !important

// 字体有默认大小, 颜色的, 然后再加上语义的区分
// 文字颜色
html
  font-family "Microsoft Yahei","PingFang SC","Helvetica Neue","Helvetica","Arial","WenQuanYi Micro Hei Mono", "WenQuanYi Micro Hei", "Microsoft Yahei Mono"
  -webkit-font-smoothing antialiased
  font-size 14px
  line-height 24px
  color $normal-text-color
  background-color $page-bg-color

.important-text
  color $import-text-color

.desc-text
  color #999

.placeholder-text
  color $placeholder-color

::-webkit-input-placeholder  /* WebKit browsers */
  color $placeholder-color

:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
  color $placeholder-color

::-moz-placeholder  /* Mozilla Firefox 19+ */
  color $placeholder-color

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color $placeholder-color
}

.orange-color
  color #ff4200

// 文字大小
.huge-text
  font-size 36px
  font-weight 400
.large-text
  font-size 32px
  color $import-text-color
// 无奈之举。UI各种字体都有
.f24
  font-size 24px
.f18,
.md-text
  font-size 18px
.f16
  font-size 16px
.title
  font-size 16px
  color $import-text-color
.small-text
  font-size 12px
// margin-bottom
.mb60
  margin-bottom 60px !important

.block {
  display block
}

button
  outline 0

button[type=primary]
  background-color $primary-color
  border-color $primary-color
  color white

// TODO 记得抽取常用样式
a
  text-decoration none
  color $primary-color

.bolder
  color $import-text-color
  font-weight bolder

.text-center
  text-align center

// 元素内换行
p
  white-space pre-wrap

.flex
  display flex

// TODO 记得抽取常用样式 end

.container
  max-width 1200px
  margin 0 auto

  .container-item
    flex 1

// layout
.navbar
  display flex
  align-items center
  justify-content space-between
  height 60px
  line-height 60px
  padding 0 20px
  background-color $import-text-color

  .navbar-section
    display flex

  .logo
    display flex
    align-items center
    margin-right 120px
  .logo-img
    // vertical-align middle

  .nav-item
    margin-right 30px
    color white
    &:hover
      color $primary-color
      // cursor auto
  .btn
    padding 5px 10px
    color white
    background-color $primary-color

#footer
  background-color $import-text-color
  .md-text
    color white
  .feature
    display flex
    height 95px
    box-shadow 0 1px 0 0 #333333
  .feature-item
    display flex
    align-items center
    padding 20px 0
    margin-right 120px
    .md-text
      margin 0 0 10px

    .font_family
      font-size 34px
      margin-right 20px

  .product
    display flex

    .product-item
      width 240px
      figure
        margin 0 0 20px
    .md-text
      margin 30px 0
    .product-link
      display block
      margin-bottom 15px
      color $normal-text-color

// 可复用样式
.arrow-right {
  width 9px
  height @width
  border-top 1px solid
  border-right 1px solid
  border-color $border-color
  transform rotate(45deg)
}

// login/register/customer-info 有用
.form-box
  width 370px
  padding 30px 10px
  background-color white
  border 1px solid $second-color

  .error
    background-color $page-bg-color
    display none
    &.active
      display block

  button[type=primary]
    display block
    width 100%
    margin 18px 0
    padding 10px
    font-size 16px

  .form-title
    font-weight bolder

  form
    margin 24px 0

  fieldset
    padding 10px
    margin 0 0 18px
    border 1px solid $second-color

    label
      display inline-block
      width 88px
      padding-left 10px
      border-right 1px solid $second-color

    // TODO another child flex ?
    select,
    input
      padding-left 10px
      width calc(100% - 88px)
      border 0
      outline 0
    select
      text-indent 5px
      background-color white

// cooperation/product/solution 有用
.first-sight
  padding 100px 0 120px
  color white
  background-color #000
  .desc
    margin 48px 0
    font-size 16px
    max-width 600px
  .link-btn
    width 144px
    height $btn-height
    line-height $btn-height - 2px
    color white
    border 1px solid white
    background-color $import-text-color
// 客户案例
.show-case
  padding 80px 0
  .show-case-title
    margin-bottom 20px
    text-align center
    font-size 28px
    color $dark
  .show-case-content
    margin-top 90px
// a 元素 使用 link-btn 样式
.link-btn
  display inline-block
  width 120px
  height $btn-height
  line-height $btn-height
  border 1px solid $dark
  text-align center
  color $dark
  background-color white
  cursor pointer


// 图文样式: 左边是图片, 右边是文字(文字又分上下)。 首页有用
.figure
  display flex
  align-items center
  padding 25px 0

  .figure-text
    max-width 155px
    font-size 12px

  .figure-title
    margin 0 0 10px
    font-size 16px
    color $dark

  .figure-img
    height 80px
    margin-right 20px

// 容器下的图文, 自动伸缩
.container .figure
  flex 1

.divider
  display block
  width 100%
  height 1px
  border-bottom 1px solid $border-color
@import "index.styl"
@import "solution.styl"

// product 产品
.product
  .first-sight
    padding-bottom 0
  .first-sight-anchor
    margin-top 70px
    background-color rgba(32, 35, 41, .6)
    height 50px
    line-height 50px
    .container
      display flex
      justify-content space-between
      a
        color #fff
        &.active
          color $primary-color
  #four-sight {
    background url("../images/product-s2-bg.jpg") no-repeat center
    color #fff
    .media-wrap {
      display flex
    }
    .media {
      width 50%
      display inline-block
      margin-bottom 30px
    }
    .media-left {
      padding-right 40px
    }
    .media-object {
      display flex
      align-items center
      justify-content center
      width 160px
      height 160px
      border-radius 50%
      border 1px solid $border-color
      .font_family {
        font-size 72px
      }
    }
    .media-heading {
      padding 20px 0
      margin-bottom 0
    }
    .media-body {
      width 318px
    }
  }
// faq
.faq
  .container
    display flex

  .menu
    min-width 220px
    background-color #ECF0F4

  .menu-item
    &.active
      color $primary-color
      border-left 2px solid $primary-color

// header
$header-height = 80px
#header
  position relative
  height $header-height
  line-height $header-height

  .nav
    position fixed
    left 0
    right 0
    margin auto
    height $header-height
    width 1100px
    display flex
    align-items center

  .logo
    height 48px

  .menu
    display flex
    list-style none

.login
  display flex
  justify-content center
  .login-footer
    margin-bottom 32px
    display flex
    justify-content space-between

.register
  display flex
  justify-content center
  .get-code
    padding 0 0 0 10px

    label
      padding-left 10px

    input
      width auto

    .get-code-btn
      display inline-block
      width 111px
      height 100%
      line-height 46px
      background-color $page-bg-color
      border-color transparent
      &:active
        border-color $second-color
 // tab 组件
  .component-tabs-wrap {
    .component-tabs {
      display flex
      justify-content space-between
      height 80px
      padding 0 42px
      border 1px solid transparent
      border-bottom 1px solid $border-color
    }
    .component-tab {
      display flex
      align-items center
      cursor pointer
      .word-block {
        position relative
        display flex
        align-self stretch
        align-items center
      }
      &:hover,
      &.active{
        color $primary-color
        .word-block {
          &:after{
            content ""
            width 80%
            height 2px
            position absolute
            background $primary-color
            bottom 0
            left 10%
          }
        }
      }
    }
    .component-tab-content {
      .left-side,
      .right-side {
        display table-cell
        vertical-align top
      }
      .right-side {
        padding 60px
      }
    }
    .font_family {
      font-size 30px
      margin-right 15px
    }
  }

//customer-info
.customer-info 

 .container 
    margin 60px auto 100px 

  .first-sight 
    padding 60px 0
  
  .content 
    width 80%
    margin auto
    display flex
  
  .content-half
    width 50%

    .form-box 
      margin auto
      
// 接入平台
@import "platform-check-in.styl"


