.product
  .first-sight
    padding-bottom 0

  .product-media
    background url("../images/product-s2-bg.jpg") no-repeat center
    color #fff

    .media-wrap
      display flex

    .media
      width 50%
      display inline-block
      margin-bottom 30px

    .media-left
      padding-right 40px

    .media-object
      display flex
      align-items center
      justify-content center
      box-sizing border-box
      width 160px
      height 160px
      border-radius 50%
      border 1px solid $border-color
      .font_family
        font-size 64px

    .media-heading
      padding 10px 0 20px
      margin-bottom 0

    .media-body
      width 318px

  .wide-figure {
    display flex
    justify-content space-between
    align-items center
    margin-top 40px

    .figure-text {
      width auto
    }

    .font_family {
      height auto
    }
  }

  .artichet {
    .tab-content {
      display none
    }

    .artichet-radio:checked + .tab-content {
      display block
    }

    .tab-controller {
      width 140px
      margin-right 20px
      cursor pointer
      border-color $normal-text-color

      &.active {
        color white
        background-color $normal-text-color
      }
    }
  }

