.solution {
  .ad {
    .container-item {
      box-sizing border-box
      padding 48px 42px 66px
      height 300px
      border-right 1px solid $border-color
      border-bottom 1px solid $border-color

      &:first-child {
        border-left 1px solid $border-color
      }

      .md-text {
        margin 28px 0 20px
      }
    }
  }

  .total-view {
    background-color white

    .total-view-img {
      //width 300px
      //height 320px
      margin-right 80px
    }

    .figure-box {
      margin-top 96px
    }

    .figure-img {
      height auto
    }

    .figure-text {
      width auto
    }
  }

  .core-business {
    background url(../images/index-banner.jpg) no-repeat center
    .business-item {
      box-sizing border-box
      display flex
      align-items center
      justify-content center
      height 80px
      margin-bottom 20px
      border-top 1px solid white
      border-bottom 1px solid white
      border-right 1px solid white

      &.active {
        background-image linear-gradient(to bottom, #0066FF 0, #0099FF 100%)
      }

      &:first-child {
        border-left 1px solid white
      }
    }
    .font_family {
      margin-right 20px
    }

    .tab-content {
      height 640px
      align-items center
    }
    .text {
      margin-left 60px
      max-width 440px
    }
  }
}
