.solution {
  .ad {
    .container-item {
      box-sizing border-box
      padding 48px 42px 66px
      height 300px
      border-right 1px solid $border-color
      border-bottom 1px solid $border-color

      .font_family {
        font-size 64px
      }

      &:first-child {
        border-left 1px solid $border-color
      }

      .md-text {
        margin 28px 0 24px
      }
    }
  }

  .total-view {
    background-color white

    .total-view-img {
      min-width 600px
      //height 320px
    }

    .figure-box {
      margin-top 96px
      margin-left 80px
    }

    .figure-img {
      height auto
    }

    .figure-text {
      width auto
    }
  }

   // tab 切换取代js关键样式 start
  .hide {
    display none
  }
  .tab-content-label {
    position relative
    cursor pointer
  }

  .tab-content {
    display none
  }

  // 两个label只能点击一个

  [name=tabContentRadio] {
    display none

    &:checked + .tab-content {
      display flex
    }
  }

  [name=tabLabelRadio]:checked + .tab-content-label {
    background-image linear-gradient(to bottom, #0066FF 0, #0099FF 100%)
  }

  // tab 切换样式 end

  .core-business {
    background url(../images/index-banner.jpg) no-repeat center
    .business-item {
      box-sizing border-box
      display flex
      align-items center
      justify-content center
      height 80px
      margin-bottom 20px
      border-top 1px solid white
      border-bottom 1px solid white
      border-left 1px solid white

      // 这个需要js
      &.active {
        background-image linear-gradient(to bottom, #0066FF 0, #0099FF 100%)
      }

      &:last-child {
        border-right 1px solid white
      }
    }
    .font_family {
      margin-right 20px
      font-size 40px
    }

    .tab-content {
      height 640px
      align-items center
    }
    .text {
      margin-left 60px
      max-width 440px
    }
  }
}
